
TUIContentItemStyle
{
    error-text-color : $COLOR_WARNING;
    small-text-width : 100;
    progress-indicator-width : 662;
    press-timeout : 200;
}

TUIContentItemStyle.Portrait
{
    progress-indicator-width : 288;
}

TUIContentItemStyle:pressed
{
    background-color : #6D7B8D;
}



