#MidCaptureIndicators {
    margin-left: $MARGIN_XLARGE;
    margin-right: $MARGIN_XLARGE;
    margin-top: $MARGIN_XLARGE;
    margin-bottom: $MARGIN_XLARGE;
    background-image: "meegotouch-camera-videocapture-timeelapsed-background";
    minimum-size: 8.9mm 3.0mm;
    maximum-size: 8.9mm 3.0mm;
    icon-margin-left: 0.5mm;
    icon-margin-right: 0.5mm;
    icon-margin-top: 0.5mm;
    icon-margin-bottom: 0.5mm;
    icon-size: 2mm 2mm;
    icon-id: "icon-m-camera-ongoing-recording";
    text-margin-top: 0.2mm;
    text-margin-left: 0;
    text-margin-right: 0;
    text-margin-bottom: 0;
    font: $FONT_SMALL;
    color: $COLOR_INVERTED_FOREGROUND;
}   

