/*
 * Ovi Startup stylesheet
 */

MApplicationPageStyle.Landscape
{
    background-image: ;
    background-color: ;
}

MApplicationPageStyle.Portrait
{
    background-image: ;
    background-color: ;
}

MApplicationWindowStyle#winStatusBarNoMenu {
    status-bar-style-name: "CommonStatusBarNoMenu";
}

/*
 * The left and right margin of the texts should be 16px everywhere
 */
#CommonBodyTextInverted
{
    margin-left:    16px;
    margin-right:   16px;
    margin-bottom:  16px;
}

#CommonHeaderInverted {
    width:  100%;
    height: 205px;
    color: $COLOR_ACCENT1;
    font: $FONT_FAMILY light 40px;

    margin-top:     0;
    margin-bottom:  16px;
    margin-left:    16px;
}

#CommonHeaderPanelInverted.Portrait {
    background-image: ;
    minimum-size:      100% 205px; 
    preferred-size:    100% 205px; 
    maximum-size:      100% 205px; 
    padding-top:       20px;
    margin-top:        15px;
    margin-left:       0px;
}

/* 
 * We try to align the buttons in the toolbar here.
 */
MWidgetController#CommonPanelNoFeedbackInverted MButtonStyle#CommonSingleButtonInverted
{
    margin-top: 0px;
    margin-bottom: 0px;
}

MWidgetController#CommonPanelNoFeedbackInverted MButtonStyle#CommonSingleButtonAccentInverted
{
    margin-top: 0px;
    margin-bottom: 0px;
}

MWidgetController#CommonPanelNoFeedbackInverted MButtonStyle#CommonLeftButtonInverted
{
    margin-top: 0px;
    margin-bottom: 0px;
    preferred-size: 51px 51px;
    minimum-size: 51px 51px;
    maximum-size: 51px 51px;
}

MWidgetController#CommonPanelNoFeedbackInverted MButtonStyle#CommonRightButtonInverted
{
    margin-top: 0px;
    margin-bottom: 0px;
    preferred-size: 51px 51px;
    minimum-size: 51px 51px;
    maximum-size: 51px 51px;
}

SpinnerWidget MButtonStyle#CommonRightButtonInverted {
    margin-top: 0px;
    margin-bottom: 0px;
    preferred-size: 51px 51px;
    minimum-size: 51px 51px;
    maximum-size: 51px 51px;
}

/*
 * The paragraphs inside the TermsPage.
 */
MWidgetController#TermsPageLayout MLabelStyle#CommonBodyTextInverted
{
    margin-top: 0px;
    margin-bottom: 16px;
    minimum-size: -1 24;
}

/*
 * Title labels for the crowded pages.
 */
/*
MWidgetController#CommonXLargeHeaderPanelInvertedSmall MLabelStyle#CommonXLargeHeaderInverted
{
    color: $COLOR_ACCENT1;
}

MWidgetController#CommonXLargeHeaderPanelInvertedSmall MLabelStyle#CommonLargeHeaderInverted
{
    color: $COLOR_ACCENT1;
}
*/

MDialogStyle#ConnectionRetryDialog
{
    has-title-bar: false;
}

PasswordRecoveryConfirmationDialog MLabelStyle#CommonQueryTitle {
    color: $COLOR_ACCENT1;
}

#NewAccountSpacer {
    minimum-size:   0 0;
    preferred-size: 100% 0;
    maximum-size:   100% 0;
    margin-top:     35px;
    margin-bottom:  0;
    margin-left:    0;
    margin-right:   0;
}

MLabelStyle#CherryActivateServiceLabel {
    minimum-size:   110px 100%;
    preferred-size: 110px 100%;
    maximum-size:   110px 100%;
    margin-left:    0;
    margin-right:   0;
    font:           $FONT_FAMILY normal 16px;
    color:          $COLOR_INVERTED_FOREGROUND;
}

#CherryServiceWidgetSeparator {
    minimum-size:   0 0;
    preferred-size: 0 100%;
    maximum-size:   0 100%;
    margin-top:     0;
    margin-bottom:  0;
    margin-left:    2px;
    margin-right:   2px;
}    

/*
 * SubTitles for the CherryPage class with style exceptions.
 */
MWidgetController#CherryPageSubTitle MLabelStyle#CommonBodyTextInverted {
    margin-top:     0;
    margin-bottom:  16px;
}

/* 
 * The footer label for the CreateEmailPage that shows the terms text.
 */
MWidgetController#FooterTermsLabel MLabelStyle#CommonBodyTextInverted {
    margin-top:     16px;
}

/*
 * Override for 'Need mail address?' page as it cannot fit on screen... :-S
 */
MWidgetController#PasswordPageWidget MLabelStyle#CommonBodyTextInverted {
    margin-bottom:  0;
}

MWidgetController#PasswordPageWidget MLabelStyle#CommonFieldLabelInverted {
    margin-top: 0;
}

MWidgetController#FirstFieldWidget MLabelStyle#CommonSubTitleInverted {
    margin-left:    0;
/*    margin-right:   0;*/
}

MListItemStyle {
    background-tiles: ;
    background-image: meegotouch-panel-inverted-background $CORNER_MARGINS;
}

MListItemStyle:pressed {
    background-tiles: ;
    background-image: meegotouch-panel-inverted-background-pressed $CORNER_MARGINS;
}

/* 
 * Elements of the account activation page.
 */
#ServiceNameLabel {
    font: $FONT_FAMILY light 18px;
    color: $COLOR_INVERTED_FOREGROUND;
}

#CommonMainIcon {
    margin-left: 0;
}

/*
 * ComboBox list for the portrait orientation, see NB#221679 for details.
 */
MComboBoxStyle#CommonComboBoxInverted {
    popup-list-type: "longitems";
}

MPopupListStyle[longitems] {
    item-word-wrap: true;
    item-style-name: "smallfontsitem";
}

MListItem#smallfontsitem MLabelStyle#CommonSingleTitle {
    font: $FONT_FAMILY 20;
}

/* copied from blanco mpopupliststyle.css #PopupListItem*/
#smallfontsitem {
    background-tiles: ;
    background-image: meegotouch-button-objectmenu-background-vertical-center;
    text-color:$COLOR_INVERTED_FOREGROUND;
}

#smallfontsitem:pressed {
    background-tiles: ;
    background-image: meegotouch-button-objectmenu-background-pressed-vertical-center;
}

#smallfontsitem:selected {
    background-tiles: ;
    background-image: meegotouch-button-objectmenu-background-selected-vertical-center;
}

PasswordRecoveryConfirmationDialog MLabelStyle#CommonQueryText {
    margin-top:     0;
    margin-bottom:  0;
}

