EmoticonSelectorWidget MDialogStyle#EmoticonDialogStyle{

    color: $COLOR_FOREGROUND;
    font: $FONT_FAMILY regular 22px;

    minimum-size: 10% 10%;
    preferred-size: 10% 10%;
    maximum-size: 10% 10%;
    dialog-minimum-size: 10% 10%;
    dialog-preferred-size: 10% 10%;
}

EmoticonSelectorWidgetViewStyle{

    columnCount:   6;

    margin-left:   0;
    margin-top:    5;
    margin-right:  0;
    margin-bottom: 5;
}

MGridItemStyle{
    iconAlign:  right;
    iconSize:   -1px 32px;
}
