AddressButtonStyle {
}

AddressButton MButtonStyle#CommonListIconButton {
    icon-id: "icon-m-common-search-inverse";
    minimum-size: 32px 32px;
    maximum-size: 32px 32px;
    preferred-size: 32px 32px;
    margin-right: 0;
}

AddressButton MButtonStyle#CommonListIconButton:pressed {
    content-opacity: 1.0;
}

AddressButton MLabelStyle#CommonTitleInverted {
    font: $FONT_FAMILY light 18;
    color: $COLOR_INVERTED_FOREGROUND;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

