LocatorBearingIndicatorStyle {
    minimum-size: 50 50;
    maximum-size: 50 50;
    preferred-size: 50 50;
    indicator-icon-id: "icon-m-common-location";
    appear-easing-curve: outback;
    appear-duration: 400;
    appear-overshoot: 5.5;
    disappear-easing-curve: inquint;
    disappear-duration: 300;
    disappear-overshoot: 0.0;
    distance-from-map-edges: 5;
}

