LocationPickerSettingsHelperStyle {
    list-view-list-max-results-per-location-source: 25;
    list-view-search-field-typing-delay: 750;
    list-view-max-recent-locations-shown: 25;
    map-view-indicator-distance-from-edge: 5;
    map-view-list-navigation-delay: 200;
    map-view-locator-reactive-distance-from-edge: 15;
    map-view-locator-tracking-frames-per-second: 30;
    map-view-locator-tracking-pan-speed-damping: 0.05;
    map-view-map-long-tap-time: 250;
    map-view-map-zoom-level-default: 13;
    map-view-map-zoom-level-world: 3;
    map-view-map-zoom-level-country: 4;
    map-view-map-zoom-level-city: 8;
    map-view-map-zoom-level-street: 13;
    map-view-map-globe-view-zoom-level: 2;
    map-view-map-pan-duration: 700;
}

