SearchBar MTextEditStyle#SearchSingleInputNoBackground {
  background-image: ;
}

SearchBar MImageWidgetStyle#SearchMagnifier { 
  /*margin-right: $INDENT_DEFAULT;*/
}

SearchBar MButtonStyle#SearchClearButton { 
    icon-size:      $SIZE_ICON_LARGE $SIZE_ICON_LARGE;
    margin-right: -10;
}

SearchBar MLabelStyle#CommonSearchField {
  padding-right: 0px;
}

SearchBar MLabelStyle#CommonSearchFieldInverted {
  padding-right: 0px;
}

#SearchBarBackground {
  background-image:  "meegotouch-search-input-field-background" 13 13 13 13;
}

#SearchBarBackgroundInverted {
  background-image: ;
}

ContentListStyle {
  batch-size: 16;
  cache-size: 4;
  cell-height: 89;
  info-label-ypos: 64;
}

ContentListStyle.Portrait {
  info-label-ypos: 128;
}

#SelectedItemsButtonStyle {
  background-image:  "meegotouch-search-selected-items-background" 10 10 10 10;
}

UsbModeLabel MLabelStyle#CommonEmptyStateTitleInverted { 
  color: $COLOR_ACCENT1;
}
