@import "../../libmeegotouchviews/style/commonlayouts/commonsheetstyle.css";

@const BUTTON_SIZE:   5.1mm;
@const BUTTON_HEIGHT: 3mm;
@const COMBO_MARGIN:  1.1mm;
@const ICON18:  1.8mm 1.8mm;

/* Avatar -> */
AvatarWidgetStyle {
    margin-left:   0;
    margin-top:    0;
    margin-right:  0;
    margin-bottom: 0;

    padding-left:   0;
    padding-top:    0;
    padding-right:  0;
    padding-bottom: 0;

    statusTextObjectName: "statusLabel";
    verticalStatusTextAlign: bottom;
    verticalNameLabelAlign:  top;
    presenceVisible: true;
    presenceIconStyleName: "presenceIcon";
    labelStyleName: "CommonAvatarInitials";
    down-state-effect: "MGraphicsHighlightEffect";
}

MWidgetController AvatarWidgetStyle#CommonThumbnail {
    label-style-name: "CommonAvatarInitials";
}

MWidgetController AvatarWidgetStyle#CommonLargeThumbnail {
    label-style-name: "CommonLargeAvatarInitials";
}

MWidgetController#CommonThumbnail MImageWidgetStyle#presenceIcon {
    margin-left:    0;
    margin-top:     0;
    margin-right:   0;
    margin-bottom:  0;
    maximum-size:   $ICON18;
    minimum-size:   $ICON18;
    preferred-size: $ICON18;
}

MWidgetController#CommonLargeThumbnail MImageWidgetStyle#presenceIcon {
    margin-left:    0;
    margin-top:     0;
    margin-right:   0;
    margin-bottom:  0;
    maximum-size:   $ICON18;
    minimum-size:   $ICON18;
    preferred-size: $ICON18;
}

/* might be too wide but for internal content of images it doesn't make sence
this ensures that presence indicator's internal content is not having interlal margins*/
MImageWidgetStyle {
    margin-left:   0;
    margin-top:    0;
    margin-right:  0;
    margin-bottom: 0;

    padding-left:   0;
    padding-top:    0;
    padding-right:  0;
    padding-bottom: 0;
}

/* <- Avatar */

/* Empty State page -> */
#emptyStatePage.Portrait {
    background-image: "meegotouch-accounts-portrait-background" 15px 15px 15px 15px;
}

#emptyStatePage.Landscape {
    background-image: "meegotouch-accounts-landscape-background" 15px 15px 15px 15px;
}

#emptyStatePageButtonPortraitSpacer {
    minimum-size: -1 0px;
    preferred-size: -1 40px;
    maximum-size: -1 40px;
}

#emptyStatePageBottomSpacer.Portrait {
    minimum-size: -1 0px;
    preferred-size: -1 72px;
    maximum-size: -1 72px;
}

#emptyStatePageBottomSpacer.Landscape {
    minimum-size: -1 0px;
    preferred-size: -1 12px;
    maximum-size: -1 12px;
}

/* Override text frame style, remove background image */
MWidgetController MWidgetStyle#CommonTextFrame {
    background-image: ;
}

/* <- Empty State page */

/* Contact card -> */

MWidgetController#contactCardNonInteractive MListItemStyle#CommonLargePanel {
    press-feedback:    ;
    release-feedback:  ;
}

MWidgetController#contactCardNonInteractive MListItemStyle#CommonLargePanel:pressed {
    background-tiles:  ;
    background-image:  $CP_BG;
    background-color:  ;
}

MWidgetController#contactCardNonInteractive MListItemStyle#CommonLargePanel:selected {
    background-tiles:  ;
    background-image:  $CP_BG;
    background-color:  ;
}

MStylableWidget#CommonLargePanel MLabelStyle#CommonSubTitle:selected {
    color: #000000;
}

MWidgetController#contactEditorExpanderPanel MButtonStyle#CommonSingleButton {
    preferred-size:  $BUTTON_SIZE $BUTTON_SIZE;
    maximum-size:    $BUTTON_SIZE $BUTTON_SIZE;
}

/* Override pressed background image for the list item in contact card */
MWidgetController#CommonTopFramePanel MListItemStyle#CommonPanel:pressed {
    background-image:  "meegotouch-list-background-pressed-top-left" 30px 30px 30px 30px;
}

MWidgetController#CommonBottomFramePanel MListItemStyle#CommonPanel:pressed {
    background-image:  "meegotouch-list-background-pressed-bottom-left" 30px 30px 30px 30px;
}

MWidgetController#CommonFramePanel MListItemStyle#CommonPanel:pressed {
    background-image:  "meegotouch-list-background-pressed-horizontal-left" 30px 30px 30px 30px;
}

MWidgetController#CommonTopFramePanel MListItemStyle#CommonLargePanel:pressed {
    background-image:  "meegotouch-list-background-pressed-top-left" 30px 30px 30px 30px;
}

MWidgetController#CommonBottomFramePanel MListItemStyle#CommonLargePanel:pressed {
    background-image:  "meegotouch-list-background-pressed-bottom-left" 30px 30px 30px 30px;
}

MWidgetController#CommonFramePanel MListItemStyle#CommonLargePanel:pressed {
    background-image:  "meegotouch-list-background-pressed-horizontal-left" 30px 30px 30px 30px;
}

MWidgetController#CommonTopFramePanel MListItemStyle#CommonLargePanelInverted:pressed {
    background-image:  "meegotouch-list-background-pressed-vertical-top" 30px 30px 30px 30px;
}

MWidgetController#CommonBottomFramePanel MListItemStyle#CommonLargePanelInverted:pressed {
    background-image:  "meegotouch-list-background-pressed-vertical-bottom" 30px 30px 30px 30px;
}

MWidgetController#CommonFramePanel MListItemStyle#CommonLargePanelInverted:pressed {
    background-image:  "meegotouch-list-background-pressed" 30px 30px 30px 30px;
}

MWidgetController#CommonCenterFramePanel MListItemStyle#CommonLargePanelInverted:pressed {
    background-image:  "meegotouch-list-background-pressed-center-left" 30px 30px 30px 30px;
}

MWidgetController#CommonCenterFramePanel MListItemStyle#CommonLargePanel:pressed {
    background-image:  "meegotouch-list-background-pressed-center-left" 30px 30px 30px 30px;
}

MWidgetController#CommonFramePanel MListItemStyle#CommonPanelNoFeedback {
    preferred-size:    -1 -1;
    maximum-size:      -1 -1;
}

MWidgetController#CommonCenterFramePanel MListItemStyle#CommonPanelNoFeedback {
    preferred-size:    -1 -1;
    maximum-size:      -1 -1;
}

MWidgetController#CommonBottomFramePanel MListItemStyle#CommonPanelNoFeedback {
    preferred-size:    -1 -1;
    maximum-size:      -1 -1;
}

MWidgetController#CommonTopFramePanel MListItemStyle#CommonPanelNoFeedback {
    preferred-size:    -1 -1;
    maximum-size:      -1 -1;
}

MListItem#CommonPanelNoFeedback MLabelStyle#CommonSingleTitle:pressed {
    color:         $CTITLE_COLOR;
}

MStylableWidget#CommonEditorInputFieldPanel MLabelStyle#CommonSingleTitle:disabled {
    color: ;
    text-opacity: 0.3;
}

MListItem#CommonPanelNoFeedbackInverted MLabelStyle#CommonSingleTitleInverted:pressed {
    color:         $CTITLE_COLOR_INVERTED;
}

MListItem#CommonPanelNoFeedback MLabelStyle#CommonTitle:pressed {
    color:         $CTITLE_COLOR;
}

MListItem#CommonPanelNoFeedback MLabelStyle#CommonSubTitle:pressed {
    color:         $COLOR_SECONDARY_FOREGROUND;
}

MListItem#CommonPanelNoFeedback MImageWidgetStyle#CommonThumbnail {
    margin-left:   3.2mm;   /* Doubled $INDENT_DEFAULT */
}

/* Panel for contact card item buttons: SMS, VOIP, Drive, Chat, etc. */
MWidgetController MListItemStyle#contactsRightClickablePanel {
    minimum-size:      $SIZE_LIST $SIZE_LIST;
    preferred-size:    -1 -1;
    maximum-size:      -1 -1;
    background-tiles:  ;
    background-image:  ;
    background-color:  ;
    margin-top:        0;
    margin-bottom:     0;
    margin-left:       0;
    margin-right:      0;
}

MWidgetController#CommonFramePanel MListItemStyle#contactsRightClickablePanel:pressed {
    background-image:  "meegotouch-list-background-pressed-horizontal-right" 30px 30px 30px 30px;
}

MWidgetController#CommonTopFramePanel MListItemStyle#contactsRightClickablePanel:pressed {
    background-image:  "meegotouch-list-background-pressed-top-right" 30px 30px 30px 30px;
}

MWidgetController#CommonCenterFramePanel MListItemStyle#contactsRightClickablePanel:pressed {
    background-image:  "meegotouch-list-background-pressed-center-right" 30px 30px 30px 30px;
}

MWidgetController#CommonBottomFramePanel MListItemStyle#contactsRightClickablePanel:pressed {
    background-image:  "meegotouch-list-background-pressed-bottom-right" 30px 30px 30px 30px;
}

MWidgetController MListItemStyle#contactsMiddleClickablePanel {
    minimum-size:      $SIZE_LIST $SIZE_LIST;
    preferred-size:    -1 -1;
    maximum-size:      -1 -1;
    background-tiles:  ;
    background-image:  ;
    background-color:  ;
    margin-top:        0;
    margin-bottom:     0;
    margin-left:       0;
    margin-right:      0;
}

MWidgetController#CommonFramePanel MListItemStyle#contactsMiddleClickablePanel:pressed {
    background-image:  "meegotouch-list-background-pressed-center" 30px 30px 30px 30px;
}

MWidgetController#CommonTopFramePanel MListItemStyle#contactsMiddleClickablePanel:pressed {
    background-image:  "meegotouch-list-background-pressed-top-center" 30px 30px 30px 30px;
}

MWidgetController#CommonBottomFramePanel MListItemStyle#contactsMiddleClickablePanel:pressed {
    background-image:  "meegotouch-list-background-pressed-bottom-center" 30px 30px 30px 30px;
}

/* Override vertical separator style, add some margins */
MWidgetController MSeparatorStyle#CommonVerticalSeparator {
    margin-top:     1.5mm;
    margin-bottom:  1.5mm;
}

/* Override item divider style, add some margins */
MWidgetController#contactCardItemPanel MSeparatorStyle#CommonItemDivider {
    margin-left:       $INDENT_DEFAULT;
    margin-right:      $INDENT_DEFAULT;
}

MWidgetController#contactCardItemPanelExp MSeparatorStyle#CommonItemDivider {
    margin-left:       $INDENT_DEFAULT;
    margin-right:      $INDENT_DEFAULT;
}

/* Override styles of list items frames (for the large panels like address item) */
MWidgetController#contactCardItemPanelExp MWidgetStyle#CommonFramePanel {
    preferred-size: -1 -1;
    maximum-size: -1 -1;
}

MWidgetController#contactCardItemPanelExp MWidgetStyle#CommonTopFramePanel {
    preferred-size: -1 -1;
    maximum-size: -1 -1;
}

MWidgetController#contactCardItemPanelExp MWidgetStyle#CommonBottomFramePanel {
    preferred-size: -1 -1;
    maximum-size: -1 -1;
}

MWidgetController#contactCardItemPanelExp MWidgetStyle#CommonCenterFramePanel {
    preferred-size: -1 -1;
    maximum-size: -1 -1;
}

MWidgetController#contactCardItemPanelExp MWidgetStyle#CommonPanel {
    preferred-size: -1 -1;
    maximum-size: -1 -1;
}

/* Override the style of CommonButtonIcon for the contact card item */
MWidgetController#CommonPanel MButtonStyle#CommonButtonIcon {
    margin-right:   1.6mm;
}

MWidgetController#CommonLargePanel MButtonStyle#CommonButtonIcon {
    margin-right:   1.6mm;
}

MWidgetController#CommonFramePanel MButtonStyle#CommonButtonIcon {
    margin-right:   1.6mm;
}

MWidgetController#CommonTopFramePanel MButtonStyle#CommonButtonIcon {
    margin-right:   1.6mm;
}

MWidgetController#CommonCenterFramePanel MButtonStyle#CommonButtonIcon {
    margin-right:   1.6mm;
}

MWidgetController#CommonBottomFramePanel MButtonStyle#CommonButtonIcon {
    margin-right:   1.6mm;
}

/* Used in editor and card */
MWidgetController#CommonLargeHeaderPanel MLabelStyle#CommonLargeHeader {
    font: $FONT_FAMILY light 32
}

/* Used in editor */
MWidgetController#CommonXLargeHeaderPanel MLabelStyle#CommonLargeHeader {
    font: $FONT_FAMILY light 32
}

MLabelStyle#nickNameStyle {
    color: $COLOR_ACCENT7;
}

/* <- Contact card */


/* Editor page -> */

#editorLayoutPolicy {
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;

    padding-left:   0;
    padding-top:    0;
    padding-right:  0;
    padding-bottom: 0;
}

#contactEditorSection {
    background-opacity: 0.0;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;

    padding-left:   0;
    padding-top:    0;
    padding-right:  0;
    padding-bottom: 0;
}

MWidgetController#CommonEditorInputFieldPanel MLabelStyle#CommonEditorInputFieldLabel {
    highlight-color: $COLOR_SECONDARY_FOREGROUND;
}

MWidgetController#CommonEditorInputFieldPanel MLabelStyle#CommonEditorInputFieldLabel:selected {
    highlight-color: $COLOR_ACCENT1;
}

MWidgetController#CommonEditorInputFieldPanel MLabelStyle#CommonEditorInputFieldLabel:disabled {
    text-opacity: 0.3;
}

MWidgetController#contactEditorInputFieldPanel MLabelStyle#CommonEditorInputFieldLabel:pressed {
    text-opacity: 0.3;
}

MWidgetController#CommonEditorInputFieldPanel MTextEditStyle#CommonEditorInputField {
    prompt-color: $COLOR_ACCENT1;
    prompt-font: $FONT_FAMILY_LIGHT 26;
}

MWidgetController#CommonEditorInputFieldPanel MTextEditStyle#CommonEditorInputField:disabled {
    prompt-color: $COLOR_EDITOR_PROMPT;
}

MWidgetController#CommonEditorInputFieldPanel MTextEditStyle#CommonEditorInputField:selected {
    prompt-color: $COLOR_EDITOR_PROMPT;
    prompt-font: $FONT_FAMILY 26;
}

MWidgetController#CommonEditorInputFieldPanel MTextEditStyle#CommonEditorInputField:pressed {
    background-tiles: none;
    background-image: $CEP_BG_PRESSED;
}

MWidgetController#contactEditorInputFieldPanel MTextEditStyle#CommonEditorInputField {
    prompt-color: $COLOR_ACCENT1;
    prompt-font: $FONT_FAMILY_LIGHT 26;
}

MWidgetController#contactEditorInputFieldPanel MTextEditStyle#CommonEditorInputField:disabled {
    prompt-color: $COLOR_EDITOR_PROMPT;
}

/* multiline field, others not focused */
MWidgetController#contactEditorInputFieldPanel MTextEditStyle#CommonEditorInputField:selected {
    prompt-color: $COLOR_EDITOR_PROMPT;
    prompt-font: $FONT_FAMILY 26;
}

MWidgetController#CommonPanelNoFeedback MLabelStyle#CommonEditorInputFieldValue:disabled {
    text-opacity: 0.3;
    text-color: $COLOR_BUTTON_DISABLED_FOREGROUND;
}

/* birthday field */
MListItem#CommonPanelNoFeedback MLabelStyle#CommonEditorInputFieldPrompt {
    color: $COLOR_ACCENT1;
    font: $FONT_FAMILY_LIGHT 26;
}

MWidgetController#CommonEditorInputFieldPanel MTextEditStyle#CommonEditorNoteArea:disabled {
    background-image: ;
    text-color: $COLOR_BUTTON_DISABLED_FOREGROUND;
    padding-top: 0;
}

/* this is the button-looking combobox */
MWidgetController#contactEditorSection MComboBoxStyle#CommonComboBoxButtonNoTitle {
    margin-top: $COMBO_MARGIN;
    minimum-size: 18mm -1;
    preferred-size: -1 -1;
    maximum-size: -1 -1;
}

MComboBox#CommonComboBoxButtonNoTitle MListItemStyle[labelButton] {
    minimum-size: 18mm $BUTTON_SIZE;
    preferred-size: -1 $BUTTON_SIZE;
    maximum-size: -1 $BUTTON_SIZE;
}

MWidgetController#contactEditorSection MComboBoxStyle#contactEditorCombo {
    title-object-name: "CommonFieldLabel";
    sub-title-object-name: "CommonButtonLabel";
}

/* Override MButton style here */
MWidgetController#contactEditorSection MButtonStyle#CommonSingleButtonNegative {
    margin-top: $COMBO_MARGIN;
    preferred-size:  $BUTTON_SIZE $BUTTON_SIZE;
    maximum-size:    $BUTTON_SIZE $BUTTON_SIZE;
}

MWidgetController#contactEditorSection MButtonStyle#CommonSingleButton {
    preferred-size:  $BUTTON_SIZE $BUTTON_SIZE;
    maximum-size:    $BUTTON_SIZE $BUTTON_SIZE;
}

MWidgetController#contactEditorSection MButtonStyle#CommonSingleButtonInverted {
    preferred-size:  $BUTTON_SIZE $BUTTON_SIZE;
    maximum-size:    $BUTTON_SIZE $BUTTON_SIZE;
}

MWidgetController#CommonXLargeHeaderPanel MButtonStyle#CommonSingleButtonNegative {
    preferred-size:  $BUTTON_SIZE $BUTTON_SIZE;
    maximum-size:    $BUTTON_SIZE $BUTTON_SIZE;
}

MWidgetController#CommonXLargeHeaderPanel MButtonStyle#CommonSingleButton {
    preferred-size:  $BUTTON_SIZE $BUTTON_SIZE;
    maximum-size:    $BUTTON_SIZE $BUTTON_SIZE;
}

MWidgetController#CommonXLargeHeaderPanel MButtonStyle#CommonSingleButtonInverted {
    preferred-size:  $BUTTON_SIZE $BUTTON_SIZE;
    maximum-size:    $BUTTON_SIZE $BUTTON_SIZE;
}

MWidgetController#CommonLargeHeaderPanel MButtonStyle#CommonSingleButtonNegative {
    preferred-size:  $BUTTON_SIZE $BUTTON_SIZE;
    maximum-size:    $BUTTON_SIZE $BUTTON_SIZE;
}

MWidgetController#CommonLargeHeaderPanel MButtonStyle#CommonSingleButton {
    preferred-size:  $BUTTON_SIZE $BUTTON_SIZE;
    maximum-size:    $BUTTON_SIZE $BUTTON_SIZE;
}
MWidgetController#CommonLargeHeaderPanel MButtonStyle#CommonSingleButtonInverted {
    preferred-size:  $BUTTON_SIZE $BUTTON_SIZE;
    maximum-size:    $BUTTON_SIZE $BUTTON_SIZE;
}
/* End of MButton style customization */

MWidgetController#CommonPanelInverted MImageWidgetStyle#CommonDrilldownIcon {
    margin-right:   $INDENT_DEFAULT;
}

MWidgetController#CommonLargePanel MButtonStyle#editorSingleButton {
    margin-right : $INDENT_DEFAULT;
    margin-left : $INDENT_DEFAULT;
    margin-bottom : $MARGIN_XXLARGE;
    margin-top : $MARGIN_XLARGE;
}

/* Panel for editor which does not have background */

#contactEditorInputFieldPanel {
    minimum-size:      56 56;
    preferred-size:    100% -1;
    maximum-size:      100% 100%;
    background-tiles:  ;
    background-image:  ;
    background-color:  ;
    margin-top:        0;
    margin-bottom:     0;
    margin-left:       0;
    margin-right:      0;
}

#contactEditorInputFieldPanel:pressed {
    background-tiles: none;
    background-image: $CEP_BG_PRESSED;
}

#contactEditorMainSectionPanel {
    background-color: $COLOR_BACKGROUND;
}

/* Editor remove icon button style without background */
MWidgetController#CommonEditorInputFieldPanel MButtonStyle:selected {
    background-image:  ;
    background-color:  ;
}

MWidgetController#CommonEditorInputFieldPanel MListItemStyle#CommonPanelNoFeedback {
    minimum-size:      56 56;
    preferred-size:    100% -1;
    maximum-size:      100% 100%;
}

MWidgetController MButtonStyle#MonthNameButton {
    text-color: #000000;
}

DatePickerStyle#contactDatePicker {
    current-month-color: #000000;
    week-day-name-weekend-color: $COLOR_ACCENT7;
    background-image: "meegotouch-calendar-monthgrid-background-landscape";
    selected-day-image: "meegotouch-datepicker-monthgrid-daycell-selected-day-portrait" 16 16 16 16;
    current-day-image: "meegotouch-monthgrid-daycell-current-day-landscape" 16 16 16 16;
    
    month-dialog-sheet-style: ;
    month-dialog-sheet-header-style: ;
    month-dialog-list-style: ;
    month-dialog-list-item-style: ;
    month-dialog-list-item-title-style: ;
}

/* <- Editor page */


/* Contact picker -> */

/* <- Contact picker */

/* Contact detail selector -> */
#contactDetailSelector {
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
}

MWidgetController#CommonPanelInverted MLabelStyle#CommonTitleBottom {
    color : $COLOR_ACCENT1;
}

MWidgetController#CommonPanelInverted MLabelStyle#CommonTitleBottom:pressed {
    color : $COLOR_ACCENT1;
}

MWidgetController#CommonPanelInverted MLabelStyle#CommonTitleBottom:selected {
    color : $CTITLE_COLOR_SELECTED_INVERTED;
}

/* <- Contact detail selector */

ContactListWidget MLabelStyle#CommonGroupHeader
{
    horizontal-alignment: right;
}

/* <- Contact list */

#CommonHeaderPanel {
    background-image: color7-meegotouch-view-header-fixed $CORNER_MARGINS;
    background-color: ;
}

/* Common stuff -> */
#NoMarginNoSpacingPolicy {
    horizontalSpacing: 0;
    verticalSpacing:   0;
    marginLeft:        0;
    marginTop:         0;
    marginRight:       0;
    marginBottom:      0;
}

#VerticalSpacer {
    minimum-size: -1 0.1mm;
    maximum-size: -1 0.1mm;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0;
}

#sheetToolbar {
    background-image: "meegotouch-toolbar-portrait-background" $CORNER_MARGINS;
}

#blackPage {
    background-image: ;
    background-color: #000000;
}

/* <- Common stuff */

#ContactsMergingItemWidget {
    preferred-size: -1 60;
    minimum-size: -1 60;
    maximum-size: -1 60;
}

/* Voicemail dialog -> */
MWidgetController#CommonSmallPanel MButtonStyle#CommonRightRadioButton {
    preferred-size:  $BUTTON_SIZE $BUTTON_SIZE;
    maximum-size:    $BUTTON_SIZE $BUTTON_SIZE;
}

/*<- voicemail dialog  */

/* Search -> */

MWidgetController#searchFilterWidget MTextEditStyle#CommonSearchField {
    padding-right: 52px;
}

SearchFieldWidget MWidgetStyle#searchButtonWidget {
    minimum-size: 100% -1;
    preferred-size: 100% -1;
}

MStylableWidget MImageWidgetStyle#searchMagnifier {
    margin-top:     $MARGIN_XLARGE;
    margin-bottom:  $MARGIN_XLARGE;
    margin-left:    0;
    margin-right:   $MARGIN_XLARGE;
}

MStylableWidget MButtonStyle#searchClear {
    minimum-size: $SIZE_BUTTON $SIZE_BUTTON;
    preferred-size: $SIZE_BUTTON $SIZE_BUTTON;
    maximum-size: $SIZE_BUTTON $SIZE_BUTTON;

    margin-top: $MARGIN_LARGE;
    margin-bottom: $MARGIN_LARGE;
    margin-left: 0;
    margin-right: $MARGIN_LARGE;

    icon-size: $SIZE_ICON_LARGE $SIZE_ICON_LARGE;
}

/*<- Search  */

/*<- SyncTo dialog */
MDialog MListItemStyle#CommonPanelInverted:selected {
    background-tiles: none;
    background-image: none;
    background-color: #3D3D3D;
}

