// emergency call button
@const C_DEVLOCK_CHANGEPWD_EMERGCALL_BUTTON_BG: meegotouch-emergency-call-numpad-button-background-active 0 0 0 0;
@const C_DEVLOCK_CHANGEPWD_EMERGCALL_BUTTON_BG_PRESSED: meegotouch-emergency-call-numpad-button-background-active-pressed 0 0 0 0;
@const C_DEVLOCK_CHANGEPWD_EMERGCALL_BUTTON_BG_DISABLED: meegotouch-emergency-call-numpad-button-background 0 0 0 0;

@const C_DEVLOCK_CHANGEPWD_EMERGCALL_BUTTON_SIZE: 7.0mm 7.0mm;
@const C_DEVLOCK_CHANGEPWD_EMERGCALL_MARGIN_HOR: 1.0mm;
@const C_DEVLOCK_CHANGEPWD_EMERGCALL_MARGIN_VER: 1.0mm;
@const C_DEVLOCK_CHANGEPWD_EMERGCALL_PADDING_HOR: 0.5mm;
@const C_DEVLOCK_CHANGEPWD_EMERGCALL_PADDING_VER: 0.5mm;


// ----------------------------------------------------------------------------
// Change Password Widget
// ----------------------------------------------------------------------------

ChangePasswordWidgetStyle
{
    title-spacer-style-name: "CommonSmallSpacer";
    header-style-name: "CommonHeaderInverted";
    field-header-style-name: "CommonFieldLabelInverted";
    field-style-name: "CommonSingleInputFieldInverted";
    field-spacer-style-name: "CommonSpacer";
    save-button-style-name: "CommonSheetHeaderButtonAccentInverted";
    cancel-button-style-name: "CommonSheetHeaderButtonInverted";
    requirement-label-style-name: "CommonFieldLabelInverted";
    failed-attempts-label-style-name: "CommonFieldLabelInverted";
    after-fields-spacer-style-name: "CommonLargeSpacer";
}

// disable copy/paste feature for any text field
ChangePasswordWidget MTextEditStyle
{
    disable-toolbar: true;
}

ChangePasswordWidget MButtonStyle#changePasswordEmergencyButton {
    background-image: $C_DEVLOCK_CHANGEPWD_EMERGCALL_BUTTON_BG_DISABLED;
    background-color:;
    margin-left: $C_DEVLOCK_CHANGEPWD_EMERGCALL_MARGIN_HOR;
    margin-right: $C_DEVLOCK_CHANGEPWD_EMERGCALL_MARGIN_HOR;
    margin-top: $C_DEVLOCK_CHANGEPWD_EMERGCALL_MARGIN_VER;
    margin-bottom: $C_DEVLOCK_CHANGEPWD_EMERGCALL_MARGIN_VER;
    padding-left: $C_DEVLOCK_CHANGEPWD_EMERGCALL_PADDING_HOR;
    padding-right: $C_DEVLOCK_CHANGEPWD_EMERGCALL_PADDING_HOR;
    padding-top: $C_DEVLOCK_CHANGEPWD_EMERGCALL_PADDING_VER;
    padding-bottom: $C_DEVLOCK_CHANGEPWD_EMERGCALL_PADDING_VER;
    minimum-size: $C_DEVLOCK_CHANGEPWD_EMERGCALL_BUTTON_SIZE;
    maximum-size: $C_DEVLOCK_CHANGEPWD_EMERGCALL_BUTTON_SIZE;
    preferred-size: $C_DEVLOCK_CHANGEPWD_EMERGCALL_BUTTON_SIZE;
    press-feedback: priority2_static_press;
    release-feedback: priority2_static_release;
}

ChangePasswordWidget MButtonStyle#changePasswordEmergencyButton:pressed {
    background-image: $C_DEVLOCK_CHANGEPWD_EMERGCALL_BUTTON_BG_PRESSED;
}
