@import "changepassword.css";
@import "numpad.css";

LockWindow MWindowStyle {
    x11-startup-pixmap: ;
    startup-fill-color: ;
}

LockWindow MApplicationWindowStyle {
    status-bar-style-name: "CommonStatusBarNoMenu";
}

// ----------------------------------------------------------------------------
// Lock Stylable Widget
// ----------------------------------------------------------------------------

@const C_DEVLOCK_LOWER_CORNER_MARGINS: 12 12 12 12;
@const C_DEVLOCK_LOWER_BG: meegotouch-devicelock-background $C_DEVLOCK_LOWER_CORNER_MARGINS;

LockStylableWidgetStyle
{
    background-image: $C_DEVLOCK_LOWER_BG;
}

// emergency call button in usual mode
LockStylableWidget MButtonStyle[emergencyCall]#CommonSingleButtonInverted:pressed
{
    background-image: meegotouch-emergency-call-numpad-button-background-active-pressed 0 0 0 0;
}

// ----------------------------------------------------------------------------
// Lock Input Widget
// ----------------------------------------------------------------------------

@const C_DEVLOCK_INPUTWIDGET_HEIGHT: 244px;

@const C_DEVLOCK_CORNER_MARGINS: 12 12 12 12;
@const C_DEVLOCK_BG: meegotouch-devicelock-input-background $C_DEVLOCK_CORNER_MARGINS;
@const C_DEVLOCK_BG_WARN: meegotouch-devicelock-input-error-background $C_DEVLOCK_CORNER_MARGINS;

@const C_DEVLOCK_INPUT_BG: $C_DEVLOCK_BG;
@const C_DEVLOCK_INPUT_BG_WARN: $C_DEVLOCK_BG_WARN;

PwdTextEditStyle
{
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;

    background-image: ;
    disable-magnifier: true;
    disable-toolbar: true;

    text-opacity: 1.0;
    aged-text-opacity: 0.5;

    max-characters-per-line: 12;
    max-visible-lines: 2;
    font: $FONT_FAMILY light 100px;
    font-min-scale: 0.68;
    letter-spacing: 85.0;
}

PwdTextEditStyle:selected
{
    background-image: ;
}

LockInputWidgetStyle
{
    padding-left:           0px;
    padding-top:            0px;
    padding-right:          0px;
    padding-bottom:         0px;

    margin-left:            0px;
    margin-right:           0px;
    margin-top:             0px;
    margin-bottom:          0px;

    minimum-size: -1 $C_DEVLOCK_INPUTWIDGET_HEIGHT;
    preferred-size: -1 $C_DEVLOCK_INPUTWIDGET_HEIGHT;
    maximum-size: -1 $C_DEVLOCK_INPUTWIDGET_HEIGHT;

    background-tiles:;
    background-boxed-percent: 0;

    background-color: ;
    background-image: $C_DEVLOCK_BG;
    background-opacity: 1.0;
}

LockInputWidgetStyle:warning
{
    background-tiles: ;
    background-image: $C_DEVLOCK_BG_WARN;
}

LockInputWidget MLabelStyle[primaryInfo] {
    margin-left: $INDENT_DEFAULT;
    margin-right: $INDENT_DEFAULT;
    margin-top: 18px;
    margin-bottom: 0;
    font: $FONT_FAMILY 26px;
    color: $COLOR_INVERTED_FOREGROUND;
    minimum-size: -1 29px;
    preferred-size: -1 29px;
    maximum-size: -1 29px;
}

LockInputWidget MLabelStyle[notification] {
    margin-left: $INDENT_DEFAULT;
    margin-right: $INDENT_DEFAULT;
    margin-top: $MARGIN_MEDIUM;
    margin-bottom: 0;
    font: $FONT_FAMILY 20px;
    color: $COLOR_INVERTED_FOREGROUND;
    minimum-size: -1 23px;
    preferred-size: -1 23px;
    maximum-size: -1 23px;
}

LockInputWidget PwdTextEditStyle#inputEditField {
    font: $FONT_FAMILY light 100px;
    font-min-scale: 0.56;
    text-color: $COLOR_INVERTED_FOREGROUND;
    cursor-width: 0;
    mask-string: "•";
    margin-top: 0;
    margin-bottom: 80px;
    margin-left: 6mm;
    minimum-size: -1 150px;
    maximum-size: -1 150px;
    preferred-size: -1 150px;
}

LockInputWidget MButtonStyle {
    icon-size: $SIZE_ICON_LARGE $SIZE_ICON_LARGE;
    minimum-size: 4.8mm 4.8mm;
    maximum-size: 4.8mm 4.8mm;
    preferred-size: 4.8mm 4.8mm;
    margin-top: 0.0mm;
    margin-bottom: 80px;
    margin-left: 0.0mm;
    margin-right: $INDENT_DEFAULT;
    background-image:;
    background-color:;
    press-feedback: priority2_static_press;
    release-feedback: priority2_static_release;
}

LockInputWidget MButtonStyle:pressed {
    background-image:;
    background-color:;
}

LockInputWidget MButtonStyle:selected {
    background-image:;
    background-color:;
}
