// import numpad etc styling

// ok button
@const C_DEVLOCK_NUMPAD_OK_BUTTON_BG: meegotouch-devicelock-button-background-active 0 0 0 0;
@const C_DEVLOCK_NUMPAD_OK_BUTTON_BG_PRESSED: meegotouch-devicelock-button-background-pressed 0 0 0 0;
@const C_DEVLOCK_NUMPAD_OK_BUTTON_BG_DISABLED: meegotouch-devicelock-button-background 0 0 0 0;

// emergency call button
@const C_DEVLOCK_NUMPAD_EMERGCALL_BUTTON_BG: meegotouch-emergency-call-numpad-button-background-active 0 0 0 0;
@const C_DEVLOCK_NUMPAD_EMERGCALL_BUTTON_BG_PRESSED: meegotouch-emergency-call-numpad-button-background-active-pressed 0 0 0 0;
@const C_DEVLOCK_NUMPAD_EMERGCALL_BUTTON_BG_DISABLED: meegotouch-emergency-call-numpad-button-background 0 0 0 0;

// usual numeric button
@const C_DEVLOCK_NUMPAD_NUM_BUTTON_BG: none;
@const C_DEVLOCK_NUMPAD_NUM_BUTTON_BG_PRESSED: meegotouch-devicelock-button-background 0 0 0 0;

@const C_DEVLOCK_NUMPAD_BUTTON_SIZE: 11.0mm 11.0mm;
@const C_DEVLOCK_NUMPAD_MARGIN_HOR: 2.0mm;
@const C_DEVLOCK_NUMPAD_MARGIN_VER: 0.0mm;
@const C_DEVLOCK_NUMPAD_PADDING_HOR: 0.5mm;
@const C_DEVLOCK_NUMPAD_PADDING_VER: 0.0mm;

@const C_DEVLOCK_NUMPAD_OK_BUTTON_SIZE: 7.0mm 7.0mm;
@const C_DEVLOCK_NUMPAD_OK_MARGIN_HOR: 4.0mm;
@const C_DEVLOCK_NUMPAD_OK_MARGIN_VER: 2.0mm;
@const C_DEVLOCK_NUMPAD_OK_PADDING_HOR: 0.5mm;
@const C_DEVLOCK_NUMPAD_OK_PADDING_VER: 0.5mm;

DeviceLockNumpad MButtonStyle#lockuiButtonOk {
    background-image: $C_DEVLOCK_NUMPAD_OK_BUTTON_BG;
    margin-left: $C_DEVLOCK_NUMPAD_OK_MARGIN_HOR;
    margin-right: $C_DEVLOCK_NUMPAD_OK_MARGIN_HOR;
    margin-top: $C_DEVLOCK_NUMPAD_OK_MARGIN_VER;
    margin-bottom: $C_DEVLOCK_NUMPAD_OK_MARGIN_VER;
    padding-left: $C_DEVLOCK_NUMPAD_OK_PADDING_HOR;
    padding-right: $C_DEVLOCK_NUMPAD_OK_PADDING_HOR;
    padding-top: $C_DEVLOCK_NUMPAD_OK_PADDING_VER;
    padding-bottom: $C_DEVLOCK_NUMPAD_OK_PADDING_VER;
    minimum-size: $C_DEVLOCK_NUMPAD_OK_BUTTON_SIZE;
    maximum-size: $C_DEVLOCK_NUMPAD_OK_BUTTON_SIZE;
    preferred-size: $C_DEVLOCK_NUMPAD_OK_BUTTON_SIZE;
    press-feedback: priority2_static_press;
    release-feedback: priority2_static_release;
}

DeviceLockNumpad MButtonStyle#lockuiButtonOk:pressed {
    background-image: $C_DEVLOCK_NUMPAD_OK_BUTTON_BG_PRESSED;
}

DeviceLockNumpad MButtonStyle#lockuiButtonOk:disabled {
    background-image: $C_DEVLOCK_NUMPAD_OK_BUTTON_BG_DISABLED;
}

DeviceLockNumpadButton#lockuiButtonOk MLabelStyle#celluiDeviceLockNumpadButtonPrimaryLabel {
    font: $FONT_FAMILY bold 3.2mm;
    margin-top: 1.0mm;
}

DeviceLockNumpad MButtonStyle#lockuiEmergencyButton {
    background-image: $C_DEVLOCK_NUMPAD_EMERGCALL_BUTTON_BG_DISABLED;
    background-color:;
    margin-left: $C_DEVLOCK_NUMPAD_OK_MARGIN_HOR;
    margin-right: $C_DEVLOCK_NUMPAD_OK_MARGIN_HOR;
    margin-top: $C_DEVLOCK_NUMPAD_OK_MARGIN_VER;
    margin-bottom: $C_DEVLOCK_NUMPAD_OK_MARGIN_VER;
    padding-left: $C_DEVLOCK_NUMPAD_OK_PADDING_HOR;
    padding-right: $C_DEVLOCK_NUMPAD_OK_PADDING_HOR;
    padding-top: $C_DEVLOCK_NUMPAD_OK_PADDING_VER;
    padding-bottom: $C_DEVLOCK_NUMPAD_OK_PADDING_VER;
    minimum-size: $C_DEVLOCK_NUMPAD_OK_BUTTON_SIZE;
    maximum-size: $C_DEVLOCK_NUMPAD_OK_BUTTON_SIZE;
    preferred-size: $C_DEVLOCK_NUMPAD_OK_BUTTON_SIZE;
    press-feedback: priority2_static_press;
    release-feedback: priority2_static_release;
}

DeviceLockNumpad MButtonStyle#lockuiEmergencyButton:pressed {
    background-image: $C_DEVLOCK_NUMPAD_EMERGCALL_BUTTON_BG_PRESSED;
}

DeviceLockNumpad MButtonStyle#lockuiEmergencyButtonActive {
    background-image: $C_DEVLOCK_NUMPAD_EMERGCALL_BUTTON_BG;
    background-color:;
    margin-left: $C_DEVLOCK_NUMPAD_OK_MARGIN_HOR;
    margin-right: $C_DEVLOCK_NUMPAD_OK_MARGIN_HOR;
    margin-top: $C_DEVLOCK_NUMPAD_OK_MARGIN_VER;
    margin-bottom: $C_DEVLOCK_NUMPAD_OK_MARGIN_VER;
    padding-left: $C_DEVLOCK_NUMPAD_OK_PADDING_HOR;
    padding-right: $C_DEVLOCK_NUMPAD_OK_PADDING_HOR;
    padding-top: $C_DEVLOCK_NUMPAD_OK_PADDING_VER;
    padding-bottom: $C_DEVLOCK_NUMPAD_OK_PADDING_VER;
    minimum-size: $C_DEVLOCK_NUMPAD_OK_BUTTON_SIZE;
    maximum-size: $C_DEVLOCK_NUMPAD_OK_BUTTON_SIZE;
    preferred-size: $C_DEVLOCK_NUMPAD_OK_BUTTON_SIZE;
    press-feedback: priority2_static_press;
    release-feedback: priority2_static_release;
}

DeviceLockNumpad MButtonStyle#lockuiEmergencyButtonActive:pressed {
    background-image: $C_DEVLOCK_NUMPAD_EMERGCALL_BUTTON_BG_PRESSED;
}

DeviceLockNumpad MButtonStyle#lockuiEmergencyButtonActive:disabled {
    background-image: $C_DEVLOCK_NUMPAD_EMERGCALL_BUTTON_BG_DISABLED;
}

// ----------------------------------------------------------------------------
// NUMPAD BUTTONS
// ----------------------------------------------------------------------------

DeviceLockNumpadButton MLabelStyle#celluiDeviceLockNumpadButtonPrimaryLabel {
    font: $FONT_FAMILY bold 6.0mm;
    color: $COLOR_INVERTED_FOREGROUND;
    minimum-size: -1 6.1mm;
    maximum-size: -1 6.1mm;
    preferred-size: -1 6.1mm;
    margin-top: 1.0mm;
    margin-bottom: 0mm;
    margin-left: 0mm;
    margin-right: 0mm;
}
//DeviceLockNumpadButton MLabelStyle#celluiDeviceLockNumpadButtonPrimaryLabel:pressed {
//    color: $COLOR_WARNING;
//}

DeviceLockNumpadButton MLabelStyle#celluiDeviceLockNumpadButtonSecondaryLabel {
    font: $FONT_FAMILY normal uppercase 2.0mm;
    color: $COLOR_INVERTED_SECONDARY_FOREGROUND;
    minimum-size: -1 -1;
    maximum-size: -1 -1;
    preferred-size: -1 -1;
    margin-top: 1mm;
    margin-bottom: 0mm;
    margin-left: 0mm;
    margin-right: 0mm;
}

DeviceLockNumpad MButtonStyle#celluiButton {
    background-image: $C_DEVLOCK_NUMPAD_NUM_BUTTON_BG;
    background-color: none;
    margin-left: $C_DEVLOCK_NUMPAD_MARGIN_HOR;
    margin-right: $C_DEVLOCK_NUMPAD_MARGIN_HOR;
    margin-top: $C_DEVLOCK_NUMPAD_MARGIN_VER;
    margin-bottom: $C_DEVLOCK_NUMPAD_MARGIN_VER;
    padding-left: $C_DEVLOCK_NUMPAD_PADDING_HOR;
    padding-right: $C_DEVLOCK_NUMPAD_PADDING_HOR;
    padding-top: $C_DEVLOCK_NUMPAD_PADDING_VER;
    padding-bottom: $C_DEVLOCK_NUMPAD_PADDING_VER;
    minimum-size: $C_DEVLOCK_NUMPAD_BUTTON_SIZE;
    maximum-size: $C_DEVLOCK_NUMPAD_BUTTON_SIZE;
    preferred-size: $C_DEVLOCK_NUMPAD_BUTTON_SIZE;
    transition: "imploding-background";
    press-feedback: priority2_static_press;
    release-feedback: priority2_static_release;
}

DeviceLockNumpad MButtonStyle#celluiButton:pressed {
    background-image: $C_DEVLOCK_NUMPAD_NUM_BUTTON_BG_PRESSED;
}

DeviceLockNumpad MButtonStyle#celluiButton0 {
    background-image: $C_DEVLOCK_NUMPAD_NUM_BUTTON_BG;
    background-color: none;
    margin-left: $C_DEVLOCK_NUMPAD_MARGIN_HOR;
    margin-right: $C_DEVLOCK_NUMPAD_MARGIN_HOR;
    margin-top: $C_DEVLOCK_NUMPAD_MARGIN_VER;
    margin-bottom: $C_DEVLOCK_NUMPAD_MARGIN_VER;
    padding-left: $C_DEVLOCK_NUMPAD_PADDING_HOR;
    padding-right: $C_DEVLOCK_NUMPAD_PADDING_HOR;
    padding-top: $C_DEVLOCK_NUMPAD_PADDING_VER;
    padding-bottom: $C_DEVLOCK_NUMPAD_PADDING_VER;
    minimum-size: $C_DEVLOCK_NUMPAD_BUTTON_SIZE;
    maximum-size: $C_DEVLOCK_NUMPAD_BUTTON_SIZE;
    preferred-size: $C_DEVLOCK_NUMPAD_BUTTON_SIZE;
    transition: "imploding-background";
    press-feedback: priority2_static_press;
    release-feedback: priority2_static_release;
}

DeviceLockNumpad MButtonStyle#celluiButton0:pressed {
    background-image: $C_DEVLOCK_NUMPAD_NUM_BUTTON_BG_PRESSED;
}

DeviceLockNumpadButton#celluiButton0 MLabelStyle#celluiDeviceLockNumpadButtonPrimaryLabel {
    margin-top: 1.5mm;
}

MWidgetStyle#celluiDeviceLockNumpad {
    margin-top: 0mm;
    margin-bottom: 2.2mm;
    margin-left: 0mm;
    margin-right: 0mm;
    padding-top: 2.4mm;
    padding-bottom: 0.0mm;
    padding-left: 1.5mm;
    padding-right: 1.5mm;
    preferred-size: 100% -1;
    minimum-size: 100% -1;
    maximum-size: 100% -1;
}
