DrillDownListItem MImageWidgetStyle#CommonDrilldownIconInverted
{
    margin-left : $MARGIN_DOUBLE;
    margin-right : $MARGIN_DOUBLE;
    margin-top : $MARGIN_DOUBLE;
    margin-bottom : $MARGIN_DOUBLE;
}
