@const C_DEVLOCK_NUMPAD_OK_PADDING_VER: 0.0mm;
@const C_DEVLOCK_NUMPAD_OK_MARGIN_VER: 0.0mm;

DeviceLockNumpadButton MLabelStyle#celluiDeviceLockNumpadButtonSecondaryLabel {
    margin-top: 1mm;
}

NumpadButton#celluiButtonOk MLabelStyle#celluiNumpadButtonPrimaryLabel {
    margin-top: 1.4mm;
}
Numpad MLabelStyle#celluiNumpadButtonSecondaryLabel {
    margin-top: 1mm;
}

DeviceLockNumpadButton#lockuiButtonOk MLabelStyle#celluiDeviceLockNumpadButtonPrimaryLabel {
     margin-top: 0.9mm;
}
