@const ICON32: 3.2mm 3.2mm;

#NotebookPickerColorStripe {
    margin-right: $MARGIN_DOUBLE;
    margin-top: $MARGIN_DOUBLE;
    margin-bottom: $MARGIN_DOUBLE;
    minimum-size: 0.6mm -1;
    maximum-size: 0.6mm -1;
    preferred-size: 0.6mm -1;
    stripe-mask-image: "meegotouch-calendar-colorstripe-mask" 4 4 4 4;
}

#SettingsComboBoxIndicator {
    margin-right:   $INDENT_DEFAULT;
    maximum-size:   $ICON32;
    minimum-size:   $ICON32;
    preferred-size: $ICON32;
    background-image: "meegotouch-combobox-indicator-inverted" 0 0 0 0;
}

#SettingsComboBoxIndicator:pressed {
    background-image: "meegotouch-combobox-indicator" 0 0 0 0;
}

#NotebookPickerCommonComboBoxIcon {
    margin-right: $INDENT_DEFAULT;
    maximum-size:   $ICON32;
    minimum-size:   $ICON32;
    preferred-size: $ICON32;
    background-image: "meegotouch-combobox-indicator-inverted" 0 0 0 0;
}

#NotebookPickerCommonComboBoxIcon:pressed {
    background-image: "meegotouch-combobox-indicator" 0 0 0 0;
}

#ApplicationSettingsContentWidget {
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    minimum-size: -1 -1;
    maximum-size: -1 -1;
    preferred-size: -1 -1;
}
