NPWPopupListStyle[overlay].Landscape
{
    title-bar-height: 5.7mm;
    item-style-name: "CommonPanel";
}

NPWPopupListStyle[overlay].Portrait
{
    title-bar-height: 5.7mm;
    item-style-name: "CommonPanel";
}

NPWPostOptionListItemStyle
{
    orientation: vertical;
}

NPWPostOptionListItem MLabelStyle#CommonSubTitle
{
    color:         $COLOR_SECONDARY_FOREGROUND;
    margin-top:    0.2mm;
    margin-bottom: 1.5mm;
    margin-left:   $INDENT_DEFAULT;
}

NPWCommonListWidgetStyle
{
    margin-bottom: $MARGIN_XSMALL;
}

NPWCommonListWidget MListItemStyle
{
    margin-left: $INDENT_DEFAULT;
    margin-right: $INDENT_DEFAULT;
}

NPWServiceOptionWidgetStyle
{
    margin-bottom: $MARGIN_XSMALL;
}

NPWServiceOptionWidget MListItemStyle
{
    margin-left: $INDENT_DEFAULT;
    margin-right: $INDENT_DEFAULT;
}

