/* -----------MMS Base container ------------------------------------------- */
MmsBaseContainerStyle {
    margin-left :   0;
    margin-right :  0;
    margin-top :    0;
    margin-bottom : 0;

    padding-top:    0;
    padding-bottom: 0;
    padding-left:   0;
    padding-right:  0;
}

MmsBaseContainer MWidgetStyle#MMSSlidesContainer {
    background-image: meegotouch-sheet-inputfield-background 15px 15px 15px 15px;
}

MmsBaseContainer MWidgetStyle#MMSNotificationContainer.Portrait {
    minimum-size: -1 575px;
    background-image: meegotouch-sheet-inputfield-background 15px 15px 15px 15px;
}

MmsBaseContainer MWidgetStyle#MMSNotificationContainer.Landscape {
    minimum-size: -1 255px;
    background-image: meegotouch-sheet-inputfield-background 15px 15px 15px 15px;
}

MmsSpinnerOverlayStyle {
    minimum-size: 100% 100%;
    preferred-size: 100% 100%;
    maximum-size: 100% 100%;

    vertical-align: center;
    horizontal-align: center;

    background-opacity: 0.5;
    background-color: $COLOR_FOREGROUND;
}

/* -----------MMS Conversation View----------------------------------------- */
MmsConversationBubbleStyle {
    margin-left :   0;
    margin-right :  0;
    margin-top :    0;
    margin-bottom : 0;

    padding-top:    $PADDING_SMALL;
    padding-bottom: $PADDING_SMALL;
    padding-left:   $PADDING_XLARGE;
    padding-right:  $PADDING_XLARGE;
}

MmsConversationBubbleStyle#MMSConversationBubbleIncoming {
    background-image: meegotouch-messaging-conversation-bubble-incoming1-normal 22px 22px 22px 22px;

    maximum-size:   430px -1;
    minimum-size:   -1 -1;

    margin-left :   $PADDING_XLARGE;
    margin-right :  $PADDING_XLARGE;
    margin-top :    $MARGIN_SMALL;
    margin-bottom : $MARGIN_SMALL;

    padding-top:    $PADDING_XLARGE;
    padding-bottom: $PADDING_SMALL;
    padding-left:   $PADDING_SMALL;
    padding-right:  $PADDING_LARGE;
}

MmsConversationBubbleStyle#MMSConversationBubbleIncoming.Landscape {
    maximum-size:   798px -1;
}

MmsConversationBubbleStyle#MMSConversationBubbleIncoming:pressed {
    background-image: meegotouch-messaging-conversation-bubble-incoming1-pressed 22px 22px 22px 22px;
}

MmsConversationBubbleStyle#MMSConversationBubbleOutgoing {
    background-image: meegotouch-messaging-conversation-bubble-outgoing1-normal 22px 22px 22px 22px;

    minimum-size:   -1 -1;
    maximum-size:   430px -1;

    margin-left :   $PADDING_XLARGE;
    margin-right :  $PADDING_XLARGE;
    margin-top :    $MARGIN_SMALL;
    margin-bottom : $MARGIN_SMALL;

    padding-top:    $PADDING_SMALL;
    padding-bottom: $PADDING_XLARGE;
    padding-left:   $PADDING_LARGE;
    padding-right:  $PADDING_SMALL;
}

MmsConversationBubbleStyle#MMSConversationBubbleOutgoing.Landscape {
    maximum-size:   798px -1;
}

MmsConversationBubbleStyle#MMSConversationBubbleOutgoing:pressed {
    background-image: meegotouch-messaging-conversation-bubble-outgoing1-pressed 22px 22px 22px 22px;
}

ClickableBubble MLabelStyle#MMSBubbleTimestampIncoming {
    font : $FONT_FAMILY light 20px;
    color : $COLOR_INVERTED_FOREGROUND;
    text-opacity: 0.7;
    margin-left :   $MARGIN_DOUBLE;
    margin-right :  $MARGIN_DOUBLE;
    margin-top : 0;
    margin-bottom : 9px;
}

ClickableBubble MLabelStyle#MMSBubbleTimestampOutgoing {
    font : $FONT_FAMILY light 20px;
    color : $COLOR_FOREGROUND;
    text-opacity: 0.7;
    margin-left :   $MARGIN_DOUBLE;
    margin-right :  $MARGIN_DOUBLE;
    margin-top : 0;
    margin-bottom : 9px;
}

ClickableBubble MLabelStyle#MMSBubbleTimestampOutgoingFailed {
    font : $FONT_FAMILY light 18px;
    color : $COLOR_WARNING;
    text-opacity: 1;
    margin-left :   $MARGIN_DOUBLE;
    margin-right :  $MARGIN_DOUBLE;
    margin-top : 0;
    margin-bottom : 9px;
}

ClickableBubble MLabelStyle#MMSBubbleSubjectIncoming {
    font: $FONT_FAMILY_BOLD 26px;
    color : $COLOR_INVERTED_FOREGROUND;
    margin-top :    $MARGIN_SMALL;
    margin-bottom : $MARGIN_SMALL;
    margin-right :  $MARGIN_DOUBLE;
    margin-left :   $MARGIN_DOUBLE;

    preferred-size: -1 -1;
}

ClickableBubble MLabelStyle#MMSBubbleSubjectOutgoing {
    font: $FONT_FAMILY_BOLD 26px;
    color : $COLOR_FOREGROUND;
    margin-top :    $MARGIN_SMALL;
    margin-bottom : $MARGIN_SMALL;
    margin-left :   $MARGIN_DOUBLE;
    margin-right :  $MARGIN_DOUBLE;

    preferred-size: -1 -1;
}

MmsConversationBubble MWidgetStyle#MMSConversationThumbnail {
    minimum-size:   $SIZE_ICON_XLARGE $SIZE_ICON_XLARGE;
    maximum-size:   $SIZE_ICON_XLARGE $SIZE_ICON_XLARGE;
    preferred-size:   $SIZE_ICON_XLARGE $SIZE_ICON_XLARGE;

    margin-left :   0;
    margin-right :  0;
    margin-top :    $MARGIN_XSMALL;
    margin-bottom : $MARGIN_XSMALL;
}

ClickableBubble MLabelStyle#MMSBubbleNotification {
    font: $FONT_FAMILY light 18px;
    color : $COLOR_INVERTED_FOREGROUND;
    text-opacity: 0.7;
    margin-top :    $MARGIN_XSMALL;
    margin-bottom : $MARGIN_XSMALL;
    margin-right :  $MARGIN_DOUBLE;
    margin-left :   $MARGIN_DOUBLE;
}

/* -----------MMS Viewer----------------------------------------- */

MmsBaseContainer MLabelStyle#CommonAvatarInitials {
    font: $FONT_DEFAULT_BOLD;
}

MmsBaseContainer MMSImageWidgetStyle#MMSViewerImageThumbnail {
    background-opacity: 1.0;
    background-image:  meegotouch-messaging-attachment-frame-normal 12px 12px 12px 12px;
    margin-top:   $MARGIN_SMALL;
    margin-left:  $MARGIN_XLARGE;
    margin-right: $MARGIN_XLARGE;
}

MmsBaseContainer MMSImageWidgetStyle#MMSViewerImageThumbnail.Portrait {
    preferred-size: 44.8mm 400px;
}

MmsBaseContainer MMSImageWidgetStyle#MMSViewerImageThumbnail.Landscape {
    preferred-size: 450px 300px;
    margin-top:     2.4mm;
}

MmsBaseContainer MLabelStyle#MMSViewerTimestamp {
    font : $FONT_FAMILY light 22px;
    color:  $COLOR_SECONDARY_FOREGROUND;
    margin-left :  $INDENT_DEFAULT;
    margin-right : $INDENT_DEFAULT;
}

MmsBaseContainer MLabelStyle#CommonSubText {
    margin-right : 0;
}

MmsBaseContainer MImageWidgetStyle#CommonThumbnail {
    minimum-size:   $SIZE_ICON_LARGE $SIZE_ICON_LARGE;
    preferred-size: $SIZE_ICON_LARGE $SIZE_ICON_LARGE;
    maximum-size:   $SIZE_ICON_LARGE $SIZE_ICON_LARGE;

    margin-bottom:0px;
    margin-top:   0px;
    margin-left:  0px;
    margin-right: $INDENT_DEFAULT;
}

MmsBaseContainer MLabelStyle#MMSViewerContactName {
    font : $FONT_FAMILY normal 26;
    color:  $COLOR_FOREGROUND;
    margin-right : $MARGIN_LARGE;
    margin-top :   $MARGIN_DOUBLE;
    margin-bottom : $MARGIN_XSMALL;
}

MmsBaseContainer MLabelStyle#MMSViewerContactSubtitle {
    font : $FONT_FAMILY light 18;
    color:  $COLOR_SECONDARY_FOREGROUND;
    margin-right : $MARGIN_LARGE;
    margin-bottom :   $MARGIN_DOUBLE;
    margin-top :   0px;
}

MmsBaseContainer MLabelStyle#MMSViewerSubject {
    font : $FONT_FAMILY bold 22;
    color:  $COLOR_FOREGROUND;
    margin-left :   $INDENT_DEFAULT;
    margin-right :  $INDENT_DEFAULT;
    margin-bottom : $MARGIN_SMALL;
    margin-top :    $MARGIN_SMALL;
}

MmsBaseContainer MWidgetStyle#MMSViewerDownloadButtonSpacer {
    minimum-size:   100% 64px;
    preferred-size: 100% 64px;
    maximum-size:   100% 64px;
}

MmsBaseContainer MTextEditStyle#LikeLabelCommonBodyText {
    background-image: none;
    text-color: $COLOR_FOREGROUND;
    font: $FONT_FAMILY_LIGHT 24;
    minimum-size: -1 -1;
    selection-text-color: $COLOR_INVERTED_FOREGROUND;
    selection-background-color: $COLOR_LINK;

    padding-top: $PADDING_LARGE;
    padding-bottom: $PADDING_LARGE;
    padding-left: $INDENT_DEFAULT;
    padding-right: $INDENT_DEFAULT;

    reactive-margin-top: $MARGIN_LARGE;
    reactive-margin-bottom: $MARGIN_LARGE;

    text-clipping-top: 0;
    text-clipping-bottom: 0;
    text-clipping-left: 0;
    text-clipping-right: 0;
}

MmsBaseContainer MTextEditStyle#LikeLabelMMSViewerSubject {
    background-image: none;
    text-color: $COLOR_FOREGROUND;
    font: $FONT_FAMILY bold 22;
    minimum-size: -1 -1;
    selection-text-color: $COLOR_INVERTED_FOREGROUND;
    selection-background-color: $COLOR_LINK;

    padding-top: $PADDING_SMALL;
    padding-bottom: $PADDING_SMALL;
    padding-left: $INDENT_DEFAULT;
    padding-right: $INDENT_DEFAULT;

    reactive-margin-top: $MARGIN_LARGE;
    reactive-margin-bottom: $MARGIN_LARGE;

    text-clipping-top: 0;
    text-clipping-bottom: 0;
    text-clipping-left: 0;
    text-clipping-right: 0;
}


/* -----------MMS Editor----------------------------------------- */
MMSImageWidgetStyle {
    margin-bottom:$MARGIN_SMALL;
    margin-top:   $MARGIN_SMALL;
    margin-left:  $MARGIN_SMALL;
    margin-right: $MARGIN_SMALL;

    text-color: $COLOR_INVERTED_FOREGROUND;
    text-font:  $FONT_FAMILY light 22;
    text-preview-color: $COLOR_FOREGROUND;

    text-margin-left: $MARGIN_LARGE;
    text-margin-top: $MARGIN_LARGE;
    text-panel-height: 50;

    icon-size: $SIZE_ICON_XLARGE $SIZE_ICON_XLARGE;
}

MmsBaseContainer MMSImageWidgetStyle#MMSEditorThumbnail {
    background-opacity: 1.0;
    background-image:  meegotouch-messaging-attachment-frame-normal 12px 12px 12px 12px;
    margin-top:   $MARGIN_SMALL;
    margin-left:  $MARGIN_XLARGE;
    margin-right: $MARGIN_XLARGE;
}

MmsBaseContainer MMSImageWidgetStyle#MMSEditorThumbnail.Portrait {
    preferred-size: 44.8mm 400px;
}

MmsBaseContainer MMSImageWidgetStyle#MMSEditorThumbnail.Landscape {
    preferred-size: 400px 300px;
}

MmsBaseContainer MWidgetStyle#MMSRecipientsEditor {
    margin-left:   0px;
    margin-right:  0px;
    margin-bottom: 0px;
}

MmsBaseContainer MTextEditStyle#MMSBodyField {
    background-image:;
    text-color: $COLOR_FOREGROUND;
}

MmsBaseContainer MWidgetStyle#MMSEditorHeaderPanel {
    background-image: meegotouch-messaging-header-xlarge-list 12px 12px 12px 12px;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    margin-bottom : 0;
}

MmsBaseContainer MWidgetStyle#MMSContactCard {
    background-image:  meegotouch-messaging-attachment-frame-normal 12px 12px 12px 12px;
    preferred-size: 100% -1;
    maximum-size:   100% -1;
    margin-bottom:$MARGIN_XLARGE;
    margin-top:   $MARGIN_XLARGE;
    margin-left:  $INDENT_DEFAULT;
    margin-right: $INDENT_DEFAULT;
}

MmsBaseContainer MWidgetStyle#MMSContactCard:pressed {
    background-image:  meegotouch-messaging-attachment-frame-pressed 12px 12px 12px 12px;
}

MmsBaseContainer MWidgetStyle#MMSContactCard.Landscape {
    minimum-size:   460px -1;
    preferred-size: 460px -1;
    maximum-size:   460px -1;
}

MmsBaseContainer MLabelStyle#MMSEditorTitle {
    font: $FONT_FAMILY normal 26;
    color:  $COLOR_FOREGROUND;

    margin-right : $INDENT_DEFAULT;
}

MmsBaseContainer MLabelStyle#MMSEncodingLabel {
    font: $FONT_FAMILY light 42;
    color:  $COLOR_SECONDARY_FOREGROUND;
}

/*-------------- Simple Editor Widget ------------- */
MmsSimpleEditorWidget MWidgetStyle#MMSConversationThumbnail {
    minimum-size:   $SIZE_ICON_XLARGE $SIZE_ICON_XLARGE;
    maximum-size:   $SIZE_ICON_XLARGE $SIZE_ICON_XLARGE;
    preferred-size:   $SIZE_ICON_XLARGE $SIZE_ICON_XLARGE;

    margin-right: $MARGIN_DOUBLE;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;

    vertical-align: top;
}

MmsSimpleEditorWidget MWidgetStyle#MmsSpinnerOverlayWidget {
    minimum-size:   $SIZE_ICON_XLARGE $SIZE_ICON_XLARGE;
    maximum-size:   $SIZE_ICON_XLARGE $SIZE_ICON_XLARGE;
    preferred-size:   $SIZE_ICON_XLARGE $SIZE_ICON_XLARGE;

    vertical-align: center;
    horizontal-align: center;

    background-opacity: 0.6;
    background-image: meegotouch-messaging-textedit-background 10px 10px 10px 10px;
}

MmsSimpleEditorWidget MSpinnerStyle#SMFSpinner {
    minimum-size:   $SIZE_ICON_LARGE $SIZE_ICON_LARGE;
    maximum-size:   $SIZE_ICON_LARGE $SIZE_ICON_LARGE;
    preferred-size:   $SIZE_ICON_LARGE $SIZE_ICON_LARGE;
}
