MButtonStyle#ShutterButton {
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 6px;
    margin-right: 6px;

    minimum-size: 468px 158px;
    preferred-size: 468px 158px;
    maximum-size: 468px 158px;
    icon-size: 64px 64px;

    background-image: meegotouch-button-inverted-background $CORNER_MARGINS;
}
MButtonStyle#ShutterButton:pressed {
    background-image: meegotouch-button-inverted-background-pressed $CORNER_MARGINS;
}
MButtonStyle#ShutterButton:selected {
    background-image: meegotouch-button-inverted-background-selected $CORNER_MARGINS;
}
MButtonStyle#ShutterButton:disabled {
    background-image: meegotouch-button-inverted-background-disabled $CORNER_MARGINS;
}

MLabelStyle#StandbyLabel {
    color: #666666;
    font: $FONT_FAMILY_LIGHT 6.2mm;
    horizontal-alignment: hcenter;
}
