BalloonTextEditStyle
{
    ambiguous-background: meegotouch-messaging-recipient-bubble-ambiguous-normal 10 10 10 10;
    resolved-background: meegotouch-messaging-recipient-bubble-resolved-normal 10 10 10 10;
    unresolved-background: meegotouch-messaging-recipient-bubble-unresolved-normal 10 10 10 10;
    unknown-background: meegotouch-messaging-recipient-bubble-unknown-normal 10 10 10 10;
    ambiguous-selected-background: meegotouch-messaging-recipient-bubble-ambiguous-pressed 10 10 10 10;
    resolved-selected-background: meegotouch-messaging-recipient-bubble-resolved-pressed 10 10 10 10;
    unresolved-selected-background: meegotouch-messaging-recipient-bubble-unresolved-pressed 10 10 10 10;
    unknown-selected-background: meegotouch-messaging-recipient-bubble-unknown-pressed 10 10 10 10;

    balloon-text-font: $FONT_FAMILY normal 26px;
    balloon-text-color: $COLOR_INVERTED_FOREGROUND;

    balloon-text-padding: $MARGIN_XLARGE;
    balloon-shape-margin: 0;
    balloon-height-padding: 0;
}

