@const COLOR_CALENDAR_SHADE1:  #EBEBEB;
@const COLOR_CALENDAR_SHADE2:  #E0E0E0;
@const COLOR_CALENDAR_SHADE3:  #CCCCCC;
@const COLOR_CALENDAR_SHADE4:  #BFBFBF;
@const COLOR_CALENDAR_SHADE5:  #A6A6A6;
@const COLOR_CALENDAR_SHADE6:  #333333;
@const COLOR_CALENDAR_SHADE7:  #262626;
@const COLOR_CALENDAR_SHADE8:  #1A1A1A;
@const COLOR_CALENDAR_SHADE9:  #808080;
@const COLOR_CALENDAR_SHADE10: #404040;
@const COLOR_CALENDAR_SHADE11: #6184F2;
@const COLOR_CALENDAR_SHADE12: #666666;

#NotebookPickerLabel {
     color: $COLOR_BACKGROUND;
}

#NotebookPickerColorBox {
    minimum-size: 24 24;
    maximum-size: 24 24;
    preferred-size: 24 24;
}

NoteWidgetStyle {
    stripe-mask-image: "meegotouch-calendar-colorstripe-mask" 4 4 4 4;
    stripe-mask-image-alt: "meegotouch-calendar-tentative-mask";
}

