// This is "CommonInboxTitle" but different color
MLabelStyle#CommonInboxTitleGray {
    color:             #A6A6A6;
    font:              $FONT_FAMILY bold 24;
    margin-left:       $INDENT_DEFAULT;
    margin-right:      $INDENT_DEFAULT;
    margin-top:        9px;
    margin-bottom:     0;
}   

// This is "CommonInboxSubTitle" but different color
MLabelStyle#CommonInboxSubTitleeGray {
    color:             #A6A6A6;
    font:              $FONT_FAMILY 22;
    margin-left:       $INDENT_DEFAULT;
    margin-right:      $INDENT_DEFAULT;
    margin-top:        0;
    margin-bottom:     0;
}

// This is "CommonInboxSubText" but different color
MLabelStyle#CommonInboxSubTextGray {
    color:             #A6A6A6;
    font:              $FONT_FAMILY_LIGHT 22;
    margin-left:       $INDENT_DEFAULT;
    margin-right:      $INDENT_DEFAULT;
    margin-top:        0;
    margin-bottom:     0;
}
