// TODO these should be included from somewhere else
@const COLOR_CALENDAR_SHADE1:  #EBEBEB;
@const COLOR_CALENDAR_SHADE2:  #E0E0E0;
@const COLOR_CALENDAR_SHADE3:  #CCCCCC;
@const COLOR_CALENDAR_SHADE4:  #BFBFBF;
@const COLOR_CALENDAR_SHADE5:  #A6A6A6;
@const COLOR_CALENDAR_SHADE6:  #333333;
@const COLOR_CALENDAR_SHADE7:  #262626;
@const COLOR_CALENDAR_SHADE8:  #1A1A1A;
@const COLOR_CALENDAR_SHADE9:  #808080;
@const COLOR_CALENDAR_SHADE10: #404040;
@const COLOR_CALENDAR_SHADE11: #6184F2;
@const COLOR_CALENDAR_SHADE12: #666666;

DatePicker > MButtonStyle#NextButton {
    background-image: ;
    background-color: transparent;
    icon-id: "meegotouch-datepicker-monthgrid-nextbutton";
    icon-size: $SIZE_ICON_XSMALL $SIZE_ICON_XSMALL;

    minimum-size: 6.6mm 6.6mm;
    maximum-size: 6.6mm 6.6mm;
    preferred-size: 6.6mm 6.6mm;
}

DatePicker > MButtonStyle#NextButton.Landscape {
    minimum-size: 5.9mm 6.7mm;
    maximum-size: 5.9mm 6.7mm;
    preferred-size: 5.9mm 6.7mm;
}

DatePicker > MButtonStyle#NextButton:pressed {
    background-image: ;
    background-color: transparent;
    icon-id: "meegotouch-datepicker-monthgrid-nextbutton-pressed";
}

DatePicker > MButtonStyle#NextButton:disabled {
    content-opacity: 0.2;
}

DatePicker > MButtonStyle#PrevButton {
    background-image: ;
    background-color: transparent;
    icon-id: "meegotouch-datepicker-monthgrid-previousbutton";
    icon-size: $SIZE_ICON_XSMALL $SIZE_ICON_XSMALL;


    minimum-size: 6.6mm 6.6mm;
    maximum-size: 6.6mm 6.6mm;
    preferred-size: 6.6mm 6.6mm;
}

DatePicker > MButtonStyle#PrevButton.Landscape {
    minimum-size: 5.9mm 6.7mm;
    maximum-size: 5.9mm 6.7mm;
    preferred-size: 5.9mm 6.7mm;
}

DatePicker > MButtonStyle#PrevButton:pressed {
    background-image: ;
    background-color: transparent;
    icon-id: "meegotouch-datepicker-monthgrid-previousbutton-pressed";
}

DatePicker > MButtonStyle#PrevButton:disabled {
    content-opacity: 0.2;
}

DatePicker > MButtonStyle#MonthNameButton {
    background-image: ;
    background-color: transparent;

    minimum-size: 33mm 6.6mm;
    maximum-size: 33mm 6.6mm;
    preferred-size: 33mm 6.6mm;

    font: $FONT_FAMILY_LIGHT 34;
    text-color: $COLOR_BACKGROUND;
}

DatePicker > MButtonStyle#MonthNameButton.Landscape {
    minimum-size: 29.6mm 6.7mm;
    maximum-size: 29.6mm 6.7mm;
    preferred-size: 29.6mm 6.7mm;

    font: $FONT_FAMILY_LIGHT 30;
}

DatePicker > MButtonStyle#MonthNameButton:pressed {
    background-image: ;
    background-color: transparent;

    font: $FONT_FAMILY_LIGHT 34;
    text-color: $COLOR_ACCENT1;
}

DatePicker > MButtonStyle#MonthNameButton.Landscape:pressed {
    background-image: ;
    background-color: transparent;

    font: $FONT_FAMILY_LIGHT 30;
}

DatePicker > MLabelStyle#MagnifierLabel {
    minimum-size: 64 80;
    preferred-size: 64 80;
    maximum-size: 64 80;

    margin-bottom: 1.6mm;

    background-image: "meegotouch-datepicker-magnifier-background" 16 16 16 24;
    font: $FONT_FAMILY normal 42;
    color: $COLOR_BACKGROUND;
}

DateTimePanelStyle {
    preferred-size: 48.0mm 11.2mm;
    minimum-size: 48.0mm 11.2mm;
    maximum-size: 48.0mm 11.2mm;

    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

DateTimePanel > MButtonStyle {
    // Overriding the default preferred size with invalid values forces the
    // button to calculate its preferred size dynamically.
    preferred-size: -1 -1;
}

DateTimePanel > MButtonStyle#DateTimeButton {
    preferred-size: -1 11.2mm;
    minimum-size: -1 11.2mm;
    maximum-size: -1 11.2mm;

    background-image: ;
    background-opacity: 0.0;
    text-color: $COLOR_ACCENT1;
    font: $FONT_FAMILY_LIGHT 98px;

    text-margin-top: 0;
    text-margin-bottom: 0;
    text-margin-left: 0;
    text-margin-right: 0;

    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

AMPMButtonStyle {
    background-image: ;
    background-color: transparent;

    minimum-size: 42 42;
    preferred-size: 42 42;
    maximum-size: 42 42;

    font: $FONT_FAMILY_LIGHT 32;
    text-color: $COLOR_ACCENT1;

    text-margin-top: 0;
    text-margin-bottom: 0;
    text-margin-left: 0;
    text-margin-right: 0;
}

AMPMButtonStyle:pressed {
    background-image: ;
    background-color: transparent;
    text-color: $COLOR_ACCENT1;
}

AMPMButtonStyle:selected {
    background-image: ;
    background-color: transparent;
}

AMPMButtonStyle:disabled {
    background-image: ;
    background-color: transparent;
}

AMPMButtonStyle#Am {
    background-image: ;
    background-color: transparent;
}

AMPMButtonStyle#Pm {
    background-image: ;
    background-color: transparent;
}

DatePickerStyle {
    minimum-size: -1 100%;
    maximum-size: -1 100%;
    preferred-size: -1 100%;
    background-image: "meegotouch-calendar-monthgrid-background-landscape" 14 0 0 0;

    cell-width: 5.9mm;
    cell-height: 4.9mm;
    day-name-cell-height: 2.4mm;
    week-number-cell-width: 19;

    current-day-font: $FONT_FAMILY bold 24;
    selected-current-day-font: $FONT_FAMILY bold 24;
    selected-day-font: $FONT_FAMILY bold 24;
    current-month-font: $FONT_FAMILY_LIGHT 24;
    other-month-font: $FONT_FAMILY_LIGHT 24;
    current-month-sunday-font: $FONT_FAMILY_LIGHT 24;
    other-month-sunday-font: $FONT_FAMILY_LIGHT 24;
    week-day-name-font: $FONT_FAMILY bold 16;
    week-number-font: $FONT_FAMILY bold 13;

    current-day-color: $COLOR_ACCENT1;
    selected-current-day-color: $COLOR_BACKGROUND;
    selected-day-color: $COLOR_BACKGROUND;
    current-month-color: $COLOR_BACKGROUND;
    other-month-color: #808080;
    current-month-sunday-color: #000000;
    other-month-sunday-color: #808080;
    week-day-name-color: #737373;
    week-day-name-weekend-color: $COLOR_ACCENT1;
    week-number-color: #848284;

    current-day-image: "meegotouch-datepicker-monthgrid-daycell-current-day-landscape" 16 16 16 16;
    selected-current-day-image: "meegotouch-datepicker-monthgrid-daycell-selected-day-landscape" 16 16 16 16;
    selected-day-image: "meegotouch-datepicker-monthgrid-daycell-selected-day-landscape" 16 16 16 16;

    current-day-highlight-image: "meegotouch-monthgrid-daycell-current-day-eventindicator";
    weekend-day-highlight-image: "meegotouch-monthgrid-daycell-regular-weekend-day-eventindicator";
    selected-day-highlight-image: "meegotouch-monthgrid-daycell-selected-day-eventindicator";
    current-month-highlight-image: "meegotouch-monthgrid-daycell-regular-day-eventindicator";
    other-month-highlight-image: "meegotouch-monthgrid-daycell-othermonth-day-eventindicator";
    highlight-image-y-offset: -6;

    separator-style: "DatePickerButtonsAndGridSeparator";
    next-button-style: "NextButton";
    prev-button-style: "PrevButton";
    month-button-style: "MonthNameButton";
    magnifier-style: "MagnifierLabel";

    month-dialog-sheet-style: "Inverted";
    month-dialog-sheet-header-style: "Inverted";
    month-dialog-list-style: "CommonListInverted";
    month-dialog-list-item-style: "CommonSmallPanelInverted";
    month-dialog-list-item-title-style: "CommonSingleTitleInverted";
}

DatePickerStyle.Portrait {
    background-image: "meegotouch-calendar-monthgrid-background-portrait" 14 14 0 0;
    minimum-size: 100% -1;
    maximum-size: 100% -1;
    preferred-size: 100% -1;

    cell-width: 6.6mm;
    cell-height: 5.9mm;
    day-name-cell-height: 3.0mm;
    week-day-name-font: $FONT_FAMILY bold 18;

    current-day-font: $FONT_FAMILY_LIGHT 26;
    selected-current-day-font: $FONT_FAMILY bold 26;
    selected-day-font: $FONT_FAMILY bold 26;
    current-month-font: $FONT_FAMILY_LIGHT 26;
    other-month-font: $FONT_FAMILY_LIGHT 26;
    current-month-sunday-font: $FONT_FAMILY_LIGHT 26;
    other-month-sunday-font: $FONT_FAMILY_LIGHT 26;

    current-day-image: "meegotouch-datepicker-monthgrid-daycell-current-day-portrait" 16 16 16 16;
    selected-current-day-image: "meegotouch-datepicker-monthgrid-daycell-selected-day-portrait" 16 16 16 16;
    selected-day-image: "meegotouch-datepicker-monthgrid-daycell-selected-day-portrait" 16 16 16 16;

    highlight-image-y-offset: -9;
    left-offset: 9;
}

DatePicker > MWidgetStyle#DatePickerButtonsAndGridSeparator {
    background-color: #999999;
    minimum-size: 43.2mm 0.1mm;
    preferred-size: 43.2mm 0.1mm;
    maximum-size: 43.2mm 0.1mm;
}

DatePicker > MWidgetStyle#DatePickerButtonsAndGridSeparator.Landscape {
    background-color: transparent;
    minimum-size: 0 0;
    preferred-size: 0 0;
    maximum-size: 0 0;
}
