MApplicationWindowStyle {
    floatable-tool-bar: false;
    floatable-tab-bar: false;

    tool-bar-style-name: ;
    tab-bar-style-name: ;
}

MApplicationWindowStyle.Landscape {
    floatable-tool-bar: false;
    floatable-tab-bar: false;
}
