/* MWidgetRectangularClipAnimationStyle : MAbstractWidgetAnimationStyle */
MObjectMenu MWidgetRectangularClipAnimationStyle#In {
    duration: 1500;
    easing-curve: inoutexpo;
    clip-margin: 1mm;
}

MObjectMenu MWidgetRectangularClipAnimationStyle#Out {
    duration: 700;
    easing-curve: inoutexpo;
    clip-margin: 1mm;
}
