/* MWidgetFadeInAnimationStyle : MAbstractWidgetAnimationStyle */
MSceneLayerEffect MWidgetFadeAnimationStyle#In {
    delay: 0;
    duration: 250;
    easing-curve: inquint;
    opacity: 0.9;
}

MSceneLayerEffect MWidgetFadeAnimationStyle#Out {
    delay: 100;
    duration: 500;
    easing-curve: outquint;
    opacity: 0.9;
}
