/* ---------------------- IM / SMS MESSAGE VIEWER ---------------------- */

MessageItem MLinearLayoutPolicyStyle#SingleHeaderMargins
{
    margin-top:    $MARGIN_DOUBLE;
    margin-bottom: 0;
    margin-left:   $MARGIN_DOUBLE;
    margin-right:  $MARGIN_DOUBLE;
}

MessageItem MLabelStyle#SingleMessageText
{
    font: $FONT_LARGE;

    margin-top:    $MARGIN_DOUBLE;
    margin-bottom: $MARGIN_DOUBLE;
    margin-left:   $MARGIN_DOUBLE;
    margin-right:  $MARGIN_DOUBLE;
}

MessageItem MLabelStyle#SingleMessageText.Portrait
{
    minimum-size: -1 590;
 }

MessageItem MLabelStyle#SingleMessageText.Landscape
{
    minimum-size: -1 260;
}

/* ---------------------- Class0 Size ---------------------- */

MDialog MessageItemStyle#MessageItemStyleConversationClassZero{
    margin-left:  $MARGIN_XLARGE;
    margin-right: $MARGIN_XLARGE;
}

MessageItem MLabelStyle#ClassZeroTimestampSubtitle {
    font:  $FONT_FAMILY light 24;
    color: $COLOR_ACCENT6;
}

/* ---------------------- CONVERSATION BUBBLE ITEM ---------------------- */

MList BubbleItemStyle#BubbleStyle {

    margin-left:   0;
    margin-right:  0;
    margin-top:    0;
    margin-bottom: 0;
    padding-left:  $INDENT_DEFAULT;
    padding-right: $INDENT_DEFAULT;

    preferred-size: 100% -1;
    minimum-size:   100% -1;
    maximum-size:   100% -1;
}

/* Landscape: 854 - 752 = 102px */
/* Portrait:  480 - 378 = 102px */
#BubbleSpacer {
    margin-left:   0;
    margin-top:    0;
    margin-right:  0;
    margin-bottom: 0;

    minimum-size:   50  -1;
    preferred-size: 50  -1;
    maximum-size:   100% -1;
}

BubbleItem MAbstractLayoutPolicyStyle#BorderlessLayout {
    margin-top:     0;
    margin-left:    0;
    margin-right:   0;
    margin-bottom:  0;
    padding-bottom: 0;

    vertical-spacing:   0;
    horizontal-spacing: 0;
}

#BorderlessLayout {
    margin-left:   0;
    margin-top:    0;
    margin-right:  0;
    margin-bottom: 0;

    vertical-spacing:   0;
    horizontal-spacing: 0;
}

PresenceIconStyle {
    preferred-size: 12px 12px;
    minimum-size:   12px 12px;
    maximum-size:   12px 12px;

    margin-left:   0;
    margin-right:  0;
    margin-top:    0;
    margin-bottom: 0;

    padding-left:   0;
    padding-top:    0;
    padding-right:  0;
    padding-bottom: 0;
}


/* ---------------------- BUBBLE ITEMS ---------------------- */

BubbleItemStyle {
    /* inherited from MWidgetStyle */
    preferred-size: -1 $SIZE_ONE;
    minimum-size: $SIZE_ONE $SIZE_ONE;
    maximum-size: 100% $SIZE_FOUR;

    color-range: 4;

    margin-left:   0;
    margin-right:  0;
    margin-top:    0;
    margin-bottom: 0;

    padding-left:   0;
    padding-top:    0;
    padding-right:  0;
    padding-bottom: 0;

}

BubbleItem MLabelStyle#BubbleItemMessageOutgoing {

    font: $FONT_FAMILY_LIGHT 24px;
    color: $COLOR_FOREGROUND;

    margin-left:   $MARGIN_DOUBLE;
    margin-right:  $MARGIN_DOUBLE;
    margin-top:    9px;
    margin-bottom: 0px;
}

BubbleItem MLabelStyle#BubbleItemMessageIncoming {

    font: $FONT_FAMILY_LIGHT 24px;
    color: $COLOR_INVERTED_FOREGROUND;
    highlight-color: #00416D;


    margin-left:   $MARGIN_DOUBLE;
    margin-right:  $MARGIN_DOUBLE;
    margin-top:    17px;
    margin-bottom: 0px;
}

/* ---------------------- BUBBLE INFORMATION WIDGET (TIMESTAMP) ---------------------- */

BubbleItem MLabelStyle#MsgBubbleTimeStampLabelOutgoing {

    font: $FONT_FAMILY light 18px;
    color: $COLOR_FOREGROUND;

    margin-left:   $MARGIN_DOUBLE;
    margin-right:  $MARGIN_DOUBLE;
    margin-top:    $MARGIN_SMALL;
    margin-bottom: 17px;
}

BubbleItem MLabelStyle#MsgBubbleTimeStampLabelOutgoingFailed {

    font: $FONT_FAMILY light 18px;
    color: $COLOR_WARNING;

    margin-left:   $MARGIN_DOUBLE;
    margin-right:  $MARGIN_DOUBLE;
    margin-top:    $MARGIN_SMALL;
    margin-bottom: 17px;
}


BubbleItem MLabelStyle#MsgBubbleTimeStampLabelIncoming {

    font: $FONT_FAMILY light 18px;
    color: $COLOR_INVERTED_FOREGROUND;

    margin-left:   $MARGIN_DOUBLE;
    margin-right:  $MARGIN_DOUBLE;
    margin-top:    $MARGIN_SMALL;
    margin-bottom: 9px;
}

BubbleItem MLabelStyle#MsgBubbleTimeStampLabelIncoming.Landscape {

    preferred-size:  -1 -1; // <-- temporary values, needs to respect borders
    minimum-size:    -1 -1;
    maximum-size: 702px -1;
}

BubbleItem MLabelStyle#MsgBubbleTimeStampLabelIncoming.Portrait {

    preferred-size:  -1 -1; // <-- temporary values, needs to respect borders
    minimum-size:    -1 -1;
    maximum-size: 328px -1;
}

BubbleItem MLabelStyle#BubbleTimeStampLabelOutgoing {

    font: $FONT_FAMILY light 18px;
    color: $COLOR_FOREGROUND;

    margin-left:   $MARGIN_DOUBLE;
    margin-right:  $MARGIN_DOUBLE;
    margin-top:    0px;
    margin-bottom: 9px;
}

BubbleItem MLabelStyle#BubbleTimeStampLabelOutgoingFailed {

    font: $FONT_FAMILY light 18px;
    color: $COLOR_WARNING;

    margin-left:   $MARGIN_DOUBLE;
    margin-right:  $MARGIN_DOUBLE;
    margin-top:    0px;
    margin-bottom: 9px;
}

BubbleItem MLabelStyle#BubbleTimeStampLabelIncoming {

    font: $FONT_FAMILY light 18px;
    color: $COLOR_INVERTED_FOREGROUND;

    margin-left:   $MARGIN_DOUBLE;
    margin-right:  $MARGIN_DOUBLE;
    margin-top:    0px;
    margin-bottom: 9px;
}

BubbleItem MLabelStyle#BubbleTimeStampLabelIncoming.Landscape {

    preferred-size:  -1 -1; // <-- temporary values, needs to respect borders
    minimum-size:    -1 -1;
    maximum-size: 702px -1;
}

BubbleItem MLabelStyle#BubbleTimeStampLabelIncoming.Portrait {

    preferred-size:  -1 -1; // <-- temporary values, needs to respect borders
    minimum-size:    -1 -1;
    maximum-size: 328px -1;
}

/* ---------------------- BUBBLE COLORING ---------------------- */

BubbleItem MWidgetStyle#IncomingBubble0 {
    background-image: "meegotouch-messaging-conversation-bubble-incoming1-normal" 22px 22px 36px 22px;

    margin-top:    0;
    margin-bottom: 9px;
    margin-left:   0;
    margin-right:  0;

    minimum-size: -1 38px;
}

BubbleItem MWidgetStyle#IncomingBubble0:pressed {
    background-image: "meegotouch-messaging-conversation-bubble-incoming1-pressed" 22px 22px 36px 22px;
}

BubbleItem MWidgetStyle#IncomingBubble1 {
   background-image: "meegotouch-messaging-conversation-bubble-incoming2-normal" 22px 22px 36px 22px;

    margin-top:    0;
    margin-bottom: 9px;
    margin-left:   0;
    margin-right:  0;

    minimum-size: -1 38px;
}

BubbleItem MWidgetStyle#IncomingBubble1:pressed {
    background-image: "meegotouch-messaging-conversation-bubble-incoming2-pressed" 22px 22px 36px 22px;
}

BubbleItem MWidgetStyle#IncomingBubble2 {
    background-image: "meegotouch-messaging-conversation-bubble-incoming3-normal" 22px 22px 36px 22px;

    margin-top:    0;
    margin-bottom: 9px;
    margin-left:   0;
    margin-right:  0;

    minimum-size: -1 38px;
}

BubbleItem MWidgetStyle#IncomingBubble2:pressed {
    background-image: "meegotouch-messaging-conversation-bubble-incoming3-pressed" 22px 22px 36px 22px;
}

BubbleItem MWidgetStyle#IncomingBubble3 {
    background-image: "meegotouch-messaging-conversation-bubble-incoming4-normal" 22px 22px 36px 22px;

    margin-top:    0;
    margin-bottom: 9px;
    margin-left:   0;
    margin-right:  0;

    minimum-size: -1 38px;
}

BubbleItem MWidgetStyle#IncomingBubble3:pressed {
    background-image: "meegotouch-messaging-conversation-bubble-incoming4-pressed" 22px 22px 36px 22px;
}

BubbleItem MWidgetStyle#OutgoingBubble {
    background-image: "meegotouch-messaging-conversation-bubble-outgoing1-normal" 22px 22px 22px 36px;

    margin-top:    9px;
    margin-bottom: 0;
    margin-left:   0;
    margin-right:  0;

    minimum-size: -1 38px;
}

BubbleItem MWidgetStyle#OutgoingBubble:pressed {
    background-image: "meegotouch-messaging-conversation-bubble-outgoing1-pressed" 22px 22px 22px 36px;
}

BubbleItem MWidgetStyle#IncomingBubble0:active {
    background-image: "meegotouch-messaging-conversation-bubble-incoming1-pressed" 22px 22px 36px 22px;
}

/* ---------------------- BUBBLE STATUS MESSAGE ---------------------- */

BubbleItem MWidgetStyle#StatusMessageBubble {
    background-image: "meegotouch-messaging-bubble-info-background" 14px 14px 14px 14px;

    margin-top:    9px;
    margin-bottom: 9px;
    margin-left:   0px;
    margin-right:  0px;

    minimum-size: -1 38px;
}

BubbleItem MWidgetStyle#StatusMessageBubble.Landscape {

    preferred-size:  -1 -1; // <-- temporary values, needs to respect borders
    minimum-size:    -1 -1;
    maximum-size: 798px -1;
}

BubbleItem MWidgetStyle#StatusMessageBubble.Portrait {

    preferred-size:  -1 -1; // <-- temporary values, needs to respect borders
    minimum-size:    -1 -1;
    maximum-size: 430px -1;
}

BubbleItem MLabelStyle#BubbleStatusMessageLabel {

    font: $FONT_FAMILY light 20px;
    color: $COLOR_SECONDARY_FOREGROUND;

    margin-top:    $MARGIN_SMALL;
    margin-bottom: $MARGIN_SMALL;
    margin-left:   $MARGIN_DOUBLE;
    margin-right:  $MARGIN_DOUBLE;
}

/* ---------------------- BUBBLE CONTACT CARD STYLES ---------------------- */

BubbleItem MWidgetStyle#ContactCardItemOutgoing {
    minimum-size: 200px -1;

    margin-right:  0;
    margin-left:   0;
    margin-bottom: 8px; /* Make up for the tip of the bubble */

    padding-left:   $INDENT_DEFAULT;
    padding-right:  $INDENT_DEFAULT;
    padding-top:    $PADDING_XLARGE;
    padding-bottom: $MARGIN_DOUBLE;
}

BubbleItem MWidgetStyle#ContactCardItemOutgoing.Landscape {
    maximum-size: 400px -1;
}

BubbleItem MWidgetStyle#ContactCardItemOutgoing.Portrait {
    maximum-size: 400px -1;
}

BubbleItem MWidgetStyle#ContactCardItemIncoming {
    minimum-size: 200px -1;

    margin-right: 0;
    margin-left:  0;
    margin-top:   8px; /* Make up for the tip of the bubble */

    padding-left:   $INDENT_DEFAULT;
    padding-right:  $INDENT_DEFAULT;
    padding-top:    $PADDING_XLARGE;
    padding-bottom: $MARGIN_DOUBLE;
}

BubbleItem MWidgetStyle#ContactCardItemIncoming.Landscape {
    maximum-size: 400px -1;
}

BubbleItem MWidgetStyle#ContactCardItemIncoming.Portrait {
    maximum-size: 360px -1;
}


BubbleItem MImageWidgetStyle#CommonThumbnail {
    margin-left:  0;
    margin-right: 0;
    margin-top:   $MARGIN_XSMALL;
}

BubbleItem MLabelStyle#CommonTitle {
    font:  $FONT_FAMILY light 22px;
    color: $COLOR_FOREGROUND;

    margin-right:  $MARGIN_DOUBLE;
    margin-left:   $MARGIN_DOUBLE;
    margin-top:    0;
    margin-bottom: 0;
}

BubbleItem MLabelStyle#CommonTitleInverted {
    font:  $FONT_FAMILY light 22px;
    color: $COLOR_INVERTED_FOREGROUND;

    margin-right:  $MARGIN_DOUBLE;
    margin-left:   $MARGIN_DOUBLE;
    margin-top:    0;
    margin-bottom: 0;
}

BubbleItem MLabelStyle#CommonSubTitle {
    font:  $FONT_FAMILY normal 22px;
    color: $COLOR_FOREGROUND;

    margin-right:  $MARGIN_DOUBLE;
    margin-left:   $MARGIN_DOUBLE;
    margin-top:    $MARGIN_SMALL;
    margin-bottom: $MARGIN_SMALL;
}

BubbleItem MLabelStyle#CommonSubTitleInverted {
    font:  $FONT_FAMILY normal 22px;
    color: $COLOR_INVERTED_FOREGROUND;

    margin-right:  $MARGIN_DOUBLE;
    margin-left:   $MARGIN_DOUBLE;
    margin-top:    $MARGIN_SMALL;
    margin-bottom: $MARGIN_SMALL;
}

BubbleItem MImageWidgetStyle#CommonDrillDownIcon {
    margin-right: 0;
}


/* ---------------------- CONTACT INFO ---------------------- */

ContactInfo MAbstractLayoutPolicyStyle#BorderlessLayout {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding-bottom: 0;

    vertical-spacing: 0;
    horizontal-spacing: 0;
}

ContactInfo MImageWidgetStyle#CommonSmallMainIcon {
    presence-icon-style-name: "PresenceIconStyle";
    margin-right: $INDENT_DEFAULT;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

ContactInfo MLabelStyle#CommonAvatarInitials {
    font: $FONT_DEFAULT_BOLD;
}

/* ---------------------- GROUP INFO ---------------------- */

GroupInfo MButtonStyle#GroupAvatarButton {
    icon-size:      $SIZE_ICON_LARGE $SIZE_ICON_LARGE;
    minimum-size:   $SIZE_ICON_LARGE $SIZE_ICON_LARGE;
    preferred-size: $SIZE_ICON_LARGE $SIZE_ICON_LARGE;
    maximum-size:   $SIZE_ICON_LARGE $SIZE_ICON_LARGE;
    margin-top: 0;
    margin-right: $INDENT_DEFAULT;
    margin-left: 0;
    margin-bottom: 0;
}

GroupInfo MImageWidgetStyle#GroupAvatarImage {
    minimum-size:   $SIZE_ICON_LARGE $SIZE_ICON_LARGE;
    preferred-size: $SIZE_ICON_LARGE $SIZE_ICON_LARGE;
    maximum-size:   $SIZE_ICON_LARGE $SIZE_ICON_LARGE;
    margin-top: 0;
    margin-right: $INDENT_DEFAULT;
    margin-left: 0;
    margin-bottom: 0;
}

/*----------------------   CONVERSATION PAGE -------------------------*/

ContactInfo MButtonStyle#CommonSheetHeaderButton {
    minimum-size:     -1 42px;
    preferred-size:   -1 42px;
    maximum-size:     200px 42px;
    margin-top:       15px;
    margin-bottom:    15px;
    margin-left:      $INDENT_DEFAULT;
    margin-right:     $INDENT_DEFAULT;
}

ContactInfo MButtonStyle#CommonSheetHeaderButton.Landscape {
    margin-top:     11px;
    margin-bottom:  11px;
}

GroupInfo MButtonStyle#CommonSheetHeaderButton {
    minimum-size:     -1 42px;
    preferred-size:   -1 42px;
    maximum-size:     200px 42px;
    margin-top:       15px;
    margin-bottom:    15px;
    margin-left:      $INDENT_DEFAULT;
    margin-right:     $INDENT_DEFAULT;
}

GroupInfo MButtonStyle#CommonSheetHeaderButton.Landscape {
    margin-top:     11px;
    margin-bottom:  11px;
}

/*--------------------    Filtering highlighter   ---------------------------*/

ConversationListItem MLabelStyle#CommonInboxTitle {
    highlight-color: $COLOR_ACCENT6;
}

ConversationListItem MLabelStyle#CommonInboxTitle.Portrait
{
    minimum-size: -1 -1;
 }

ConversationListItem MLabelStyle#CommonInboxTitle.Portrait
{
    minimum-size: -1 -1;
 }
