MWindowStyle {
    x11-startup-pixmap: "meegotouch-empty-synchronization-black-portrait" ;
    //    startup-fill-color: black;
}

MWindowStyle.Landscape {
    x11-startup-pixmap: "meegotouch-empty-synchronization-black-portrait" ;
    //    startup-fill-color: black;
}

//For error cases, label color should be red.
MLabelStyle#CommonSubTextInverted
{
    color: $COLOR_WARNING;
}

//For all the four MApplicationPages, background color should be inverted
#SyncSwitchPageInverted
{
    background-image:;
    background-color:;
}

#SyncWelcomePage.Landscape {
    background-image: "meegotouch-accounts-landscape-background";
}

#SyncWelcomePage.Portrait {
    background-image: "meegotouch-accounts-portrait-background";
}

#MApplicationWindow {
    toolbar-style-name: "MToolbarStyleInverted";
}

MApplicationWindowStyle#SyncUIWindow {

    x11-startup-pixmap: "meegotouch-empty-synchronization-background-black-portrait" ;
    startup-fill-color: black;
    navigation-bar-style-name:"MNavigationBarStyleInverted";
}
MSheetStyle#Inverted
{
        appearance-animation: "MWidgetFadeAnimation";
        disappearance-animation: "MWidgetFadeAnimation";
}
MButtonStyle#SwitchLaunchButton {

    icon-size: 64 64;
    icon-align: left;
}

