/*                              *
 *    .oO8¤:  DIALER  :¤8Oo.    *
 *                              */

@const DIALPAD_BG_CORNERS:     31px 31px 31px 31px;
@const BLANCO_DEFAULT_CORNERS: 23px 23px 23px 23px;

@const DIALER_CALLBUTTON_WIDTH:           21.4mm;
@const DIALER_CALLBUTTON_HEIGHT:           6.4mm;

@const DIALER_BACKSPACE_WIDTH:             7.2mm; /* unused */

@const DIALER_ACCOUNTDISPLAY_HEIGHT:         3mm;
@const DIALER_ACCOUNTDISPLAY_TOP_MARGIN:   1.2mm;
@const DIALER_ACCOUNTDISPLAY_BOTTOM_MARGIN: 0.2mm;

@const DIALEDIT_TOTAL_WIDTH:              48.0mm;

@const DIALPAD_WIDTH_DTMF:                44.0mm;
@const DIALPAD_LEFT_PADDING_DTMF:          4.1mm;

//@const DIALPAD_HEIGHT_SINGLE_ACCOUNT:     44.0mm;
//@const DIALPAD_HEIGHT_MULTI_ACCOUNT:      42.4mm;

@const DTMF_DIALEDIT_TOTAL_WIDTH:             -1;

@const DTMF_DIALEDIT_TOTAL_HEIGHT:         6.4mm;

@const DIALEDIT_CENTER:                   16.8mm;

@const DIALEDIT_HEIGHT:                       152px;
@const DIALEDIT_HEIGHT_MULTIACCOUNT:          121px;
@const DIALEDIT_HEIGHT_MULTIACCOUNT_CELLULAR: 149px;

@const DIALPAD_BUTTON_W:                  15.0mm;
@const DIALPAD_BUTTON_H:                  10.2mm;
@const DIALPAD_BUTTON_H_MAX:              11.0mm;

@const DIALPAD_BUTTON_DTMF_W:             9.47mm; /* unused */
@const DIALPAD_BUTTON_DTMF_H:              9.4mm; /* unused */

@const DIALPAD_ICON_PADDING:     $PADDING_DOUBLE; /* unused */

@const DIALPAD_LABEL_PADDING:              5.0mm;

@const DIALPAD_DTMF_LABEL_PADDING:         5.0mm; /* unused */

@const DIALER_BACKSPACE_ICON_WIDTH:        4.8mm;
@const DIALER_BACKSPACE_ICON_HEIGHT:       4.8mm;

@const DIALER_SERVICES_ICON_SIZE:          4.8mm;

@const DIALER_CALLBUTTON_ICON_SIZE:        4.0mm;

@const DIALPAD_ICON_WIDTH:                 2.4mm;
@const DIALPAD_ICON_HEIGHT:                2.4mm;

@const DTMF_BUTTON_H_DIST:                  38px;
@const DTMF_BUTTON_MARGIN_LEFT:             60px;


DialpadButtonFaceStyle
{
    minimum-size: -1 -1;
    preferred-size: -1 92px;
    maximum-size: -1 92px;

    primary-label-font: $FONT_FAMILY bold 60;
    secondary-label-font: $FONT_FAMILY light uppercase 20;

    primary-label-color: $COLOR_FOREGROUND;
    primary-label-drop-shadow-color: $COLOR_INVERTED_FOREGROUND;
    secondary-label-color: $COLOR_SECONDARY_FOREGROUND;

    primary-label-top: -5;
    secondary-label-bottom: 87;
    primary-label-drop-shadow-offset: 0px 1px;

    padding-left:   0px;
    padding-top:    0px;
    padding-right:  0px;
    padding-bottom: 0px;

    margin-left:    0px;
    margin-top:     0px;
    margin-right:   0px;
    margin-bottom:  0px;

    background-tiles:;
    background-color:;
    background-boxed-percent: 0;
    background-image: ;
    background-opacity: 1;

// for debugging pink
//    background-color: #ff1155;
//    background-opacity: 0.2;
}

DialpadButtonFaceStyle#dialerAsteriskButton
{
    preferred-size: -1 65px;
    maximum-size: -1 65px;

    primary-label-top: -5;
    secondary-label-bottom: 60;
}

DialpadButtonFaceStyle#dtmfDialogButton
{
    minimum-size: -1 -1;
    preferred-size: -1 78px;
    maximum-size: -1 78px;

    primary-label-font: $FONT_FAMILY 48;
    primary-label-color: $COLOR_INVERTED_FOREGROUND;

    primary-label-top: -4;
    secondary-label-bottom: 74;
}

DialpadButtonFaceStyle#dtmfDialogAsteriskButton
{
    minimum-size: -1 -1;
    preferred-size: -1 54px;
    maximum-size: -1 54px;

    primary-label-font: $FONT_FAMILY 48;
    primary-label-color: $COLOR_INVERTED_FOREGROUND;

    primary-label-top: -4;
}

DialpadButton MImageWidgetStyle[dialpadVoicemailIcon]
{
    minimum-size:   24px 24px;
    maximum-size:   24px 24px;
    preferred-size: 24px 24px;

    padding-left:   0px;
    padding-top:    0px;
    padding-right:  0px;
    padding-bottom: 0px;

    margin-left:    0px;
    margin-top:     0px;
    margin-right:   0px;
    margin-bottom:  0px;

    background-tiles:;
    background-color:;
    background-boxed-percent: 0;
    background-image: ;
    background-opacity: 0.0;
}

DialerButtonStyle
{
    text-color: $COLOR_FOREGROUND;

    text-margin-right:      0px;
    text-margin-left:       0px;
    text-margin-top:        0px;
    text-margin-bottom:     0px;

    margin-left:            0px;
    margin-top:             0px;
    margin-right:           0px;
    margin-bottom:          0px;

    padding-left:           0px;
    padding-top:            0px;
    padding-right:          0px;
    padding-bottom:         0px;

    icon-align:           right;
    horizontal-text-align: left;

    press-feedback:  priority2_static_press;
    release-feedback: priority2_static_release;

    minimum-size: $DIALPAD_BUTTON_W $DIALPAD_BUTTON_H;
    maximum-size: $DIALPAD_BUTTON_W $DIALPAD_BUTTON_H_MAX;
}

DialerButtonStyle[toneFeedback]
{
    press-feedback: priority2_dialer_press;
    release-feedback: priority2_dialer_release;
}

DialerButtonStyle:pressed
{
    text-color: $COLOR_INVERTED_FOREGROUND;
}

DialerButtonDtmfStyle
{
    text-color: $COLOR_FOREGROUND;

    text-margin-right:  0px;
    text-margin-left:   0px;
    text-margin-top:    0px;
    text-margin-bottom: 0px;

    margin-left:        0px;
    margin-top:         0px;
    margin-right:       0px;
    margin-bottom:      0px;

    minimum-size: $DIALPAD_BUTTON_DTMF_W $DIALPAD_BUTTON_DTMF_H;
    maximum-size: $DIALPAD_BUTTON_DTMF_W $DIALPAD_BUTTON_DTMF_H;

    background-tiles:;
    background-color:;
    background-boxed-percent: 0;
    background-image:;
    background-opacity: 0.0;

    icon-align:           right;
    horizontal-text-align: left;

    press-feedback: ;
    release-feedback: ;
    cancel-feedback: ;
}

DialerButtonDtmfStyle:pressed
{
    background-image: meegotouch-callui-dialler-dtmf-button-background-pressed $DIALPAD_BG_CORNERS;
    background-opacity: 1.0;
}


#dialerCallButton
{
    text-color: $COLOR_INVERTED_FOREGROUND;
    background-image : meegotouch-callui-button-answer-background $CORNER_MARGINS;

    margin-left:    58px;
    margin-right:   43px;
    margin-top:     0px;
    margin-bottom:  0px;

    padding-left:   0px;
    padding-top:    0px;
    padding-right:  0px;
    padding-bottom: 0px;

    minimum-size:   $DIALER_CALLBUTTON_WIDTH $DIALER_CALLBUTTON_HEIGHT;
    preferred-size: $DIALER_CALLBUTTON_WIDTH $DIALER_CALLBUTTON_HEIGHT;
    maximum-size:   $DIALER_CALLBUTTON_WIDTH $DIALER_CALLBUTTON_HEIGHT;

    icon-size:      $SIZE_ICON_LARGE $SIZE_ICON_LARGE;

    press-feedback: priority2_callbutton_press;
    release-feedback: priority2_callbutton_release;
    cancel-feedback: priority2_callbutton_cancel;
}

#dialerCallButton:pressed {
    background-image: meegotouch-callui-button-answer-background-pressed $CORNER_MARGINS;
}

AccountDisplayStyle#singleAccount
{
    minimum-size:    100% 152px;
    preferred-size:  100% 152px;
    maximum-size:    100% 152px;

    background-tiles:          ;
    background-color:   #231F20;
    background-boxed-percent: 0;
    background-image:          ;
    background-opacity:     1.0; // TODO: fix for other values too

    margin-bottom:         36px; // estimate from ALG, need specific value
    margin-top:             0px;
    margin-left:            0px;
    margin-right:           0px;

    padding-top:            0px;
    padding-bottom:         0px;
    padding-left:           0px;
    padding-right:          0px;

    gradient-image-id: "meegotouch-callui-inputfield-general-background";
}

AccountDisplayStyle#multiAccount
{
    minimum-size: 100% 216px;
    preferred-size: 100% 216px;
    maximum-size: 100% 216px;

    background-tiles:;
    background-color:   #231F20;
    background-boxed-percent: 0;
    background-image:;
    background-opacity: 1.0; // TODO: fix for other values too

    margin-top:        0px;
    margin-bottom:    20px; // estimate from ALG, need specific value
    margin-right:      0px;
    margin-left:       0px;

    padding-left:      0px;
    padding-top:            0px;
    padding-right:          0px;
    padding-bottom:         0px;

    arrow-icon-id: "icon-m-textinput-combobox-arrow";
    icon-style-name: "accountDisplayIcon"; // spec says CommonHeaderRightIcon (defunct)
    title-style-name: "CommonLargeViewHeaderInverted";
    sub-title-style-name: "accountDisplaySubTitle";

    gradient-image-id: "meegotouch-callui-inputfield-general-background";
}

AccountDisplay MImageWidgetStyle#accountDisplayIcon
{
    maximum-size:   32px 32px;
    minimum-size:   32px 32px;
    preferred-size: 32px 32px;

    margin-left:    0;
    margin-right:   $MARGIN_XXLARGE;
    margin-top:     0;
    margin-bottom:  0;

    padding-left:       0px;
    padding-top:        0px;
    padding-right:      0px;
    padding-bottom:     0px;

    background-image:;
    background-color:;
}

AccountDisplay MListItemStyle#accountDisplayTitleWidget
{
    minimum-size: 0px 64px;
    preferred-size: -1 64px;
    maximum-size: -1 64px;

    background-image:;
    background-opacity: 0.0;
}

AccountDisplay MLabelStyle#accountDisplaySubTitle
{
    minimum-size: 0px 28px;
    preferred-size: -1 28px;
    maximum-size: -1 28px;

    font: $FONT_SMALL_REGULAR; // $FONT_FAMILY bold 20px;
    color: white; //    color: #8C8C8C;

    padding-left:       0px;
    padding-top:        4px;
    padding-right:      0px;
    padding-bottom:     0px;

    margin-top:         0px;
    margin-bottom:      $DIALER_ACCOUNTDISPLAY_BOTTOM_MARGIN;
    margin-right:       $INDENT_DEFAULT;
    margin-left:        $INDENT_DEFAULT;

    background-tiles:;
    background-image:;
    background-color:;
    background-boxed-percent: 0;
    background-opacity: 0.0;
}

DialEditWidgetStyle
{
    padding-left:           0px;
    padding-top:            0px;
    padding-right:          0px;
    padding-bottom:         0px;

    background-tiles:;
    background-color:;
    background-boxed-percent: 0;
    background-image:;
    background-opacity: 0.0;

    margin-left:            0px;
    margin-right:           0px;
    margin-top:             0px;
    margin-bottom:          0px;

    text-margin-left:       $MARGIN_XLARGE;
    text-margin-right:      0;
    text-margin-top:        8;
    text-margin-bottom:     0;

    minimum-size: 100% $DIALEDIT_HEIGHT;
    preferred-size: 100% $DIALEDIT_HEIGHT;
    maximum-size: 100% $DIALEDIT_HEIGHT;

    fresh-text-color: white;

    font: $FONT_FAMILY light 50;

    fresh-text-opacity: 1.0;
    aged-text-opacity: 0.5;
}

DialEditWidgetStyle#DialEditMultiAccount
{
    minimum-size: 100% $DIALEDIT_HEIGHT_MULTIACCOUNT;
    preferred-size: 100% $DIALEDIT_HEIGHT_MULTIACCOUNT;
    maximum-size: 100% $DIALEDIT_HEIGHT_MULTIACCOUNT;

    font: $FONT_FAMILY light 46;
}

DialEditWidgetStyle#DialEditMultiAccountCellular
{
    minimum-size: 100% $DIALEDIT_HEIGHT_MULTIACCOUNT_CELLULAR;
    preferred-size: 100% $DIALEDIT_HEIGHT_MULTIACCOUNT_CELLULAR;
    maximum-size: 100% $DIALEDIT_HEIGHT_MULTIACCOUNT_CELLULAR;

    font: $FONT_FAMILY light 50;
}

DialEditWidget MStylableWidget#DialEditField
{
    background-tiles:;
    background-image:;
    background-color:;
    background-boxed-percent: 0;
    background-opacity: 0.5;

    margin-left:    0px;
    margin-top:     0px;
    margin-right:   0px;
    margin-bottom:  0px;
}


DialEditWidgetStyle#DTMFDialEdit
{
    minimum-size: -1 -1;
    maximum-size: -1 -1;
    preferred-size: -1 -1;

    margin-left:        0px;
    margin-top:         0px;
    margin-right:       0px;
    margin-bottom:      0px;

    padding-left:       0px;
    padding-top:        0px;
    padding-right:      0px;
    padding-bottom:     0px;

    fresh-text-color: white;

    font: $FONT_FAMILY light 42;

    background-image:;
    background-color:;
    background-opacity: 0.0;
}

DialEditWidget MButtonStyle#DialEditBackspace
{
    minimum-size: $DIALER_BACKSPACE_WIDTH -1;
    maximum-size: $DIALER_BACKSPACE_WIDTH -1;

    background-tiles:;
    background-image:;
    background-color:;
    background-boxed-percent: 0;
    background-opacity: 0.0;

    padding-right:    0px;
    padding-left:     0px;
    padding-top:      0px;
    padding-bottom:   0px;

    icon-id: "icon-m-telephony-backspace";
    icon-align: center;

    icon-size: $DIALER_BACKSPACE_ICON_WIDTH $DIALER_BACKSPACE_ICON_HEIGHT;

    press-feedback: priority2_static_press;
    release-feedback: priority2_static_release;
    cancel-feedback: priority2_static_cancel;
}

DialEditWidget MButtonStyle#DialEditBackspace:pressed
{
    icon-id: "icon-m-telephony-backspace-selected";
    content-opacity: 1.0;
}

DialerButtonStyle#AddMergeContact
{
    minimum-size:       $DIALER_CALLBUTTON_HEIGHT $DIALER_CALLBUTTON_HEIGHT;
    preferred-size:     $DIALER_CALLBUTTON_HEIGHT $DIALER_CALLBUTTON_HEIGHT;
    maximum-size:       $DIALER_CALLBUTTON_HEIGHT $DIALER_CALLBUTTON_HEIGHT;

    background-image:   meegotouch-callui-dialler-add-contact-button-background;

    margin-left:        43px;
    margin-right:       58px;
    margin-top:         0px;
    margin-bottom:      0px;

    icon-size:          $SIZE_ICON_LARGE $SIZE_ICON_LARGE;

    press-feedback: press;
    release-feedback: release;
    cancel-feedback: cancel;
}

DialerButtonStyle#AddMergeContact:pressed
{
    background-image: meegotouch-callui-dialler-add-contact-button-background-pressed;
}

DialpadWidgetStyle#dialpadDTMF
{
    minimum-size:       $DIALPAD_WIDTH_DTMF 0;
    preferred-size:     $DIALPAD_WIDTH_DTMF -1;
    maximum-size:       $DIALPAD_WIDTH_DTMF -1;

    padding-left: $DIALPAD_LEFT_PADDING_DTMF;
    background-color: black;
    background-opacity: 0.5;
}

DialpadWidgetStyle#dialpadSingleAccount
{
    background-tiles:;
    background-image:;
    background-color:;
    background-boxed-percent: 0;
    background-opacity: 1.0;

    margin-left:    0px;
    margin-right:   0px;
    margin-top:     0px;

    margin-bottom:  23px;
}

DialpadWidgetStyle#dialpadMultiAccount
{
    background-tiles:;
    background-image:;
    background-color:;
    background-boxed-percent: 0;
    background-opacity: 0.0;

    margin-left:    0px;
    margin-right:   0px;
    margin-top:     0px;

    margin-bottom:  19px;
}

DialpadWidget#dialpadSingleAccount DialerButtonStyle
{

    background-image:;
    background-color:;
    background-opacity: 1.0;
    transition: "imploding-background";

    minimum-size: $DIALPAD_BUTTON_H_MAX $DIALPAD_BUTTON_H_MAX;
    maximum-size: $DIALPAD_BUTTON_H_MAX $DIALPAD_BUTTON_H_MAX;

    margin-left:    20px;
    margin-right:   20px;
}

DialpadWidget#dialpadMultiAccount DialerButtonStyle
{
    background-image:;
    background-color:;
    background-opacity: 1.0;
    transition: "imploding-background";

    minimum-size: $DIALPAD_BUTTON_H $DIALPAD_BUTTON_H;
    maximum-size: $DIALPAD_BUTTON_H $DIALPAD_BUTTON_H;

    margin-left:    24px;
    margin-right:   24px;
}

DialpadWidget#dialpadMultiAccount DialerButtonStyle:pressed
{
    background-opacity: 1.0;
    background-image: meegotouch-callui-dialler-accounts-button-background-pressed $DIALPAD_BG_CORNERS;
}

DialpadWidget#dialpadSingleAccount DialerButtonStyle:pressed
{
    background-opacity: 1.0;
    background-image: meegotouch-callui-dialler-simple-button-background-pressed $DIALPAD_BG_CORNERS;
}

#DialerKey1ButtonDtmf
{
    margin-right: $DTMF_BUTTON_H_DIST;
}

#DialerKey2ButtonDtmf
{
    margin-right: $DTMF_BUTTON_H_DIST;
}

#DialerKey4ButtonDtmf
{
    margin-right: $DTMF_BUTTON_H_DIST;
}

#DialerKey5ButtonDtmf
{
    margin-right: $DTMF_BUTTON_H_DIST;
}

#DialerKey7ButtonDtmf
{
    margin-right: $DTMF_BUTTON_H_DIST;
}

#DialerKey8ButtonDtmf
{
    margin-right: $DTMF_BUTTON_H_DIST;
}

#DialerKeyAsteriskButtonDtmf
{
    margin-right: $DTMF_BUTTON_H_DIST;
}

#DialerKey0ButtonDtmf
{
    margin-right: $DTMF_BUTTON_H_DIST;
}

DTMFDialogStyle
{
    has-title-bar:     false;
    dialog-left-margin:    0;
    dialog-right-margin:   0;
    dialog-top-margin:     0;
    dialog-bottom-margin:  0;

    // This sets button local feedback volume.
    // Value range is from minimum volume of -63 to maximum of 0.
    // Values outside of the range will be ignored and cause default of -15 to be used.
    // -15 corresponds to medium setting 2 [0..3] of touch screen tones
    dtmf-volume:         -15;
}

// this override can be necessary because common MDialog style
// could have stuff in .Portrait
DTMFDialogStyle.Portrait
{
    has-title-bar:     false;
    dialog-top-margin:     0;
    dialog-bottom-margin:  0;
    dialog-left-margin:    0;
    dialog-right-margin:   0;
}
