#CustomThumbnail.Landscape {
    maximum-size : 40.3mm 22.7mm;
    preferred-size : 40.3mm 22.7mm;
    minimum-size : 40.3mm 22.7mm;
    margin-left : $MARGIN_XLARGE;
    margin-right : $MARGIN_XLARGE;
    margin-top : $MARGIN_XLARGE;
}

#CustomThumbnail.Portrait {
    maximum-size : 21.6mm 12.2mm;
    preferred-size : 21.6mm 12.2mm;
    minimum-size : 21.6mm 12.2mm;
    margin-left : $MARGIN_XLARGE;
    margin-right : $MARGIN_XLARGE;
    margin-top : $MARGIN_XLARGE;
}

#ThumbnailLabelContainer.Portrait {
    maximum-size : 21.6mm 2.8mm;
    preferred-size : 21.6mm 2.8mm;
    minimum-size : 21.6mm 2.8mm;
    background-color : #000000;
    background-opacity: 0.75;
    margin-left : $MARGIN_XLARGE;
    margin-right : $MARGIN_XLARGE;
 }

#ThumbnailLabelContainer.Landscape {
    maximum-size : 40.3mm 2.8mm;
    preferred-size : 40.3mm 2.8mm;
    minimum-size : 40.3mm 2.8mm;
    background-color : #000000;
    background-opacity: 0.75;
    margin-left : $MARGIN_XLARGE;
    margin-right : $MARGIN_XLARGE;
 }

#ThumbnailLabel {
    margin-left : $MARGIN_DOUBLE;
    margin-right : $MARGIN_DOUBLE;
    font : $FONT_XSMALL;
    color : #ffffff;
}

