CalendarReminderContentItem MLabelStyle#CalendarReminderDateTimeLabel {
    font:          $FONT_FAMILY bold 24;
    color:         #FFFFFF;
    margin-top:    0;
    margin-bottom: 0;
    margin-left:   16;
    margin-right:  0;
}

CalendarReminderContentItem MLabelStyle#CalendarReminderTitleLabel {
    font:          $FONT_FAMILY_LIGHT 24;
    color:         #FFFFFF;
    margin-top:    0;
    margin-bottom: 0;
    margin-left:   16;
    margin-right:  0;
}

#CalendarReminderDividerLine.Portrait {
    margin-top:        0;
    margin-bottom:     0;
    margin-left:       0;
    margin-right:      0;
}

#CalendarReminderDividerLine.Landscape {
    margin-top:        0;
    margin-bottom:     0;
    margin-left:       0;
    margin-right:      0;
}

#CalendarReminderDivider.Portrait {
    color:              #1080DD;
    background-color:   #1080DD;
    background-opacity: 0.0;
    minimum-size:       44.8mm 0.1mm;  
    preferred-size:     44.8mm 0.1mm;
    maximum-size:       44.8mm 0.1mm;
    margin-left:        0;
    margin-right:       0;
    margin-top:         0;
    margin-bottom:      16;
}

#CalendarReminderDivider.Landscape {
    color:              #1080DD; 
    background-color:   #1080DD;
    background-opacity: 0.0;
    minimum-size:       55.4mm 0.1mm;
    preferred-size:     55.4mm 0.1mm;
    maximum-size:       55.4mm 0.1mm;
    margin-left:        0;
    margin-right:       0;
    margin-top:         0;
    margin-bottom:      16;
}

LockScreenReminderStylableWidget MWidgetStyle#CalendarLockscreenPanel {
    background-color:   transparent;
    background-image: ;
    minimum-size:       -1 -1;
    preferred-size:     -1 -1;
    maximum-size:       -1 -1;
    padding-top:    0;
    padding-bottom: 0;
    padding-left:   $INDENT_DEFAULT;
    padding-right:  $INDENT_DEFAULT;
}

LockScreenReminderStylableWidget MLabelStyle#CalendarLockscreenReminderTitle {
    font:          $FONT_FAMILY bold 48;
    color:         #FFFFFF;
    margin-top:    20;
    margin-bottom: 0;
    margin-left:   0;
    margin-right:  0;
}

LockScreenReminderStylableWidget MLabelStyle#CalendarLockscreenReminderTitle2 {
    font:          $FONT_FAMILY bold 48;
    color:         #FFFFFF;
    margin-top:    12;
    margin-bottom: 0;
    margin-left:   0;
    margin-right:  0;
}

LockScreenReminderStylableWidget MLabelStyle#CalendarLockscreenReminderTitleBottom {
    font:          $FONT_FAMILY bold 48;
    color:         #FFFFFF;
    margin-top:    20;
    margin-bottom: 22;
    margin-left:   0;
    margin-right:  0;
}

LockScreenReminderStylableWidget MLabelStyle#CalendarLockscreenReminderTitleBottom2 {
    font:          $FONT_FAMILY bold 48;
    color:         #FFFFFF;
    margin-top:    12;
    margin-bottom: 22;
    margin-left:   0;
    margin-right:  0;
}

LockScreenReminderStylableWidget MLabelStyle#CalendarLockscreenReminderSubTitle {
    font:          $FONT_FAMILY_LIGHT 26;
    color:         #FFFFFF;
    margin-top:    16;
    margin-bottom: 0;
    margin-left:   0;
    margin-right:  0;
}

LockScreenReminderStylableWidget MLabelStyle#CalendarLockscreenReminderSubTitleBottom {
    font:          $FONT_FAMILY_LIGHT 26;
    color:         #FFFFFF;
    margin-top:    16;
    margin-bottom: 18;
    margin-left:   0;
    margin-right:  0;
}

LockScreenReminderStylableWidget MLabelStyle#CalendarLockscreenReminderSubTitle2 {
    font:          $FONT_FAMILY_LIGHT 26;
    color:         #FFFFFF;
    margin-top:    8;
    margin-bottom: 18;
    margin-left:   0;
    margin-right:  0;
}
