#SimAtkUI_AnswerButton {
    background-image : meegotouch-callui-button-answer-background $CORNER_MARGINS;

    preferred-size   : 210px 64px;
    minimum-size     : 210px 64px;
    maximum-size     : 210px 64px;

    icon-align       : center;
    icon-size        : 48px 48px;
}

#SimAtkUI_CallConfirmationDialog {
    has-close-button : true;
    has-title-bar    : true;
}

#SimAtkUI_AnswerButton:pressed {
    background-image : meegotouch-callui-button-answer-background-pressed $CORNER_MARGINS;
}

#SimAtkUI_ConfirmationDialog {
    has-close-button : false;
    has-title-bar    : true;
}


