@const HEIGHT_CANDIDATEITEM:  3.4mm;

@const HEIGHT_TOOLBARITEM: 4mm;

@const ROUNDED_CORNERS: 15px 15px 15px 15px;



/* values here are adjusted to provide nice view
   for character counter in SMS window */
MToolbarSwypeLabelStyle {
    margin-left:  8;
    margin-right: 8;
    margin-top: 0;
    margin-bottom: 0;
    minimum-size:   4.8mm $HEIGHT_TOOLBARITEM;
    preferred-size: -1    $HEIGHT_TOOLBARITEM;
    maximum-size:   20%   $HEIGHT_TOOLBARITEM;
    color: $COLOR_SECONDARY_FOREGROUND;
}

MToolbarSwypeButtonStyle {
    text-color: $COLOR_INVERTED_FOREGROUND;
    background-image: "meegotouch-keyboard-toolbar-button" $ROUNDED_CORNERS;
    margin-left: $MARGIN_SMALL;
    margin-right: $MARGIN_SMALL;
    margin-top: 0;
    margin-bottom: 0;
    minimum-size:   20% $HEIGHT_TOOLBARITEM;
    maximum-size:   40% $HEIGHT_TOOLBARITEM;
    /*below reactive margins should be fixed*/
/*  reactive-margin-left: 2;
    reactive-margin-right: 2;
    reactive-margin-top: 5;
    reactive-margin-bottom: 5;*/

    press-feedback: ;
    release-feedback: ;
}

MToolbarSwypeButtonStyle:translucent {
    text-color: $FONT_COLOR_KEYBOARD;
    background-image: "meegotouch-keyboard-toolbar-button-translucent" $ROUNDED_CORNERS;
}

MToolbarSwypeButtonStyle:disabled {
    background-image: "meegotouch-keyboard-toolbar-button-disabled"  $ROUNDED_CORNERS;
}

MToolbarSwypeButtonStyle:pressed {
    background-image: "meegotouch-keyboard-toolbar-button-pressed" $ROUNDED_CORNERS;
}

MToolbarSwypeButtonStyle:selected {
    background-image: "meegotouch-keyboard-toolbar-button-selected" $ROUNDED_CORNERS;
}

#MToolbarSwypeIconButton {
    margin-left: $MARGIN_SMALL;
    margin-right: $MARGIN_LARGE;
    minimum-size:   42 $HEIGHT_TOOLBARITEM;
    preferred-size: 42 $HEIGHT_TOOLBARITEM;
    maximum-size:   42 $HEIGHT_TOOLBARITEM;
}

#MToolbarSwypeTextButton {
    text-color: $COLOR_FOREGROUND;
    background-image: "meegotouch-keyboard-toolbar-button" $ROUNDED_CORNERS;
}

#MToolbarSwypeTextButton:pressed {
    text-color: $COLOR_FOREGROUND;
    background-image: "meegotouch-keyboard-toolbar-button-pressed" $ROUNDED_CORNERS;
}

#MToolbarSwypeTextButton:disabled {
    background-image: "meegotouch-keyboard-toolbar-button-disabled" $ROUNDED_CORNERS;
}

#MToolbarSwypeTextButton:selected {
    text-color: $COLOR_INVERTED_FOREGROUND;
    background-image: "meegotouch-keyboard-toolbar-button-selected" $ROUNDED_CORNERS;
}

#MToolbarSwypeTextButton.Landscape {
    minimum-size:   150 $HEIGHT_TOOLBARITEM;
    preferred-size: 150 $HEIGHT_TOOLBARITEM;
    maximum-size:   150 $HEIGHT_TOOLBARITEM;
}

#MToolbarSwypeTextButton.Portrait {
    minimum-size:   120 $HEIGHT_TOOLBARITEM;
    preferred-size: 120 $HEIGHT_TOOLBARITEM;
    maximum-size:   120 $HEIGHT_TOOLBARITEM;
}

#MToolbarSwypeIconButtonHighlighted {
    text-color: $COLOR_INVERTED_FOREGROUND;
    background-image: "meegotouch-keyboard-toolbar-action-key"  $ROUNDED_CORNERS;
    minimum-size:   42 $HEIGHT_TOOLBARITEM;
    preferred-size: 42 $HEIGHT_TOOLBARITEM;
    maximum-size:   42 $HEIGHT_TOOLBARITEM;
}

#MToolbarSwypeIconButtonHighlighted:pressed {
    background-image: "meegotouch-keyboard-toolbar-action-key-pressed"  $ROUNDED_CORNERS;
}

#MToolbarSwypeIconButtonHighlighted:selected {
    background-image: "meegotouch-keyboard-toolbar-action-key-selected"  $ROUNDED_CORNERS;
}

#MToolbarSwypeIconButtonHighlighted:disabled {
    background-image: "meegotouch-keyboard-toolbar-action-key-disabled"  $ROUNDED_CORNERS;
}

#MToolbarSwypeTextButtonHighlighted {
    background-image: "meegotouch-keyboard-toolbar-action-key"  $ROUNDED_CORNERS;
}

#MToolbarSwypeTextButtonHighlighted:pressed {
    background-image: "meegotouch-keyboard-toolbar-action-key-pressed"  $ROUNDED_CORNERS;
}

#MToolbarSwypeTextButtonHighlighted:selected {
    background-image: "meegotouch-keyboard-toolbar-action-key-selected-pressed"  $ROUNDED_CORNERS;
}

#MToolbarSwypeTextButtonHighlighted:disabled {
    background-image: "meegotouch-keyboard-toolbar-action-key-disabled"  $ROUNDED_CORNERS;
}

#MToolbarSwypeTextButtonHighlighted.Landscape {
    minimum-size:   150 $HEIGHT_TOOLBARITEM;
    preferred-size: 150 $HEIGHT_TOOLBARITEM;
    maximum-size:   150 $HEIGHT_TOOLBARITEM;
}

#MToolbarSwypeTextButtonHighlighted.Portrait {
    minimum-size:   120 $HEIGHT_TOOLBARITEM;
    preferred-size: 120 $HEIGHT_TOOLBARITEM;
    maximum-size:   120 $HEIGHT_TOOLBARITEM;
}

WidgetBarSwypeStyle {
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;

    padding-top: 11;
    padding-bottom: 8;
    padding-left: 11;
    padding-right: 11;
}


MImToolbarSwypeStyle {
    background-image: "meegotouch-keyboard-toolbar-background" $ROUNDED_CORNERS;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

MImToolbarSwypeStyle:translucent {
    background-image: "meegotouch-keyboard-toolbar-background-translucent" $ROUNDED_CORNERS;
}

MImToolbarSwypeStyle.Landscape {
    preferred-size: 100% -1;
    minimum-size: 100% -1;
    maximum-size: 100% -1;
}

MImToolbarSwypeStyle.Portrait {
    preferred-size: 100% -1;
    minimum-size: 100% -1;
    maximum-size: 100% -1;
}


