MVirtualKeyboardStyle {
   font-color: $FONT_COLOR_KEYBOARD;
}

NotificationStyle {
   background-image: "meegotouch-keyboard-change-mask" 15px 15px 15px 15px;
}

MImAbstractKeyAreaStyle {
   font-color: $FONT_COLOR_KEYBOARD;
}

MToolbarLabelStyle {
   color: $COLOR_SECONDARY_FOREGROUND;
}

#ExtendedKeys {
   font-color: $COLOR_FOREGROUND;

   key-pressed-font-color: $COLOR_FOREGROUND;
   key-selected-font-color: $COLOR_FOREGROUND;
   key-disabled-font-color: $COLOR_FOREGROUND;
   key-highlighted-font-color: $COLOR_FOREGROUND;

   enable-overlay-mode: true;
   commit-previous-key-on-press: false;
}

MKeyboardMagnifierStyle.Landscape {
   safety-margin-left:  -6px;
   safety-margin-right: -6px;
}

MKeyboardMagnifierStyle.Portrait {
   safety-margin-left:  -6px;
   safety-margin-right: -6px;
}

MImCorrectionCandidateItemStyle {
   font-color: $COLOR_FOREGROUND;
}

