/* Volume bar styles common for status area and status indicator menu */
MSceneWindowStyle#VolumeBarOverlay {
    appearance-animation: "MWidgetSlideAnimation";
    disappearance-animation: "MWidgetSlideAnimation";
}

MOverlay#VolumeBarOverlay MWidgetSlideAnimationStyle#In {
    duration: 150;
    easing-curve: outexpo;
}

MOverlay#VolumeBarOverlay MWidgetSlideAnimationStyle#Out {
    duration: 150;
    easing-curve: inexpo;
}

VolumeBarLogicStyle {
    key-repeat-initial-delay: 600;
    key-repeat-delay: 150;
}

VolumeBarContainerStyle {
    visible-duration: 1500;
    background-color: $COLOR_INVERTED_BACKGROUND;
    
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    minimum-size: 48.0mm -1;
    preferred-size: 48.0mm -1;
    maximum-size: 48.0mm -1;
}

VolumeBarStyle {
    interactive: true;
}

VolumeBarStyle.Portrait {
    minimum-size: 46.8mm 3.0mm;
    maximum-size: 46.8mm 3.0mm;
}

VolumeBarStyle.Landscape {
    minimum-size: 100% 3.0mm;
    maximum-size: 100% 3.0mm;
}

VolumeBar MSliderStyle {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;

    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    handle-pixmap:;
    handle-pressed-pixmap:;
    background-image:;
    background-base-image: "meegotouch-volume-background" 3 3 3 3;
    background-elapsed-image:;
    background-received-image:;
    groove-thickness: 2.4mm;
    min-label-fixed-width: 0;
    max-label-fixed-width: 0;
    groove-margin: 0;
    elapsed-offset: 0;

    reactive-margin-top: 2mm;
    reactive-margin-bottom: 2mm;

    handle-animation-duration: 150;
    handle-animation-easing-curve: outexpo;
}

VolumeBar MSliderStyle:disabled {
    handle-pixmap:;
    handle-pressed-pixmap:;
    background-image:;
    background-base-image: "meegotouch-volume-background" 3 3 3 3;
    background-elapsed-image:;
    background-received-image:;
}

VolumeBar MSliderStyle#MediaVolumeBar {
    background-elapsed-image: "meegotouch-mediavolume" 3 3 3 3;
}

VolumeBar MSliderStyle#CallVolumeBar {
    background-elapsed-image: "meegotouch-callvolume" 3 3 3 3;
}

VolumeBarStyle#CallVolumeBarHidden {
    minimum-size: 0 0;
    maximum-size: 0 0;
}

VolumeBarStyle#MediaVolumeBarHidden {
    minimum-size: 0 0;
    maximum-size: 0 0;
}

VolumeBarContainer#StatusMenuVolumeBarContainer ProfileVolumeBarStyle {
    interactive: true;
}

VolumeBarContainer#StatusBarVolumeBarContainer ProfileVolumeBarStyle {
    interactive: false;
}

ProfileVolumeBarStyle {
    animation-duration: 150;
    animation-update-interval: 20;
    animation-easing-curve: outexpo;
}

ProfileVolumeBarStyle.Portrait {
    minimum-size: 46.8mm 3.0mm;
    maximum-size: 46.8mm 3.0mm;
}

ProfileVolumeBarStyle.Landscape {
    minimum-size: 100% 3.0mm;
    maximum-size: 100% 3.0mm;
}

ProfileVolumeBar MSliderStyle {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;

    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    handle-pixmap:;
    handle-pressed-pixmap:;
    background-image:;
    background-base-image: "meegotouch-volume-background" 3 3 3 3;
    background-elapsed-image: "meegotouch-ringer-active" 3 3 3 3;
    background-received-image:;
    groove-thickness: 2.4mm;
    min-label-fixed-width: 0;
    max-label-fixed-width: 0;
    groove-margin: 0;
    elapsed-offset: 0;

    reactive-margin-top: 2mm;
    reactive-margin-bottom: 2mm;
    reactive-margin-left: 17.2mm;
}

ProfileVolumeBar MSliderStyle:disabled {
    handle-pixmap:;
    handle-pressed-pixmap:;
    background-image:;
    background-base-image: "meegotouch-volume-background" 3 3 3 3;
    background-elapsed-image: "meegotouch-ringer-active" 3 3 3 3;
    background-received-image:;
}

ProfileVolumeBar MLabelStyle {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0.4mm;
    padding-right: 0;

    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    minimum-size: 8mm 2.4mm;
    maximum-size: 8mm 2.4mm;

    font: $FONT_XXSMALL_BOLD;
    text-opacity: 1.0;
    color: white;
}

ProfileVolumeBar MLabelStyle#Profile {
    minimum-size: -1 2.4mm;
    maximum-size: -1 2.4mm;
}

ProfileVolumeBar MWidgetStyle#Spacer {
    minimum-size: 0.6mm 2.4mm;
    maximum-size: 0.6mm 2.4mm;
    background-color: black;
    background-image:;
}

/* Label that has not been selected, and is not superceded by a higher selection */
ProfileVolumeBar MLabelStyle#ProfileInactiveNoSlider {
    background-image: "meegotouch-volume-background" 3 3 3 3;
}

/* Label that was selected, but is superceded by a higher selection - like
  "beep" when "ring" is active  */
ProfileVolumeBar MLabelStyle#ProfileInactive {
    background-image: "meegotouch-ringer-inactive" 3 3 3 3;
    text-opacity: 0.4;
}

/* Currently active profile label */
ProfileVolumeBar MLabelStyle#ProfileActive {
    background-image: "meegotouch-ringer-active" 3 3 3 3;
}

ProfileVolumeBarStyle#ProfileVolumeBarHidden {
    minimum-size: 0 0;
    maximum-size: 0 0;
}

/* Status area volume bar styles */
MOverlay VolumeBarContainerStyle {
    minimum-size: 100% 3.6mm;
    maximum-size: 100% 3.6mm;
}

MOverlay VolumeBarStyle {
    interactive: false;
    minimum-size: 100% 3.0mm;
    maximum-size: 100% 3.0mm;
}

MOverlay ProfileVolumeBarStyle {
    interactive: false;
    minimum-size: 100% 3.0mm;
    maximum-size: 100% 3.0mm;
}

MOverlay MLabelStyle#Profile.Landscape {
    minimum-size: -1 2.4mm;
    maximum-size: -1 2.4mm;
}

MOverlay MLabelStyle#ProfileActive.Landscape {
    minimum-size: 13.7mm 2.4mm;
    maximum-size: 13.7mm 2.4mm;
}

MOverlay MLabelStyle#ProfileInactiveNoSlider.Landscape {
    minimum-size: 13.7mm 2.4mm;
    maximum-size: 13.7mm 2.4mm;
}

MOverlay MLabelStyle#ProfileInactive.Landscape {
    minimum-size: 13.7mm 2.4mm;
    maximum-size: 13.7mm 2.4mm;
}

/* Status indicator menu volume bar styles */
StatusIndicatorMenu VolumeBarContainerStyle {
    padding-left: 0.6mm;
    padding-right: 0.6mm;
    /* TODO: remove this when status bar is 36px high */
    padding-top: 0.6mm;
}

StatusIndicatorMenu VolumeBarStyle {
    /* This is not 1.8mm since the bar is 3.0mm, not 2.4mm */
    margin-bottom: 1.2mm;
}

StatusIndicatorMenu VolumeBarStyle.Landscape {
    minimum-size: 46.8mm 3.0mm;
    preferred-size: 46.8mm 3.0mm;
    maximum-size: 46.8mm 3.0mm;
}

MLabelStyle#StatusMenuVolumeCallMedia {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0; 
    margin-right: 0;

    maximum-size: -1 3.8mm;
    minimum-size: -1 3.8mm;
    font: $FONT_FAMILY normal 2.2mm;
    color: #ffffff;
}

StatusIndicatorMenu ProfileVolumeBarStyle {
    /* This is not 1.8mm since the bar is 3.0mm, not 2.4mm */
    margin-bottom: 1.2mm;
}

StatusIndicatorMenu ProfileVolumeBarStyle.Landscape {
    minimum-size: 46.8mm 3.0mm;
    preferred-size: 46.8mm 3.0mm;
    maximum-size: 46.8mm 3.0mm;
}
