

DuiProgressIndicator#circle {
    maximum-size: size( 80, 80);
    active-image: "Dot-accented";
    inactive-image: "Dot-empty";
    active-element: "Dot-accented";
    inactive-element: "Dot-empty";
}

/* DuiLabelStyle, #DetailsLabel*/
#DetailsLabel {
    /*color: $COLOR_TEXT;*/
    font: "Nokia Sans" 16; /*$FONT_SMALL;*/
    /* FONT_SMALL, FONT_DEFAULT */
    /* inherited from DuiWidgetStyle */
}
/*
#pkgmgrList {
    group-header-object-name: "CommonHeader";
    margin-right: 0;
    padding-right:  0;
}
*/
/*
#pkgmgrListGroupHeaders {

    //background-image: "Divider-with-label";

    padding-left:   10;
    padding-top:    2;
    padding-right:  10;
    padding-bottom: 0;

    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;

    //font: "Nokia Sans" 14;

    horizontal-text-align : left;
    vertical-text-align : center;
    //text-margin-left : 5;
 
    //preferred-size: 90% 32;
    //minimum-size: 75% 32;
    //maximum-size: 100% 32;
}
*/
/*
#pkgmgrListItem {
    padding-right: 0;
    margin-right: 0;
    //image-object-name: "ContentItemImage";
}
*/

MListStyle#InvertedList
{
    group-header-object-name : "CommonGroupHeaderPanelInverted"
}

PackageListItem MLabelStyle#CommonSubTitleInverted{
    margin-bottom: 0;
}

#pkgmgrUpdateAllButton.Landscape {
    //preferred-size: 50% 50;
    //maximum-size: 50% 50;
    margin-top: 25;
}

#pkgmgrUpdateAllButton.Portrait {
    //preferred-size: 100% 50;
    //maximum-size: 100% 50;
    margin-top: 25;
}

#pkgmgrLabelWhiteText {
    color: #FFFFFF;
}

#pkgmgrCommonHeaderWithCustomMargins {
    margin-left:   $MARGIN_XLARGE;
    margin-right:  $MARGIN_XLARGE;

    // Inherited properties. TODO: How to handle inhetitance properly from CommonHeader?
    font : $FONT_SMALL;
    color : #FFFFFF;					// TBD
    margin-top : $MARGIN_XSMALL;
    margin-bottom : 0;
}

#pkgmgrCommonSubTextWithCustomMargins {
    margin-left:    $MARGIN_XLARGE;
    margin-right:   $MARGIN_XLARGE;
    margin-top :    $MARGIN_LARGE;
    margin-bottom : $MARGIN_LARGE;

    // Inherited properties. TODO: How to handle inhetitance properly from CommonSubText?
    font : $FONT_SMALL;
    color : #95969B;					// TBD
}

#sizeTitle {
    margin-left:    $MARGIN_XLARGE;
    /*margin-right:   $MARGIN_XLARGE;*/
    margin-top :    $MARGIN_LARGE;
    margin-bottom : $MARGIN_LARGE;

    // Inherited properties. TODO: How to handle inhetitance properly from CommonSubText?
    font : $FONT_SMALL;
    color : #95969B;					// TBD
}

#sizeNumber {
    margin-left:    $MARGIN_XSMALL;
    margin-right:   $MARGIN_XLARGE;
    margin-top :    $MARGIN_LARGE;
    margin-bottom : $MARGIN_LARGE;

    // Inherited properties. TODO: How to handle inhetitance properly from CommonSubText?
    font : $FONT_SMALL;
    color : #95969B;					// TBD
}

#emptyText {
    font: $FONT_FAMILY light 62px;
    color: #000000;
    //text-opacity: 10%;
}

#noCloseButtonDialogStyle {
    has-close-button: false;
}

@const BUTTON_SIZE: 51px;


// Cache refresh button on updates page
MWidgetController#IconButtonHeader MButtonStyle#CommonHeaderRightIcon:disabled
{
    content-opacity: 0.4;
}


// Icon buttons on updates page
MWidgetController#IconButton MButtonStyle#CommonSingleButtonInverted
{
    preferred-size: $BUTTON_SIZE $BUTTON_SIZE;
    maximum-size: $BUTTON_SIZE $BUTTON_SIZE;
    minimum-size: $BUTTON_SIZE $BUTTON_SIZE;
    //background-tiles: meegotouch-button-background $CORNER_MARGINS;
}

MWidgetController#IconButton MButtonStyle#CommonSingleButtonInverted:disabled
{
    //background-opacity: 0.4;
    content-opacity: 0.4;
}

MWidgetController#IconButtonSpinner MSpinnerStyle#CommonListItemSpinnerInverted{
    margin-right: 25px;
}


DeviceUpdateDialog MLabelStyle#CommonItemInfoInverted
{
    margin-bottom : 0;
}

@const CSUBTITLE_FONT: $FONT_FAMILY light 22;
@const CSUBTITLE_COLOR: $COLOR_SECONDARY_FOREGROUND;


// List item size title
MWidgetController#SmallRightMargin MLabelStyle#CommonSubTextInverted{
    margin-right:   4;
}

// List item size value
MWidgetController#SmallLeftMargin MLabelStyle#CommonSubTextInverted{
    margin-left:   4;
}

// List item error indicator in applications page
MWidgetController#CommonPanelInverted MImageWidgetStyle#CommonRightIcon{
    margin-top:   $MARGIN_XXLARGE;
}


// Dependencies dialog size title
MWidgetController#SmallRightMargin MLabelStyle#CommonQueryText{
    margin-right:   4;
}

// Dependencies dialog size value
MWidgetController#SmallLeftMargin MLabelStyle#CommonQueryText{
    margin-left:   4;
}

// Override color of OS update failed dialog
MWidgetController#WarningDialogTitle MLabelStyle#CommonQueryTitle{
    color: $COLOR_WARNING;
}

MWidgetController#BodyTextWithBottomMarginContainer MLabelStyle#CommonBodyTextInverted{
    margin-top:    0;
    margin-bottom: 8px;
    margin-left:   0;
    margin-right:  0;
}

// Override margins of detail field in details page
MWidgetController#BodyTextWithBottomMargin MLabelStyle#CommonBodyTextInverted{
    margin-top:    0;
    margin-bottom: 8px;
    margin-left:   0;
    margin-right:  0;
}

// Override bottom margin of label in details page
MWidgetController#BodyTextWithSmallBottomMargin MLabelStyle#CommonBodyTextInverted{
    margin-bottom: 0.2mm;
    //active-highlight-color: red;
    //highlight-color: red;
}

// Override top margin of label in details page
MWidgetController#BodyTextWithSmallTopMargin MLabelStyle#CommonBodyTextInverted{
    margin-top:    0.2mm;
    //active-highlight-color: red;
    //highlight-color: green;
}

// Override top and bottom margins of label in details page
MWidgetController#BodyTextWithSmallTopAndBottomMargin MLabelStyle#CommonBodyText{
    margin-top:    0.2mm;
    margin-bottom: 0.2mm;
    //active-highlight-color: red;
    //highlight-color: green;
}

// Margin between short description and long description uses MARGIN_LARGE (TODO: Is this used anymore?)
MWidgetController#BodyTextWithSmallTopMarginAndLargeBottomMargin MLabelStyle#CommonBodyText{
    margin-top:    0.2mm;
    margin-bottom: $MARGIN_LARGE;
}

// Used for short description
MWidgetController#BodyTextWithLargeBottomMargin MLabelStyle#CommonBodyTextInverted{
    margin-bottom: $MARGIN_LARGE;
}

// Navigation bar button for deep-linked pages
MWidgetController#CustomNavigationBarContent MButtonStyle#CommonSingleButton{
    //margin-left:    0;
    preferred-size:   40px -1;
    maximum-size:     40px -1;
}

// For black theme
MApplicationWindowStyle {
    navigation-bar-style-name: "MNavigationBarStyleInverted";
    tool-bar-style-name: "MToolBarStyleInverted";
    tab-bar-style-name: "MToolbarTabStyleInverted";
}

MWidgetController#LeftAbsolute MLabelStyle{
    horizontal-alignment: absolute left;
}

// OS update download size on left hand of the status text should have mirrored values of the right edge
MWidgetController#ItemInfoMirrored MLabelStyle#CommonItemInfoInverted{
    margin-left:  $INDENT_DEFAULT;
    margin-right:  $MARGIN_MEDIUM;
}

// Override all message boxes to use 64x64 icon
MMessageBoxStyle
{
    icon-style-name: "CommonMainIcon";
}

