@const DOC_WIDGET_COLOR: #1F51AF;

#CommonHeaderPanelInverted {
    background-image: ;
    background-color: $DOC_WIDGET_COLOR;
}

MApplicationWindowStyle {
    navigation-bar-style-name: "MNavigationBarStyleInverted";
    tool-bar-style-name: "MToolBarStyleInverted";
    tab-bar-style-name: "MToolbarTabStyleInverted";
}

MApplicationWindowStyle.Landscape {
    navigation-bar-style-name: "MNavigationBarStyleInverted";
    tool-bar-style-name: "MToolBarStyleInverted";
    tab-bar-style-name: "MToolbarTabStyleInverted";
}

MApplicationWindowStyle.Portrait {
    navigation-bar-style-name: "MNavigationBarStyleInverted";
    tool-bar-style-name: "MToolBarStyleInverted";
    tab-bar-style-name: "MToolbarTabStyleInverted";
}

#CommonSubTextInverted {
 font: $FONT_FAMILY_LIGHT_T 22;
 }



