MslOverlayLabelStyle {
    background-color: $COLOR_BACKGROUND;
    background-opacity: 1.0;

    preferred-size: 14.4mm 14.4mm;
    minimum-size: $SIZE_LIST $SIZE_LIST;
    maximum-size: 14.2mm 14.2mm;

    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;

    overlay-height: 3.0mm;
    overlay-bottom-margin: 0;
}

MslOverlayLabelStyle:selected {
    background-color: $COLOR_INVERTED_FOREGROUND;
    background-opacity: 1.0;
}

MslOverlayLabelStyle:pressed {
    background-color: $COLOR_INVERTED_FOREGROUND;
    background-opacity: 1.0;
}

#OverlayText {
    margin-left: 0.4mm;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0mm;

    font: $FONT_XSMALL_LIGHT;
    color: $COLOR_INVERTED_FOREGROUND;
}

#OverlayBackground {
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;

    background-color: #000000;
    background-opacity: 0.8;
}

#OverlaySmallImage {
    margin-left: 0.4mm;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;

    icon-size: 2.8mm;

    preferred-size: 2.8mm 2.8mm;
}
