
TimePickerStyle#TimePicker.Landscape
{
	minimum-size: 356px 356px;
	preferred-size: 356px 356px;
	maximum-size: 356px 356px;
}

TimePickerStyle#TimePicker.Portrait
{
	minimum-size: 416px 416px;
	preferred-size: 416px 416px;
	maximum-size: 416px 416px;
}

TimeView MLabelStyle#TimeLabel {
    color: $COLOR_INVERTED_FOREGROUND;
    font: $FONT_FAMILY_LIGHT_T 60px;

    minimum-size: -1 108;
    maximum-size: -1 108;
    preferred-size: -1 108;

    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;

    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;

    text-margin-left: 0;
    text-margin-top: 0;
    text-margin-right: 0;
    text-margin-bottom: 0;
}

TimeView MLabelStyle#AmPmLabel {
    color: $COLOR_INVERTED_FOREGROUND;
    font: $FONT_FAMILY light 32px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20;
    margin-bottom: 0;

    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;

    text-margin-left: 0;
    text-margin-top: 0;
    text-margin-right: 0;
    text-margin-bottom: 0;
}

TimeView MLabelStyle#TimeLabelChanged {
    color: $COLOR_ACCENT1;
    font: $FONT_FAMILY_LIGHT_T 60px;

    minimum-size: -1 108;
    maximum-size: -1 108;
    preferred-size: -1 108;

    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;

    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;

    text-margin-left: 0;
    text-margin-top: 0;
    text-margin-right: 0;
    text-margin-bottom: 0;
}

#BigSpacer {
    preferred-size: -1 76px;
    minimum-size: -1 76px;
    maximum-size: -1 76px;
}

DateView MLabelStyle#MeegoDateLabel {
    align: center; 
    color: $COLOR_ACCENT1;
    font: $FONT_FAMILY light 27px;
}


DateView MLabelStyle#DateLabel {
    align: center; 
    preferred-size: -1 50px;
    minimum-size: -1 50px;
    maximum-size: -1 50px;
    color: $COLOR_ACCENT1;
    font: $FONT_FAMILY light 50px;
}

DateView  MButtonStyle#MonthNameButton {
    /* Month and year label */
    text-color: $COLOR_BACKGROUND;
}

DateView MButtonStyle#MonthNameButton:pressed {
    /* Month and year label pressed */
    text-color: $COLOR_ACCENT1;
}

DateView > MLabelStyle#MagnifierLabel {
    background-image: "meegotouch-datepicker-magnifier-background";
    color: $COLOR_BACKGROUND;
}

#DatePickerFakeStyle.Portrait {
    preferred-size: -1 47.6mm;
    minimum-size: -1 47.6mm;
}

#DatePickerFakeStyle.Landscape {
    preferred-size: 450px -1;
    minimum-size: 450px -1;
}

DateView DatePickerStyle {
    background-image: "meegotouch-datepicker-monthgrid-background-portrait" 0 0 32 0;

    current-day-font: $FONT_FAMILY bold 24;
    selected-day-font: $FONT_FAMILY bold 24;
    /* Week day name label */
    week-day-name-color:  #999999;
    /* Weekend day name label */
    week-day-name-weekend-color: $COLOR_ACCENT1;
    /* Current day label */
    current-month-sunday-color: $COLOR_BACKGROUND;
    /* Day of the next or previous month*/
    other-month-sunday-color: #999999;
    /* Selected day label */
    selected-current-day-color: $COLOR_BACKGROUND;
    /* Current day label */
    current-day-color: $COLOR_ACCENT1;

    /* Selected day indication */
    selected-day-image: "meegotouch-datepicker-monthgrid-daycell-selected-day-portrait";
    selected-current-day-image: "meegotouch-datepicker-monthgrid-daycell-selected-day-current-portrait";
    /* Current day background */
    current-day-image: "meegotouch-datepicker-monthgrid-daycell-current-day-portrait";
}


