@const CTITLE_FONT:                    $FONT_FAMILY bold 26;
@const CTITLE_COLOR_INVERTED:          $COLOR_INVERTED_FOREGROUND;
@const CTITLE_COLOR_DISABLED_INVERTED: #797979;

MApplicationWindowStyle {
             navigation-bar-style-name: "MNavigationBarStyleInverted";
             tool-bar-style-name: "MToolBarStyleInverted";
             tab-bar-style-name: "MToolbarTabStyleInverted";
}

MWindowStyle {
    x11-startup-pixmap:;
    startup-fill-color: $COLOR_INVERTED_BACKGROUND;
}

#CommonSubTextInverted {
    color: $COLOR_WARNING;
}

#titleLabel {
    /* Transparent */
    background-opacity: 0;
    font: $FONT_XLARGE;
}

#ContentItemTitle {
    font: $FONT_XLARGE;
}

#colorButton {
    preferred-size: 64 64;
    background-color: #000;
}

#colorButtonInverted {
    preferred-size: 64 64;
    margin-left: $MARGIN_XLARGE;
    background-color: #fff;
}

#MfeHeaderPanel {
    preferred-size: -1 96;
    padding-top: $MARGIN_LARGE;
    padding-bottom: $MARGIN_LARGE;
    padding-right: $MARGIN_XLARGE;
/*    background-image: meegotouch-email-settings-header-small;*/
}
/*here is styles for colour palette in mfe calendar settings*/
#CalendarColorSelectionDialogFrame.Landscape {
    margin-left: 4.9mm;
    margin-right: 4.9mm;
}
#CalendarColorSelectionContainer.Landscape {
    background-color: #000000;
    margin-top: 0.7mm;
    margin-bottom: 0.7mm;
    margin-left: 1.1mm;
    margin-right: 1.1mm;
}

#CalendarColorSelectionContainer.Portrait {
    background-color: #000000;
    margin-top: 2.3mm;
    margin-bottom: 2.3mm;
    margin-left: 0.9mm;
    margin-right: 0.9mm;
}
#CalendarColorSelectionButton.Landscape {
    minimum-size: 70px 42px;
    maximum-size: 70px 42px;
    preferred-size: 70px 42px;
    margin-top: 0px;
    margin-bottom: 6px;
    margin-left: 3px;
    margin-right: 3px;
}

#CalendarColorSelectionButton.Portrait {
    minimum-size: 8mm 8mm;
    maximum-size: 8mm 8mm;
    preferred-size: 8mm 8mm;
    margin-top: 0.3mm;
    margin-bottom: 0.3mm;
    margin-left: 0.3mm;
    margin-right: 0.3mm;
}

#MfeSingleTitleInverted {
    font:          $CTITLE_FONT;
    color:         $CTITLE_COLOR_INVERTED;
    margin-top:    0;
    margin-bottom: 0;
    margin-left:   $INDENT_DEFAULT;
    margin-right:  $INDENT_DEFAULT;
}
#MfeSingleTitleInverted:disabled {
    color:         $CTITLE_COLOR_DISABLED_INVERTED;
}

