MeVideoWidgetStyle {

}

MeVideoWidget MButtonStyle#MeVideoPlayButton {
    icon-align: center;
    minimum-size: 8mm -1;
    maximum-size: 8mm -1;
}

MeVideoWidget MLabelStyle#CommonSeekerLabel {
/* Override the common style font size as this looks better */
    font: $FONT_XSMALL;
}

MeVideoWidget MSliderStyle#CommonSeekerInverted {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;

    minimum-size:                       -1 4.4mm;
    preferred-size:                     -1 4.4mm;
    maximum-size:                       -1 4.4mm;
}

MeVideoWidget MButtonStyle#MeResumeButton {
    minimum-size: 6.4mm 6.4mm;
    maximum-size: 6.4mm 6.4mm;
    preferred-size: 6.4mm 6.4mm;
    icon-size: 6.4mm 6.4mm;
}

MeVideoWidget MWidgetStyle#MeVideoControlBar
{
    minimum-size: -1 6.4mm;
    preferred-size: -1 6.4mm;
    maximum-size: -1 6.4mm;

    background-color: #000000;
}
