
FullScreenMediaWidget MLabelStyle#CommonTitleInverted {
    margin-top: 0;
}

/* We use the "selected" variant for the "usb no items" */
GalleryPeopleListPage MLabelStyle#CommonEmptyStateTitleInverted:selected {
    color: $COLOR_ACCENT10;
}
MediaWidget MLabelStyle#CommonEmptyStateTitleInverted:selected {
    color: $COLOR_ACCENT10;
}

GridView MButtonIconStyle#HighlightStyle {
    /* this refers to image highlight color */
    background-color: $COLOR_ACCENT10;
    /* this refers to video highlight color */
    glow-color: $COLOR_ACCENT11;
}

ToolsDialog MImageWidgetStyle#OriginalImage {
    minimum-size: 41.6mm 23.4mm;
    maximum-size: 41.6mm 24.4mm;
    preferred-size: 41.6mm 24.4mm;
    margin-top: $MARGIN_DOUBLE;
    margin-left: $MARGIN_DOUBLE;
    margin-right: $MARGIN_DOUBLE;
    margin-bottom: $MARGIN_DOUBLE;
}

FullScreenMediaWidget MButtonStyle#PlayButton {
    minimum-size: 6.4mm 6.4mm;
    maximum-size: 6.4mm 6.4mm;
    preferred-size: 6.4mm 6.4mm;
    icon-size: 6.4mm 6.4mm;
}

GridView MButtonIconStyle#ThumbnailStyle {
    /* These styles are for Video Thumbnail */
    font: $FONT_XSMALL;
    text-color: #ffffff;
    background-color: #000000;
    background-opacity: 0.7;
    text-margin-top: $MARGIN_SMALL;
    text-margin-right: $MARGIN_DOUBLE;
    text-margin-left: $MARGIN_DOUBLE;
    text-margin-bottom: $MARGIN_SMALL;
    /* Size for a video duration. The height is the only thing that is really used. */
    preferred-size: 170 30;

    /* this refers to favorite icon offset from top-right corner of thumbnail */
    /* left is also needed for right-to-left support */
    margin-top: $MARGIN_SMALL;
    margin-right: $MARGIN_SMALL;
    margin-left: $MARGIN_SMALL;
    /* this refers to thumbnail duration offset from bottom-right corner of thumbnail */
    margin-bottom: $MARGIN_DOUBLE;
}

GalleryContactNameEditor MLabelStyle#GalleryEditorInputFieldResolved {
    font: $FONT_FAMILY normal 26;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: $PADDING_LARGE;
    padding-right: $PADDING_LARGE;
    color: $COLOR_INVERTED_FOREGROUND;
    background-color: $COLOR_ACCENT10;
    minimum-size: 0 34px;
    preferred-size: -1 34px;
    maximum-size: -1 34px;
}

GalleryContactNameEditor MLabelStyle#GalleryEditorInputFieldUnresolved {
    font: $FONT_FAMILY normal 26;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: $PADDING_LARGE;
    padding-right: $PADDING_LARGE;
    color: $COLOR_INVERTED_FOREGROUND;
    background-image: meegotouch-messaging-recipient-bubble-unresolved-normal 10 10 10 10;
    minimum-size: 0 34px;
    preferred-size: -1 34px;
    maximum-size: -1 34px;
}

GalleryContactNameEditor MLabelStyle#GalleryEditorInputFieldAmbiguous {
    font: $FONT_FAMILY normal 26;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: $PADDING_LARGE;
    padding-right: $PADDING_LARGE;
    color: $COLOR_FOREGROUND;
    background-image: meegotouch-messaging-recipient-bubble-ambiguous-normal 10 10 10 10;
    minimum-size: 0 34px;
    preferred-size: -1 34px;
    maximum-size: -1 34px;
}

GalleryFaceConfirmationSheet MLabelStyle#GalleryEditorInputFieldLabel {
    font:   $FONT_FAMILY_LIGHT 26px;
    color:  $COLOR_SECONDARY_FOREGROUND;
    margin-top:     15px;
    margin-bottom:  11px;
    margin-right:   0;
    margin-left:    $INDENT_DEFAULT;
    vertical-alignment: top;
}

GalleryFaceConfirmationSheet MLabelStyle#GalleryEditorInputFieldLabel:selected {
    color: $COLOR_ACCENT10;
}
