/* The .Landscape below is needed to make the style rules still apply.
   The system might provide new style selectors that are more specific
   than the one above and thus the rulse would be overridden.  */

@const GROB_LINE_EDIT_FONT: $FONT_FAMILY light 24;

MTextEditStyle#lineEdit {
    font: $GROB_LINE_EDIT_FONT;

    /* Remove system theme properties to get unstyled widget. */
    background-opacity: 1.0;
    background-color: none;
    background-image: none;

    /* Remove system theme properties related to positioning, so that we
       get consistent placement.  */
    maximum-size: -1 -1;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

MTextEditStyle#lineEdit.Landscape {
    font: $GROB_LINE_EDIT_FONT;

    /* Remove system theme properties to get unstyled widget. */
    background-opacity: 1.0;
    background-color: none;
    background-image: none;

    /* Remove system theme properties related to positioning, so that we
       get consistent placement.  */

    maximum-size: -1 -1;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

MImageWidgetStyle#addToLauncherThumbnail {
     preferred-size: 80 80;
    maximum-size: 80 80;
    margin-left: 25;
    margin-right: 25;
    margin-top: 40;
    margin-bottom: 40;
}

MTextEditStyle#addToLauncherTitle {
    margin-left: 25;
    margin-right: 25;
    margin-top: 40;
    margin-bottom: 40;
}

MDialogStyle#ReconfirmGeolocationPermissionsDialog {
    dialog-button-fixed-width: 300;
}

MDialogStyle#BrowserViewViewMenu {
    has-title-bar: false;
    has-close-button: false;
}

MWidgetController#HttpAuthDialog MLabelStyle#CommonHeader {
    margin-bottom: 0;
}

MWidgetController#HttpAuthDialog MLabelStyle#CommonBodyText {
    margin-top: 0;
}

MWidgetController#HttpAuthDialog MTextEditStyle {
    margin-top: $MARGIN_XLARGE;
    margin-bottom: $MARGIN_XLARGE;

    margin-left:   $INDENT_DEFAULT;
    margin-right:  $INDENT_DEFAULT;
}

MDialogStyle#SelectSearchEngineDialog.Landscape {
    dialog-top-margin: 0.0mm;
}

MWidgetController#SelectSearchEngineList MContentItemStyle {
    margin-left: 0;
    margin-top: 20;
    maximum-size: 200 88;
}

MWidgetController#SelectSearchEngineList MContentItemStyle.Landscape{
    margin-left: 144;
    maximum-size: 200 88;
}

MWidgetController#SelectSearchEngineList MContentItemStyle#ContentItemImage{
    preferred-size: 32 32;
    maximum-size: 32 32;
    minimum-size: 32 32;
}

