#VideoSheetPlayerWindow {
    navigation-bar-style-name: "MNavigationBarStyleInverted";
}

MWindowStyle {
    x11-startup-pixmap: ;
    startup-fill-color: black;
}

MWindowStyle.Landscape {
    x11-startup-pixmap: ;
    startup-fill-color: black;
}

VideoSheetPlayerStyle {
    pause-indicator-id : "icon-l-common-video-playback";
    play-icon-id : "icon-m-toolbar-mediacontrol-play-white";
    pause-icon-id : "icon-m-toolbar-mediacontrol-pause-white";
    stop-icon-id : "icon-m-toolbar-mediacontrol-stop-white";
    forward-icon-id : "icon-m-toolbar-mediacontrol-forward-white";
    rewind-icon-id : "icon-m-toolbar-mediacontrol-backwards-white";
}

#VideoSheetPlayerWindow {
    navigation-bar-style-name: "MNavigationBarStyleInverted";
}

#VideoControlButton {
    icon-align: center;
    minimum-size: 8mm -1;
    maximum-size: 8mm -1;
}

#VideoPlayBackControl {
    background-image: "meegotouch-video-play-back-control-background";
}

#VideoControlPauseIndicator {
    background-image:;
    background-opacity: 0.0;
    icon-size: 8mm 8mm;
    minimum-size: 8mm 8mm;
    maximum-size: 8mm 8mm;
}

#CommonSeekerInverted {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    background-elapsed-image: "color11-meegotouch-slider-elapsed-inverted-background-horizontal" 4px 4px 4px 4px;
    background-received-image: "color11-meegotouch-slider-received-inverted-background-horizontal" 4px 4px 4px 4px;
}

#MSliderMinMaxLabel {
    font: $FONT_FAMILY light 22;
    color: #797979;
}

#PlayerPage {
    minimum-size:   85.4mm 35.2mm;
    preferred-size: 85.4mm 35.2mm;
    maximum-size:   85.4mm 35.2mm;

    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

#PlayerPageBottomSpacer {
    margin-top: 0;
    margin-bottom: 0;
    minimum-size: 85.4mm 6.4mm;
    maximum-size: 85.4mm 6.4mm;
    preferred-size: 85.4mm 6.4mm;
}

/*The height of the navbar is set to oversized due the visible thin line in bottom of the navbar*/
/*The correct height is 6.4mm*/
#NavigationToolbar {
    margin-top: 0;
    margin-bottom: 0;
    minimum-size: 85.4mm 7.0mm;
    maximum-size: 85.4mm 7.0mm;
    preferred-size: 85.4mm 7.0mm;
    background-image:  meegotouch-sheet-header-inverted-background 15px 15px 15px 15px;
}

#MSheetStyle {
    header-slot-style-name: "CommonSheetHeaderPanelInverted";
}

MBasicSheetHeader > MSpinnerStyle {
    base-image-name: "spinnerinverted";
}

MBasicSheetHeaderStyle {
    background-image:  meegotouch-sheet-header-inverted-background 15px 15px 15px 15px;
}

/******************/
/* MmcInfoPage    */
/******************/
/* Overriding color based on bug #243234 */
#CommonEmptyStateTitleKeyword {
    color: $COLOR_ACCENT11;
}
