#EmptyStateProgressIndicator {
    base-image-name: "spinnerinverted";
}

#EmptyStateProgressIndicator.Portrait {
    margin-top:    379px;
    margin-left:    192px;
}

#EmptyStateProgressIndicator.Landscape {
    margin-top:    192px;
    margin-left:    379px;
}

/* ---------------------- FILTER DIALOG CONTENT ITEM ---------------------- */

ContentItemCreator MListItemStyle#PopupListItem {
    minimum-size:   $SIZE_LIST $SIZE_LIST;
    preferred-size: -1         $SIZE_LIST;
    maximum-size:   -1         $SIZE_LIST;
}

/* ---------------------- Message Editor ---------------------- */

SmsEditorHeader MLabelStyle#CommonApplicationHeader.Landscape {
    maximum-size:  268px -1; //300 - 2xINDENT_DEFAULT
    margin-top:    19px;
}

/*----------------------- InboxPage -------------------------------*/
#ConversationsHeader {
    title-object-name: "CommonTitle";
    sub-title-object-name: "CommonSubTitle";
}

InboxPage MLabelStyle#CommonGroupHeader {
   horizontal-alignment: right;
}

InboxPage MListItemStyle#CommonLargeViewHeaderPanel {
    background-image: color6-meegotouch-view-header-fixed 15px 15px 15px 15px;
}

InboxPage MListItemStyle#CommonLargeViewHeaderPanel:pressed {
    background-image: color6-meegotouch-view-header-fixed-pressed 15px 15px 15px 15px;
}

#CommonInboxUnreadItemInfo {
    color: $COLOR_ACCENT6;
}

#CommonInboxUnreadPanel {
    background-image: color6-meegotouch-unread-inbox-panel-background 17px 17px 17px 17px;
}

#CommonInboxUnreadPanel:selected {
    background-image: color6-meegotouch-unread-inbox-panel-background-pressed 17px 17px 17px 17px;
}

#CommonInboxUnreadPanel:pressed {
    background-image: color6-meegotouch-unread-inbox-panel-background-selected 17px 17px 17px 17px;
}

/* ---------------------- INBOX LIST, INDEX SCROLLING ---------------------- */
MListIndexTooltip MLabelStyle {
    font: $FONT_FAMILY 40;
    color: $COLOR_INVERTED_FOREGROUND;
}

MListStyle#WideIndexList {
    list-index-style-name: "WideIndex"
}

MListIndexStyle#WideIndex {
    preferred-size: 96px 100%;
}


/* ---------------------- INBOX PAGE FILTERING ---------------------- */

InboxPage MWidgetStyle#FilteringTextEditContainer {
    margin-top: 14px;
    margin-bottom: 14px;
    margin-left: $INDENT_DEFAULT;
    margin-right: $INDENT_DEFAULT;
    background-image: meegotouch-textedit-background $CORNER_MARGINS;
}

InboxPage MWidgetStyle#FilteringTextEditContainer:selected {
    background-image: color6-meegotouch-textedit-background-selected $CORNER_MARGINS;
}

FilteringTextEdit MTextEditStyle#CommonSingleInputField {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    background-image:;
    background-opacity: 0.0;
}

FilteringTextEdit MTextEditStyle#CommonSingleInputField:selected {
    background-image:;
    background-opacity: 0.0;
}

FilteringTextEdit MButtonStyle#FilteringButton {
    margin-right: $MARGIN_SMALL;
    icon-size: $SIZE_ICON_LARGE $SIZE_ICON_LARGE;
    minimum-size: 56px 56px;
    maximum-size: 56px 56px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    padding-top: 0;
    background-image:;
    background-color:;
    background-opacity: 0.0;
}

/* -------------------- NEEDED FOR CHAT CONTACT PICKER ---------------------- */

#CommonHeaderPanel {
    background-image: color6-meegotouch-view-header-fixed $CORNER_MARGINS;
    background-color: ;
}

#CommonHeaderPanelInboxNoFeedback {
    background-tiles:  ;
    background-image: color6-meegotouch-view-header-fixed 15px 15px 15px 15px;
    margin-top:        0;
    margin-bottom:     0;
    margin-left:       0;
    margin-right:      0;
}

#CommonHeaderPanelInboxNoFeedback.Portrait {
    minimum-size:      480px 72px;
    preferred-size:    480px 72px;
    maximum-size:      480px 72px;
}

#CommonHeaderPanelInboxNoFeedback.Landscape {
    minimum-size:      854px 64px;
    preferred-size:    854px 64px;
    maximum-size:      854px 64px;
}

/* ---------------------- CONVERSATION PAGE ---------------------- */

#BorderlessLayout_CV {
    margin-left:   0;
    margin-top:    0;
    margin-right:  0;
    margin-bottom: 0;
}

#BorderlessLayout_CV.Landscape {
    minimum-size:   0 0;
    preferred-size: 100% 315px;
    maximum-size:   100% 315px;
}

#BorderlessLayout_CV.Portrait {
    minimum-size:   0 0;
    preferred-size: 100% 685px;
    maximum-size:   100% 685px;
}

MLabelStyle#PortraitConversationSpacer {
    margin-top: 0;
    margin-bottom: 0;
    minimum-size: -1 100px;
    preferred-size: -1 100px;
    maximum-size: -1 100px;
}

#ConversationSeparator {
    margin-right: 0;
    margin-left: $MARGIN_SMALL;
    margin-top: 0;
    margin-bottom: 0;
}

#PanViewport {
    margint-lef:   0;
    margin-right:  0;
    margin-top:    0;
    margin-bottom: 0;
}

#PanViewport.Landscape {
    minimum-size:   854px 408px;
    preferred-size: 854px 408px;
    maximum-size:   854px 408px;
}

#PanViewport.Portrait {
    minimum-size:   480px 746px;
    preferred-size: 480px 746px;
    maximum-size:   480px 746px;
}

#PanViewportSmall {
    margint-lef:   0;
    margin-right:  0;
    margin-top:    0;
    margin-bottom: 0;
}

#PanViewportSmall.Landscape {
    minimum-size:   854px 372px;
    preferred-size: 854px 372px;
    maximum-size:   854px 372px;
}

#PanViewportSmall.Portrait {
    minimum-size:   480px 746px;
    preferred-size: 480px 746px;
    maximum-size:   480px 746px;
}

/*---------------------  ConverstaioListItemView  --------------------*/

#CommonInboxFailedItemInfo {
    font:              $FONT_FAMILY light 18;
    color:             $COLOR_WARNING;
    margin-left:       $INDENT_DEFAULT;
    margin-right:      $INDENT_DEFAULT;
    margin-top:        5px;
    margin-bottom:     0;
}
#CommonInboxFailedItemInfo:selected {
    color: $COLOR_INVERTED_FOREGROUND;
}

/* ---------------------- CONVERSATION PAGE TEXT PANEL---------------------- */

// TODO: should be font family regular but that does crash, so light for now
#ContactInfoTitleStyle {
    font : $FONT_FAMILY light 26;
    margin-top : 6px;
    margin-right : $MARGIN_LARGE;
    margin-left : 0;
    margin-bottom : 0;
    color: $COLOR_FOREGROUND;
}

#ContactInfoSubtitleStyle {
    font : $FONT_FAMILY light 18;
    margin-top : 0;
    margin-right : $MARGIN_LARGE;
    margin-left : 0;
    margin-bottom : $MARGIN_DOUBLE;
    color: $COLOR_SECONDARY_FOREGROUND;
}

// TODO: should be font family regular but that does crash, so light for now
#SmsHeaderTitleLabel {
    font : $FONT_FAMILY light 26;
    margin-top : 0;
    margin-right : $INDENT_DEFAULT;
    margin-left : 0;
    margin-bottom : 0;
    color: $COLOR_FOREGROUND;
}

MTextEditStyle#MessagingTextEdit{

    padding-left:   0;
    padding-top:    0;
    padding-right:  0;
    padding-bottom: 0;

    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;

    background-image:;
    background-opacity: 0.0;

    font : $FONT_DEFAULT;
}

MTextEditStyle#MessagingTextEdit.Landscape{

    maximum-size: 778px -1;
    minimum-size: 778px -1;
    preferred-size: 778px -1;
}

MTextEditStyle#MessagingTextEdit.Portrait{

    maximum-size: 404px -1;
    minimum-size: 404px -1;
    preferred-size: 404px -1;
}

MTextEditStyle#MessagingTextEditMMS{

    padding-left:   0;
    padding-top:    0;
    padding-right:  0;
    padding-bottom: 0;

    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;

    background-image:;
    background-opacity: 0.0;

    font : $FONT_DEFAULT;
}

MTextEditStyle#MessagingTextEditMMS.Landscape{

    maximum-size: 746px -1;
    minimum-size: 746px -1;
    preferred-size: 746px -1;
}

MTextEditStyle#MessagingTextEditMMS.Portrait{

    maximum-size: 372px -1;
    minimum-size: 372px -1;
    preferred-size: 372px -1;
}

MWidgetStyle#ConversationViewTextEdit{

    maximum-size: 100% -1;
    minimum-size: 100% -1;
    preferred-size: 100% -1;

    padding-left:   $INDENT_DEFAULT;
    padding-top:    $PADDING_XLARGE;
    padding-right:  $INDENT_DEFAULT;
    padding-bottom: $PADDING_XLARGE;

    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;

    background-image: meegotouch-messaging-textedit-background 10px 10px 10px 10px;
    reactive-margin-top: 10px;
}

MTextEditStyle#SMSMessagingTextEdit{

    background-image: meegotouch-messaging-textedit-background 10px 10px 10px 10px;
}

#ConversationViewServiceIcon {
    minimum-size: 32px 32px;
    maximum-size: 32px 32px;
    preferred-size: 32px 32px;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: $MARGIN_DOUBLE;
}

#ServiceIcon {
    minimum-size: 32px 32px;
    maximum-size: 32px 32px;
    preferred-size: 32px 32px;
    margin-top: $MARGIN_MEDIUM;
    margin-left: 0;
    margin-bottom: $MARGIN_MEDIUM;
    margin-right: $MARGIN_XLARGE;
}

#InboxViewport.Landscape {
    minimum-size: 854px 353px;
    maximum-size: 854px 480px;
    preferred-size: 854px 480px;
    margin-left:   0;
    margin-top:    0;
    margin-right:  0;
    margin-bottom: 0;
}

#InboxViewport.Portrait {
    minimum-size: 480px 674px;
    maximum-size: 480px 854px;
    preferred-size: 480px 854px;
    margin-left:   0;
    margin-top:    0;
    margin-right:  0;
    margin-bottom: 0;
}

#SpinnerLayout.Landscape {
    minimum-size: 854px 352px;
    maximum-size: 854px 352px;
    preferred-size: 854px 352px;
    margin-left:   0;
    margin-top:    0;
    margin-right:  0;
    margin-bottom: 0;
}

#SpinnerLayout.Portrait {
    minimum-size: 480px 726px;
    maximum-size: 480px 726px;
    preferred-size: 480px 726px;
    margin-left:   0;
    margin-top:    0;
    margin-right:  0;
    margin-bottom: 0;
}

/* ---------------------- SMS EDITOR TEXT PANEL---------------------- */
#SmsEditorHeader.Portrait {
    background-image: meegotouch-messaging-header-large-floating 12px 12px 12px 2px;
}

/* ----------------------- FIRST TIME PAGE ------------------------ */
MApplicationPageStyle#EmptyStatePage.Portrait {
    background-image: "meegotouch-accounts-portrait-background";
}

MApplicationPageStyle#EmptyStatePage.Landscape {
    background-image: "meegotouch-accounts-landscape-background";
}

/* ---------------------- BORDERLESS LAYOUTS ---------------------- */

#BorderlessLayout {
    margin-left:   0;
    margin-top:    0;
    margin-right:  0;
    margin-bottom: 0;
}

#BorderlessLayout_Welcome {
    margin-left:   0;
    margin-top:    0;
    margin-right:  0;
}

#BorderlessLayout_Welcome.Portrait {
    margin-bottom: 72px;
}

#BorderlessLayout_Welcome.Landscape {
    margin-bottom: 64px;
}

/* ----------------------------- vcard page ----------------------------- */
#RecipientsEditor {
    background-color: $COLOR_BACKGROUND;
    background-image: ;
}

#SmsVCardPageContactCard {

    minimum-size:   0 0;
    maximum-size:   100% 94px;
    preferred-size: 100% 94px;

    background-image: meegotouch-messaging-textedit-background 10px 10px 10px 10px;

    padding-top:    $PADDING_XLARGE;
    padding-bottom: $PADDING_XLARGE;
    padding-left:   $INDENT_DEFAULT;
    padding-right:  $INDENT_DEFAULT;
}

SmsVCardPage MImageWidgetStyle#CommonThumbnail {
    margin-left:   0;
    margin-right:  0;
    margin-top:    0;
    margin-bottom: 0;
}

SmsVCardPage MLabelStyle#CommonTitle {
    font:           $FONT_FAMILY bold 22px;
    color:          $COLOR_FOREGROUND;
    margin-right:   $MARGIN_DOUBLE;
    margin-left:    $MARGIN_DOUBLE;
    margin-top:     0;
    margin-bottom:  0;
}

SmsVCardPage MLabelStyle#CommonSubTitle {
    font:           $FONT_FAMILY light 18px;
    color:          $COLOR_SECONDARY_FOREGROUND;
    margin-right:   $MARGIN_DOUBLE;
    margin-left:    $MARGIN_DOUBLE;
    margin-top:     0;
    margin-bottom:  0;
}

#SmsVCardPageBackground {

    minimum-size:   0 0;
    preferred-size: 100% 100%;
    maximum-size:   100% 100%;
    background-image: meegotouch-messaging-textedit-background 10px 10px 10px 10px;
}

/* ------------------------ White font for header widgets -----------------*/
#CommonLargeViewHeader {
   color: #FFFFFF;
}

/* ------------------------------ Date time picker----- ------------------ */
MWidgetController MButtonStyle#MonthNameButton {
    text-color: #000000;
}

DatePickerStyle#contactDatePicker {
    current-month-color: #000000;
    week-day-name-weekend-color: $COLOR_ACCENT7;
    background-image: "meegotouch-calendar-monthgrid-background-landscape";
    selected-day-image: "meegotouch-datepicker-monthgrid-daycell-selected-day-portrait" 16 16 16 16;
    current-day-image: "meegotouch-monthgrid-daycell-current-day-landscape" 16 16 16 16;
}


/* ------------------ Emoticon selector widget buttons ----------------- */

#SelectionGridButtonLeft {
    margin-top:      0.7mm;
    margin-bottom:   0.6mm;
    margin-left:     $INDENT_DEFAULT;
    margin-right:    0.3mm;

    text-color:      #FFFFFF;
    background-image:meegotouch-button-inverted-background $CORNER_MARGINS;

    press-feedback: priority2_static_press;
    release-feedback: priority2_static_release;
}

#SelectionGridButtonLeft:pressed {
    background-image:meegotouch-button-inverted-background-pressed $CORNER_MARGINS;
    text-color:      #797979;
}

#SelectionGridButtonLeft:selected {
    background-image:meegotouch-button-inverted-background-selected $CORNER_MARGINS;
    text-color:      #FFFFFF;
}

#SelectionGridButtonLeft:disabled {
    background-image:meegotouch-button-inverted-background-disabled $CORNER_MARGINS;
    text-color:      #4E4E4E;
}


#SelectionGridButtonCenter {
    margin-top:      0.7mm;
    margin-bottom:   0.6mm;
    margin-left:     0.3mm;
    margin-right:    0.3mm;

    text-color:      #FFFFFF;
    background-image:meegotouch-button-inverted-background $CORNER_MARGINS;

    press-feedback: priority2_static_press;
    release-feedback: priority2_static_release;
}

#SelectionGridButtonCenter:pressed {
    background-image:meegotouch-button-inverted-background-pressed $CORNER_MARGINS;
    text-color:      #797979;
}

#SelectionGridButtonCenter:selected {
    background-image:meegotouch-button-inverted-background-selected $CORNER_MARGINS;
    text-color:      #FFFFFF;
}

#SelectionGridButtonCenter:disabled {
    background-image:meegotouch-button-inverted-background-disabled $CORNER_MARGINS;
    text-color:      #4E4E4E;
}


#SelectionGridButtonRight {
    margin-top:      0.7mm;
    margin-bottom:   0.6mm;
    margin-left:     0.3mm;
    margin-right:    $INDENT_DEFAULT;

    text-color:      #FFFFFF;
    background-image:meegotouch-button-inverted-background $CORNER_MARGINS;

    press-feedback: priority2_static_press;
    release-feedback: priority2_static_release;
}

#SelectionGridButtonRight:pressed {
    background-image:meegotouch-button-inverted-background-pressed $CORNER_MARGINS;
    text-color:      #797979;
}

#SelectionGridButtonRight:selected {
    background-image:meegotouch-button-inverted-background-selected $CORNER_MARGINS;
    text-color:      #FFFFFF;
}

#SelectionGridButtonRight:disabled {
    background-image:meegotouch-button-inverted-background-disabled $CORNER_MARGINS;
    text-color:      #4E4E4E;
}

/* ------------------ MucParticipantsPage ----------------- */

#MucParticipantsPageToolbarSpinner {
    base-image-size: $SIZE_SPINNER_TOOLBAR;
    margin-top:      0;
    margin-bottom:   0;
    margin-left:     0;
    margin-right:    2.6mm;
    minimum-size:    3.2mm 3.2mm;
    preferred-size:  3.2mm 3.2mm;
    maximum-size:    3.2mm 3.2mm;
}


/*------------------- MMS expand/collapse animation --------------- */
MBasicLayoutAnimationStyle#MmsExpandAnimation {
    x-translation-easing-curve: inoutquint;
    y-translation-easing-curve: inoutquint;
    duration: 350;
}
