MToolbarStyle {
    capacity: 5;
    has-spaces: true;
}
MToolbarStyle.Landscape {
    center-common-buttons-to-parent: true;
}

MButtonIconStyle[toolbar] {
    text-color: $COLOR_FOREGROUND;
    icon-size: 40px 40px;
}
MButtonStyle[toolbar]:pressed {
    text-color: $COLOR_FOREGROUND;
}
MButtonStyle[toolbar]:selected {
    text-color: $COLOR_FOREGROUND;
}
MButtonStyle[toolbar]:disabled {
    content-opacity: 0.3;
}

MButtonStyle#ToolBarLabelOnlyCommonButton {
    background-image: "meegotouch-toolbar-textbutton-background" 20px 20px 20px 20px;

    margin-left: $MARGIN_SMALL;
    margin-top: 7px;
    margin-right: $MARGIN_SMALL;
    margin-bottom: 7px;

    minimum-size:    42px 42px;
    preferred-size: 180px 42px;
    maximum-size:   180px 42px;
}

MButtonStyle#ToolBarLabelOnlyCommonButton.Portrait {
    margin-top: 15px;
    margin-bottom: 15px;
}
MButtonStyle#ToolBarLabelOnlyCommonButton:pressed {
    text-color: $COLOR_FOREGROUND;
    background-image: "meegotouch-toolbar-textbutton-background-pressed" 20px 20px 20px 20px;
}
MButtonStyle#ToolBarLabelOnlyCommonButton:selected {
    background-image: "meegotouch-toolbar-textbutton-background-selected" 20px 20px 20px 20px;
}
MButtonStyle#ToolBarLabelOnlyCommonButton:disabled {
    background-image: "meegotouch-toolbar-textbutton-background-disabled" 20px 20px 20px 20px;
}

/* Disabled states must be empty here */

MButtonStyle#ToolBarLabelOnlyButton:disabled {
    background-image: none;
}

MButtonStyle#ToolBarIconButton:disabled {
    background-image: none;
}

MTextEditStyle[toolbar] {
    margin-left: 14px;
    margin-right: 14px;
}
MTextEditStyle[toolbar].Landscape {
    margin-top: 1px;
    margin-bottom: 1px;
}
MTextEditStyle[toolbar].Portrait{
    margin-top: $MARGIN_LARGE;
    margin-bottom: $MARGIN_LARGE;
}

