
MToolbarTabStyle.Landscape {
    has-spaces: false;
    has-icons: false;
    has-labels: true;
    capacity: 4;
}
MToolbarTabStyle.Portrait {
    has-spaces: false;
    has-icons: true;
    has-labels: true;
    capacity: 4;
}

MButtonStyle[toolbartab] {
    font: $FONT_DEFAULT;
    text-color: $COLOR_BUTTON_SECONDARY_FOREGROUND;
    icon-size: 40px 40px;
}
MButtonStyle[toolbartab].Portrait {
    font: $FONT_XXSMALL;

    background-tiles: "meegotouch-tab-portrait-bottom-background" 35px 35px 35px 35px;
}
MButtonStyle[toolbartab].Landscape {
    preferred-size: 100% $HEIGHT_NAVIGATIONBAR_LANDSCAPE;
    maximum-size: 100% $HEIGHT_NAVIGATIONBAR_LANDSCAPE;

    background-tiles: "meegotouch-tab-landscape-bottom-background" 27px 27px 27px 27px;
}

MButtonStyle[toolbartab]:pressed {
    text-color: $COLOR_BUTTON_FOREGROUND;
}
MButtonStyle[toolbartab].Portrait:pressed {
    background-tiles: "meegotouch-tab-portrait-bottom-background-pressed" 35px 35px 35px 35px;
}
MButtonStyle[toolbartab].Landscape:pressed {
    background-tiles: "meegotouch-tab-landscape-bottom-background-pressed" 27px 27px 27px 27px;
}

MButtonStyle[toolbartab]:selected {
    text-color: $COLOR_BUTTON_FOREGROUND;
}
MButtonStyle[toolbartab].Portrait:selected {
    background-tiles: "meegotouch-tab-portrait-bottom-background-selected" 35px 35px 35px 35px;
}
MButtonStyle[toolbartab].Landscape:selected {
    font: $FONT_DEFAULT_BOLD;
    background-tiles: "meegotouch-tab-landscape-bottom-background-selected" 27px 27px 27px 27px;
}

MButtonStyle[toolbartab]:disabled {
    content-opacity: 0.3;
}
MButtonStyle[toolbartab].Portrait:disabled-selected {
    background-tiles: "meegotouch-tab-portrait-bottom-background-selected" 35px 35px 35px 35px;
    content-opacity: 0.3;
}
MButtonStyle[toolbartab].Landscape:disabled-selected {
    background-tiles: "meegotouch-tab-landscape-bottom-background-selected" 27px 27px 27px 27px;
    content-opacity: 0.3;
}


/* CUSTOM STYLES */

/* Tabs on BOTTOM with just icons. */
MToolbarTabStyle#TabsBottomWithIcon {
    has-icons: true;
    has-labels: false;
}


/* Tabs on BOTTOM with just labels. */
MToolbarTabStyle#TabsBottomWithLabel {
    has-icons: false;
    has-labels: true;

    label-only-button-style-name: "BottomTabLabelButton"; 
}


/* #BottomTabLabelButton */
MButtonStyle#BottomTabLabelButton {
    font: $FONT_DEFAULT;
}

MButtonStyle#BottomTabLabelButton:selected {
    font: $FONT_DEFAULT_BOLD;
}


/* Portrait: Tabs on TOP with icons and labels.
   Landscape: Tabs on TOP with just labels.
   In MApplicationWindowStyle floatable-tab-bar should be set to true and tool-bar-tab-style-name set to "TabsTop" */
MDockWidgetStyle#TabsTop.Portrait {
    background-image: "meegotouch-tabbar-portrait-top-background" 35px 35px 35px 35px;
    vertical-align: top;
}

MDockWidgetStyle#TabsTop.Landscape{
    background-image: "meegotouch-tabbar-landscape-top-background" 27px 27px 27px 27px;
    vertical-align: top;
}

MToolbarTabStyle#TabsTop {
    icon-label-button-style-name: "TopTabButton"; 
    label-only-button-style-name: "TopTabButton"; 
}


/* #TopTabButton */
MButtonStyle#TopTabButton.Portrait {
    background-tiles: "meegotouch-tab-portrait-top-background" 35px 35px 35px 35px;
}

MButtonStyle#TopTabButton.Landscape {
    background-tiles: "meegotouch-tab-landscape-top-background" 27px 27px 27px 27px;
}

MButtonStyle#TopTabButton.Portrait:pressed {
    background-tiles: "meegotouch-tab-portrait-top-background-pressed" 35px 35px 35px 35px;
}

MButtonStyle#TopTabButton.Landscape:pressed {
    background-tiles: "meegotouch-tab-landscape-top-background-pressed" 27px 27px 27px 27px;
}

MButtonStyle#TopTabButton.Portrait:selected {
    background-tiles: "meegotouch-tab-portrait-top-background-selected" 35px 35px 35px 35px;
}

MButtonStyle#TopTabButton.Landscape:selected {
    background-tiles: "meegotouch-tab-landscape-top-background-selected" 27px 27px 27px 27px;
}

MButtonStyle#TopTabButton.Portrait:disabled-selected {
    background-tiles: "meegotouch-tab-portrait-top-background-selected" 35px 35px 35px 35px;  
}

MButtonStyle#TopTabButton.Landscape:disabled-selected {
    background-tiles: "meegotouch-tab-landscape-top-background-selected" 27px 27px 27px 27px; 
}


/* Tabs on TOP with just icons.
   In MApplicationWindowStyle floatable-tab-bar should be set to true and tool-bar-tab-style-name set to "TabsTopWithIcon" */
MDockWidgetStyle#TabsTopWithIcon.Landscape {
    background-image: "meegotouch-tabbar-landscape-top-background" 27px 27px 27px 27px;
    vertical-align: top;
}

MDockWidgetStyle#TabsTopWithIcon.Portrait {
    background-image: "meegotouch-tabbar-portrait-top-background" 35px 35px 35px 35px;
    vertical-align: top;
}

MToolbarTabStyle#TabsTopWithIcon {
    has-icons: true;
    has-labels: false;

    label-only-common-button-style-name: "TopTabButton";
    label-only-button-style-name: "TopTabButton";
    icon-button-style-name: "TopTabButton";
    icon-label-button-style-name: "TopTabButton";
}


/* Tabs on TOP with just labels.
   In MApplicationWindowStyle floatable-tab-bar should be set to true and tool-bar-tab-style-name set to "TabsTopWithLabel" */
MDockWidgetStyle#TabsTopWithLabel.Landscape {
    background-image: "meegotouch-tabbar-landscape-top-background" 27px 27px 27px 27px;
    vertical-align: top;
}

MDockWidgetStyle#TabsTopWithLabel.Portrait {
    background-image: "meegotouch-tabbar-portrait-top-background" 35px 35px 35px 35px;
    vertical-align: top;
}

MToolbarTabStyle#TabsTopWithLabel {
    has-icons: false;
    has-labels: true;

    label-only-common-button-style-name: "TopTabLabelButton";
    label-only-button-style-name: "TopTabLabelButton";
    icon-button-style-name: "TopTabButton";
    icon-label-button-style-name: "TopTabButton";
}


/* #TopTabLabelButton */
MButtonStyle#TopTabLabelButton {
    font: $FONT_DEFAULT;
}

MButtonStyle#TopTabLabelButton:selected {
    font: $FONT_DEFAULT_BOLD;
}

MButtonStyle#TopTabLabelButton.Portrait {
    background-tiles: "meegotouch-tab-portrait-top-background" 35px 35px 35px 35px;
}

MButtonStyle#TopTabLabelButton.Landscape {
    background-tiles: "meegotouch-tab-landscape-top-background" 27px 27px 27px 27px;
}

MButtonStyle#TopTabLabelButton.Portrait:pressed {
    background-tiles: "meegotouch-tab-portrait-top-background-pressed" 35px 35px 35px 35px;
}

MButtonStyle#TopTabLabelButton.Landscape:pressed {
    background-tiles: "meegotouch-tab-landscape-top-background-pressed" 27px 27px 27px 27px;
}

MButtonStyle#TopTabLabelButton.Portrait:selected {
    background-tiles: "meegotouch-tab-portrait-top-background-selected" 35px 35px 35px 35px;
}

MButtonStyle#TopTabLabelButton.Landscape:selected {
    background-tiles: "meegotouch-tab-landscape-top-background-selected" 27px 27px 27px 27px;
}

MButtonStyle#TopTabLabelButton.Portrait:disabled-selected {
    background-tiles: "meegotouch-tab-portrait-top-background-selected" 35px 35px 35px 35px;  
}

MButtonStyle#TopTabLabelButton.Landscape:disabled-selected {
    background-tiles: "meegotouch-tab-landscape-top-background-selected" 27px 27px 27px 27px;
}



/*********** Inverted Style *************/

MToolbarTabStyle#MToolbarTabStyleInverted.Portrait {
    label-only-common-button-style-name: "BottomTabButtonInverted";
    label-only-button-style-name: "BottomTabButtonInverted";
    icon-button-style-name: "BottomTabButtonInverted";
    icon-label-button-style-name: "BottomTabButtonInverted";
}

MToolbarTabStyle#MToolbarTabStyleInverted.Landscape {
    label-only-common-button-style-name: "BottomTabLabelButtonInverted";
    label-only-button-style-name: "BottomTabLabelButtonInverted";
    icon-button-style-name: "BottomTabLabelButtonInverted";
    icon-label-button-style-name: "BottomTabLabelButtonInverted";
}


/* #BottomTabButtonInverted */
MButtonStyle#BottomTabButtonInverted { 
    text-color: $COLOR_INVERTED_SECONDARY_FOREGROUND;
    font: $FONT_XXSMALL;
}

MButtonStyle#BottomTabButtonInverted.Landscape {
    background-tiles: "meegotouch-tab-landscape-bottom-inverted-background" 27px 27px 27px 27px;
}

MButtonStyle#BottomTabButtonInverted.Portrait {    
    background-tiles: "meegotouch-tab-portrait-bottom-inverted-background" 35px 35px 35px 35px;
}

MButtonStyle#BottomTabButtonInverted:pressed {
    text-color: $COLOR_INVERTED_FOREGROUND;
}

MButtonStyle#BottomTabButtonInverted.Landscape:pressed {
    background-tiles: "meegotouch-tab-landscape-bottom-inverted-background-pressed" 27px 27px 27px 27px;
}

MButtonStyle#BottomTabButtonInverted.Portrait:pressed {
    background-tiles: "meegotouch-tab-portrait-bottom-inverted-background-pressed" 35px 35px 35px 35px;
}

MButtonStyle#BottomTabButtonInverted:selected {
    text-color: $COLOR_INVERTED_FOREGROUND;
}

MButtonStyle#BottomTabButtonInverted.Landscape:selected {
    background-tiles: "meegotouch-tab-landscape-bottom-inverted-background-selected" 27px 27px 27px 27px;
}

MButtonStyle#BottomTabButtonInverted.Portrait:selected {
    background-tiles: "meegotouch-tab-portrait-bottom-inverted-background-selected" 35px 35px 35px 35px;    
}

MButtonStyle#BottomTabButtonInverted.Landscape:disabled-selected {
    background-tiles: "meegotouch-tab-landscape-bottom-inverted-background-selected" 27px 27px 27px 27px;
}

MButtonStyle#BottomTabButtonInverted.Portrait:disabled-selected {
    background-tiles: "meegotouch-tab-portrait-bottom-inverted-background-selected" 35px 35px 35px 35px;
}


/* #BottomTabLabelButtonInverted */
MButtonStyle#BottomTabLabelButtonInverted {
    font: $FONT_DEFAULT;
    text-color: $COLOR_INVERTED_SECONDARY_FOREGROUND;
}

MButtonStyle#BottomTabLabelButtonInverted.Landscape {
    background-tiles: "meegotouch-tab-landscape-bottom-inverted-background" 27px 27px 27px 27px;
}

MButtonStyle#BottomTabLabelButtonInverted.Portrait {
    background-tiles: "meegotouch-tab-portrait-bottom-inverted-background" 35px 35px 35px 35px;
}

MButtonStyle#BottomTabLabelButtonInverted:pressed { 
    text-color: $COLOR_INVERTED_FOREGROUND;
}

MButtonStyle#BottomTabLabelButtonInverted.Landscape:Pressed {
    background-tiles: "meegotouch-tab-landscape-bottom-inverted-background-pressed" 27px 27px 27px 27px;
}

MButtonStyle#BottomTabLabelButtonInverted.Portrait:pressed {
    background-tiles: "meegotouch-tab-portrait-bottom-inverted-background-pressed" 35px 35px 35px 35px;
 }

MButtonStyle#BottomTabLabelButtonInverted:selected {
    font: $FONT_DEFAULT_BOLD;
    text-color: $COLOR_INVERTED_FOREGROUND;
}

MButtonStyle#BottomTabLabelButtonInverted.Landscape:selected {
    background-tiles: "meegotouch-tab-landscape-bottom-inverted-background-selected" 27px 27px 27px 27px;
}

MButtonStyle#BottomTabLabelButtonInverted.Portrait:selected {
    background-tiles: "meegotouch-tab-portrait-bottom-inverted-background-selected" 35px 35px 35px 35px;
}

MButtonStyle#BottomTabLabelButtonInverted.Landscape:disabled-selected {
    background-tiles: "meegotouch-tab-landscape-bottom-inverted-background-selected" 27px 27px 27px 27px;
}

MButtonStyle#BottomTabLabelButtonInverted.Portrait:disabled-selected {
    background-tiles: "meegotouch-tab-portrait-bottom-inverted-background-selected" 35px 35px 35px 35px;
}


/* Inverted tabs on BOTTOM with just icons. */
MToolbarTabStyle#TabsBottomWithIconInverted {
    has-icons: true;
    has-labels: false;

    label-only-common-button-style-name: "BottomTabButtonInverted";
    label-only-button-style-name: "BottomTabButtonInverted";
    icon-button-style-name: "BottomTabButtonInverted";
    icon-label-button-style-name: "BottomTabButtonInverted";
}


/* Inverted tabs on BOTTOM with just labels. */
MToolbarTabStyle#TabsBottomWithLabelInverted {
    has-icons: false;
    has-labels: true;

    label-only-common-button-style-name: "BottomTabLabelButtonInverted";
    label-only-button-style-name: "BottomTabLabelButtonInverted";
    icon-button-style-name: "BottomTabLabelButtonInverted";
    icon-label-button-style-name: "BottomTabLabelButtonInverted";
}


/* Portrait:  Inverted tabs on TOP with icons and labels.
   Landscape: Inverted tabs on TOP with just labels.
   In MApplicationWindowStyle floatable-tab-bar should be set to true and tool-bar-tab-style-name set to "TabsTop" */
MDockWidgetStyle#TabsTopInverted.Portrait {
    background-image: "meegotouch-tabbar-portrait-top-inverted-background" 35px 35px 35px 35px;
    vertical-align: top;
}

MDockWidgetStyle#TabsTopInverted.Landscape{
    background-image: "meegotouch-tabbar-landscape-top-inverted-background" 27px 27px 27px 27px;
    vertical-align: top;
}

MToolbarTabStyle#TabsTopInverted.Portrait {
    icon-label-button-style-name: "TopTabButtonInverted"; 
    label-only-button-style-name: "TopTabButtonInverted";
}

MToolbarTabStyle#TabsTopInverted.Landscape {
    icon-label-button-style-name: "TopTabLabelButtonInverted"; 
    label-only-button-style-name: "TopTabLabelButtonInverted";
}


/* #TopTabButtonInverted */
MButtonStyle#TopTabButtonInverted { 
    text-color: $COLOR_INVERTED_SECONDARY_FOREGROUND;
    font: $FONT_XXSMALL;
}

MButtonStyle#TopTabButtonInverted.Landscape {
    background-tiles: "meegotouch-tab-landscape-top-inverted-background" 27px 27px 27px 27px;
}

MButtonStyle#TopTabButtonInverted.Portrait {    
    background-tiles: "meegotouch-tab-portrait-top-inverted-background" 35px 35px 35px 35px;
}

MButtonStyle#TopTabButtonInverted:pressed {
    text-color: $COLOR_INVERTED_FOREGROUND;
}

MButtonStyle#TopTabButtonInverted.Landscape:pressed {
    background-tiles: "meegotouch-tab-landscape-top-inverted-background-pressed" 27px 27px 27px 27px;
}

MButtonStyle#TopTabButtonInverted.Portrait:pressed {
    background-tiles: "meegotouch-tab-portrait-top-inverted-background-pressed" 35px 35px 35px 35px;
}

MButtonStyle#TopTabButtonInverted:selected {
    text-color: $COLOR_INVERTED_FOREGROUND;
}

MButtonStyle#TopTabButtonInverted.Landscape:selected {
    background-tiles: "meegotouch-tab-landscape-top-inverted-background-selected" 27px 27px 27px 27px;
}

MButtonStyle#TopTabButtonInverted.Portrait:selected {
    background-tiles: "meegotouch-tab-portrait-top-inverted-background-selected" 35px 35px 35px 35px;    
}

MButtonStyle#TopTabButtonInverted.Landscape:disabled-selected {
    background-tiles: "meegotouch-tab-landscape-top-inverted-background-selected" 27px 27px 27px 27px;
}

MButtonStyle#TopTabButtonInverted.Portrait:disabled-selected {
    background-tiles: "meegotouch-tab-portrait-top-inverted-background-selected" 35px 35px 35px 35px;
}


/* #TopTabLabelButtonInverted */
MButtonStyle#TopTabLabelButtonInverted {
    font: $FONT_DEFAULT;
    text-color: $COLOR_INVERTED_SECONDARY_FOREGROUND;
}

MButtonStyle#TopTabLabelButtonInverted.Landscape {
    background-tiles: "meegotouch-tab-landscape-top-inverted-background" 27px 27px 27px 27px;
}

MButtonStyle#TopTabLabelButtonInverted.Portrait {
    background-tiles: "meegotouch-tab-portrait-top-inverted-background" 35px 35px 35px 35px;
}

MButtonStyle#TopTabLabelButtonInverted:pressed { 
    text-color: $COLOR_INVERTED_FOREGROUND;
}

MButtonStyle#TopTabLabelButtonInverted.Landscape:Pressed {
    background-tiles: "meegotouch-tab-landscape-top-inverted-background-pressed" 27px 27px 27px 27px;
}

MButtonStyle#TopTabLabelButtonInverted.Portrait:pressed {
    background-tiles: "meegotouch-tab-portrait-top-inverted-background-pressed" 35px 35px 35px 35px;
 }

MButtonStyle#TopTabLabelButtonInverted:selected {
    font: $FONT_DEFAULT_BOLD;
    text-color: $COLOR_INVERTED_FOREGROUND;
}

MButtonStyle#TopTabLabelButtonInverted.Landscape:selected {
    background-tiles: "meegotouch-tab-landscape-top-inverted-background-selected" 27px 27px 27px 27px;
}

MButtonStyle#TopTabLabelButtonInverted.Portrait:selected {
    background-tiles: "meegotouch-tab-portrait-top-inverted-background-selected" 35px 35px 35px 35px;
}

MButtonStyle#TopTabLabelButtonInverted.Landscape:disabled-selected {
    background-tiles: "meegotouch-tab-landscape-top-inverted-background-selected" 27px 27px 27px 27px;
}

MButtonStyle#TopTabLabelButtonInverted.Portrait:disabled-selected {
    background-tiles: "meegotouch-tab-portrait-top-inverted-background-selected" 35px 35px 35px 35px;
}


/* Inverted tabs on TOP with just icons.
   In MApplicationWindowStyle floatable-tab-bar should be set to true and tool-bar-tab-style-name set to "TabsTopWithIcon" */
MDockWidgetStyle#TabsTopWithIconInverted.Landscape {
    background-image: "meegotouch-tabbar-landscape-top-inverted-background" 27px 27px 27px 27px;
    vertical-align: top;
}

MDockWidgetStyle#TabsTopWithIconInverted.Portrait {
    background-image: "meegotouch-tabbar-portrait-top-inverted-background" 35px 35px 35px 35px;
    vertical-align: top;
}

MToolbarTabStyle#TabsTopWithIconInverted {
    has-icons: true;
    has-labels: false;

    label-only-common-button-style-name: "TopTabButtonInverted";
    label-only-button-style-name: "TopTabButtonInverted";
    icon-button-style-name: "TopTabButtonInverted";
    icon-label-button-style-name: "TopTabButtonInverted";
}


/* Inverted tabs on TOP with just labels.
   In MApplicationWindowStyle floatable-tab-bar should be set to true and tool-bar-tab-style-name set to "TabsTopWithLabel" */
MDockWidgetStyle#TabsTopWithLabelInverted.Landscape {
    background-image: "meegotouch-tabbar-landscape-top-inverted-background" 27px 27px 27px 27px;
    vertical-align: top;
}

MDockWidgetStyle#TabsTopWithLabelInverted.Portrait {
    background-image: "meegotouch-tabbar-portrait-top-inverted-background" 35px 35px 35px 35px;
    vertical-align: top;
}

MToolbarTabStyle#TabsTopWithLabelInverted {
    has-icons: false;
    has-labels: true;

    label-only-common-button-style-name: "TopTabLabelButtonInverted";
    label-only-button-style-name: "TopTabLabelButtonInverted";
    icon-button-style-name: "TopTabLabelButtonInverted";
    icon-label-button-style-name: "TopTabLabelButtonInverted";
}





/* Deprecated style name - some app might still use this */
MDockWidgetStyle#TabsBottomWithIconAndLabel.Portrait {
    background-image: "meegotouch-tabbar-portrait-bottom-background" 35px 35px 35px 35px;
    vertical-align: bottom;
}

