/* calculator spacer */
#styleCalcHorizontalLine {
    minimum-size: -1 14;
    maximum-size: -1 14;
    preferred-size: -1 14;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#styleCalcBackspace {
    background-image: "icon-m-input-methods-backspace";
}

#styleCalcButtonNum {
    background-image: "meegoui-calculator-button-up" $CONTENT_MARGINS;
    font: $FONT_FAMILY 72px;
    text-color: $COLOR_INVERTED_FOREGROUND;
    horizontal-text-align: hcenter;
    vertical-text-align: vcenter;
    minimum-size: 110 110;
    maximum-size: 110 110;
    preferred-size: 110 110;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    transition: "imploding-background";
}

#styleCalcButtonNum:pressed {
    background-image: "meegoui-calculator-button-down" $CONTENT_MARGINS;
    text-color: $COLOR_INVERTED_BACKGROUND;
}

#styleCalcButtonNum:selected {
    background-image: "meegoui-calculator-button-down" $CONTENT_MARGINS;
    text-color: $COLOR_INVERTED_BACKGROUND;
}

#styleCalcButtonOp {
    background-image: "meegoui-calculator-function-button-up" $CORNER_MARGINS;
    font: $FONT_FAMILY 70px ;
    text-color: $COLOR_INVERTED_SECONDARY_FOREGROUND;
    horizontal-text-align: hcenter;
    /*text-margin-top: 6px;*/
    minimum-size: 110 90;
    maximum-size: 110 90;
    preferred-size: 110 90;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
/*    transition: "expanding-background"; */
}

#styleCalcButtonOp:pressed {
    background-image: "meegoui-calculator-function-button-down" $CORNER_MARGINS;
    text-color: $COLOR_INVERTED_BACKGROUND;
}

#styleCalcButtonOp:selected {
    background-image: "meegoui-calculator-function-button-down" $CORNER_MARGINS;
    text-color: $COLOR_INVERTED_BACKGROUND;
}

#styleCalcButtonSub {
    background-image: "meegoui-calculator-function-button-up" $CORNER_MARGINS;
    font: $FONT_FAMILY 70px ;
    text-color: $COLOR_INVERTED_SECONDARY_FOREGROUND;
    horizontal-text-align: hcenter;
    /*vertical-text-align: vcenter;*/
    text-margin-bottom: 8px;
    minimum-size: 110 90;
    maximum-size: 110 90;
    preferred-size: 110 90;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
/*    transition: "expanding-background"; */
}

#styleCalcButtonSub:pressed {
    background-image: "meegoui-calculator-function-button-down" $CORNER_MARGINS;
    text-color: $COLOR_INVERTED_BACKGROUND;
}

#styleCalcButtonSub:selected {
    background-image: "meegoui-calculator-function-button-down" $CORNER_MARGINS;
    text-color: $COLOR_INVERTED_BACKGROUND;
}


#styleCalcButtonSign {
    background-image: "meegoui-calculator-function-button-up" $CORNER_MARGINS;
    font: $FONT_FAMILY 72px;
    text-color: $COLOR_INVERTED_SECONDARY_FOREGROUND;
    horizontal-text-align: hcenter;
    vertical-text-align: vcenter;
    minimum-size: 110 90;
    maximum-size: 110 90;
    preferred-size: 110 90;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    transition: "imploding-background";
}

#styleCalcButtonSign:pressed {
    background-image: "meegoui-calculator-function-button-down" $CORNER_MARGINS;
    background-opacity: 1.0;
    text-color: $COLOR_INVERTED_BACKGROUND;
}

#styleCalcButtonSign:selected {
    background-image: "meegoui-calculator-function-button-down" $CORNER_MARGINS;
    text-color: $COLOR_INVERTED_BACKGROUND;
}

#styleCalcButtonClear {
    background-image: "meegoui-calculator-function-button-up" $CORNER_MARGINS;
    font: $FONT_FAMILY 72px;
    text-color: $COLOR_INVERTED_SECONDARY_FOREGROUND;
    vertical-text-align: vcenter;
    text-margin-right: 24px;
    minimum-size: 110 90;
    maximum-size: 110 90;
    preferred-size: 110 90;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    transition: "imploding-background";
}

#styleCalcButtonClear:pressed {
    background-image: "meegoui-calculator-function-button-down" $CORNER_MARGINS;
    background-opacity: 1.0;
    text-color: $COLOR_INVERTED_BACKGROUND;
}

#styleCalcButtonClear:selected {
    background-image: "meegoui-calculator-function-button-down" $CORNER_MARGINS;
    text-color: $COLOR_INVERTED_BACKGROUND;
}


#styleCalcButtonEqual {
    background-image: "meegoui-calculator-button-up" $CONTENT_MARGINS;
    text-color: $COLOR_ACCENT18;
    font: $FONT_FAMILY 72px;
    horizontal-text-align: hcenter;
    vertical-text-align: vcenter;
    minimum-size: 110 110;
    maximum-size: 110 110;
    preferred-size: 110 110;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    transition: "imploding-background";
}

#styleCalcButtonEqual:pressed {
    background-image: "meegoui-calculator-button-down" $CONTENT_MARGINS;
    text-color: $COLOR_INVERTED_BACKGROUND;
}

#styleCalcButtonDot {
    background-image: "meegoui-calculator-button-up" $CONTENT_MARGINS;
    text-color: $COLOR_INVERTED_SECONDARY_FOREGROUND;
    font: $FONT_FAMILY 72px;
    horizontal-text-align: hcenter;
    vertical-text-align: vcenter;
    minimum-size: 110 110;
    maximum-size: 110 110;
    preferred-size: 110 110;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    transition: "imploding-background";
}

#styleCalcButtonDot:pressed {
    background-image: "meegoui-calculator-button-down" $CONTENT_MARGINS;
    text-color: $COLOR_INVERTED_BACKGROUND;
}

#styleCalcSeparatorOp {
    minimum-size: 30 90;
    maximum-size: 30 90;
    preferred-size: 30 90;
}

#styleCalcSeparatorNum {
    minimum-size: 30 30;
    maximum-size: 30 30;
    preferred-size: 30 30;
}

#calculationLineItem.Landscape {
    font: $FONT_FAMILY 80px;
    color: $COLOR_ACCENT18;
    minimum-size: -1 84;
    maximum-size: -1 84;
    preferred-size: -1 84;
    margin-left: 0; 
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}
			        
#calculationLineItem.Portrait {
    font: $FONT_FAMILY 120px;
    color: $COLOR_ACCENT18;
    minimum-size: -1 124;
    maximum-size: -1 124;
    preferred-size: -1 124;
    margin-left: 0; 
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#calculationLineItem1.Landscape {
    font: $FONT_FAMILY 78px;
    color: $COLOR_ACCENT18;
    minimum-size: -1 84;
    maximum-size: -1 84;
    preferred-size: -1 84;
    margin-left: 0; 
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}   

#calculationLineItem1.Portrait {
    font: $FONT_FAMILY 102px;
    color: $COLOR_ACCENT18;
    minimum-size: -1 124;
    maximum-size: -1 124;
    preferred-size: -1 124;
    margin-left: 0; 
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#calculationLineItem2.Landscape {
    font: $FONT_FAMILY 76px;
    color: $COLOR_ACCENT18;
    minimum-size: -1 84;
    maximum-size: -1 84;
    preferred-size: -1 84;
    margin-left: 0; 
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}   

#calculationLineItem2.Portrait {
    font: $FONT_FAMILY 76px;
    color: $COLOR_ACCENT18;
    minimum-size: -1 124;
    maximum-size: -1 124;
    preferred-size: -1 124;
    margin-left: 0; 
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#calculationLineItem3.Landscape {
    font: $FONT_FAMILY 74px;
    color: $COLOR_ACCENT18;
    minimum-size: -1 84;
    maximum-size: -1 84;
    preferred-size: -1 84;
    margin-left: 0; 
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}   

#calculationLineItem3.Portrait {
    font: $FONT_FAMILY 58px;
    color: $COLOR_ACCENT18;
    minimum-size: -1 124;
    maximum-size: -1 124;
    preferred-size: -1 124;
    margin-left: 0; 
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#calculationLineItem4.Landscape {
    font: $FONT_FAMILY 72px;
    color: $COLOR_ACCENT18;
    minimum-size: -1 84;
    maximum-size: -1 84;
    preferred-size: -1 84;
    margin-left: 0; 
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}   

#calculationLineItem4.Portrait {
    font: $FONT_FAMILY 42px;
    color: $COLOR_ACCENT18;
    minimum-size: -1 124;
    maximum-size: -1 124;
    preferred-size: -1 124;
    margin-left: 0; 
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#calculationLineItem5.Landscape {
    font: $FONT_FAMILY 68px;
    color: $COLOR_ACCENT18;
    minimum-size: -1 84;
    maximum-size: -1 84;
    preferred-size: -1 84;
    margin-left: 0; 
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}   

#calculationLineItem5.Portrait {
    font: $FONT_FAMILY 38px;
    color: $COLOR_ACCENT18;
    minimum-size: -1 124;
    maximum-size: -1 124;
    preferred-size: -1 124;
    margin-left: 0; 
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#calculationLineItem6.Landscape {
    font: $FONT_FAMILY 64px;
    color: $COLOR_ACCENT18;
    minimum-size: -1 84;
    maximum-size: -1 84;
    preferred-size: -1 84;
    margin-left: 0; 
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}   

#calculationLineItem6.Portrait {
    font: $FONT_FAMILY 30px;
    color: $COLOR_ACCENT18;
    minimum-size: -1 124;
    maximum-size: -1 124;
    preferred-size: -1 124;
    margin-left: 0; 
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#calculationLineItem7.Landscape {
    font: $FONT_FAMILY 60px;
    color: $COLOR_ACCENT18;
    minimum-size: -1 84;
    maximum-size: -1 84;
    preferred-size: -1 84;
    margin-left: 0; 
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}   

#calculationLineItem7.Portrait {
    font: $FONT_FAMILY 26px;
    color: $COLOR_ACCENT18;
    minimum-size: -1 124;
    maximum-size: -1 124;
    preferred-size: -1 124;
    margin-left: 0; 
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#calculationLineWidgetItem {
    minimum-size: -1 100;
    maximum-size: -1 100;
    preferred-size: -1 100;
    margin-left: 0; 
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}   

#CalculationLineButtonWidget
{
    margin-left: 0; 
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#CalculationLineButtonWidget.Portrait {
    margin-left: 0; 
}

#CalculationLineButton.Landscape
{
    minimum-size: 76 -1;
    maximum-size: 76 -1;
    preferred-size: 76 -1;
    background-tiles:;
    background-image:;
    background-boxed-percent: 0;
    background-opacity: 0.0;

    margin-left: 0; 
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;

    icon-size: 60 60;
    icon-align: vcenter;
}

#CalculationLineButton.Portrait
{
    minimum-size: 76 -1;
    maximum-size: 76 -1;
    preferred-size: 76 -1;
    
    margin-left: 0; 
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    
    icon-size: 60 60;
    icon-align: vcenter;
    background-tiles:;
    background-image:;
    background-boxed-percent: 0;
    background-opacity: 0.0;
}

#CalculationLineButton:pressed
{
    background-tiles:;
    background-image: ;
    background-boxed-percent: 0;
    background-opacity: 0;
}

MAbstractLayoutPolicyStyle#CalculationLineButtonPolicy
{
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

CalculationLineButtonWidgetStyle.Landscape
{
    maximum-size: -1 100;
    minimum-size: -1 100;
    preferred-size: -1 100;
    
    padding-left: 0px;
    padding-top: 0px;

    padding-right: 0px;
    padding-bottom: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;

    background-tiles:;
    background-color:;
    background-boxed-percent: 0;
    background-opacity: 0;
}

CalculationLineButtonWidgetStyle.Portrait
{
    maximum-size: -1 146;
    minimum-size: -1 146;
    preferred-size: -1 146;
}

MAbstractLayoutPolicyStyle#CalcLayout.Landscape {
    margin-left: 45;
    margin-top: 0;
    margin-bottom: 14;
}

MAbstractLayoutPolicyStyle#CalcLayout.Portrait {
    margin-left: 45;
    margin-right: 45;
    margin-top: 35;
    margin-bottom: 0;
}


MAbstractLayoutPolicyStyle#FunctionLayout.Landscape {
    margin-left: 0;
    margin-right: 64;
    margin-top: 0;
    margin-bottom: 0;
}


